@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Body
$body-bg: #ffffff;
$base-color: rgb(68, 68, 68);

// Typography
$font-family-base: 'Montserrat', sans-serif;
$font-weight-base: 400;
$headings-font-family: 'Montserrat', sans-serif;
$btn-font-family: $headings-font-family;
$font-size-base: 16px;
$line-height-base: 1.6;

$h1-font-weight: 600;
$h2-font-weight: 600;
$h3-font-weight: 600;
$h4-font-weight: 400;

$h5-font-size: 1.25rem;
$h5-font-weight: 400;

$primary: rgb(227, 30, 36);
$danger: rgb(227, 30, 36);
$info: rgb(124, 66, 227);
$dark: #212121;
$muted: rgb(227, 227, 227);
$text-muted: rgb(189, 189, 189);

$theme-colors: (
    "primary": $primary,
    "muted": $muted,
);

$spacers: (
    6: ($spacer * 5)
);

$breakpoints: (
    xs: 576px,
    sm: 768px,
    md: 992px,
    lg: 1200px,
    xlg: 1600px,
);

@mixin respond-to($breakpoint) {
    // If the breakpoint exists in the map.
    @if map-has-key($breakpoints, $breakpoint) {
        $next-breakpoint: nth(map_keys($breakpoints), index(map_keys($breakpoints), $breakpoint) + 1);
        $next-breakpoint-value: map-get($breakpoints, $breakpoint);

        // Write the media query.
        @media (max-width: $next-breakpoint-value) {
            @content;
        }

        // If the breakpoint doesn't exist in the map.
    } @else {

        // Log a warning.
        @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
}
