<template>
    <a class="product-search-result" :href="product.link">
        <div class="product-search-result__image" :style="c_imageStyle"></div>
        <div class="product-search-result__body">
            <div class="product-search-result__title">{{ product.name }}</div>
            <div class="product-search-result__price">от {{ product.lowPrice }}₽ за {{ product.countType }}</div>
        </div>
    </a>
</template>

<script>
    export default {
        name: "ProductSearchResult",
        props: ['product'],
        computed: {
            c_imageStyle() {
                if (!this.product.image)
                    return {};
                else return {
                    backgroundImage: `url(${this.product.image.thumbnail})`,
                }
            }
        }
    }
</script>

<style scoped lang="scss">
    .product-search-result {
        padding: 5px;
        font-size: 14px;
        line-height: 120%;
        display: flex;
        color: black;

        &:hover {
            background: #eeeeee;
        }
    }

    .product-search-result__image {
        background-size: cover;
        width: 40px;
        height: 40px;
        margin-right: 15px;
        flex-shrink: 0;
    }

    .product-search-result__title {
        font-weight: bold;
        color: #e30613;
    }
</style>
