<template>
    <div class="search-component">
        <div class="search-component__input-wrap">
            <input class="search-component__input" type="text" placeholder="Поиск"
                   v-model="d_query"
                   @input="handleInput"
            >
            <loading-component class="search-component__loading"
                               v-if="d_loading"
                               size="18px"
            />
            <span class="search-component__icon icofont-search" v-else></span>
            <span class="search-component__close-btn material-icons" role="button"
                  v-if="d_query"
                  @click="d_query = null"
            >close</span>
        </div>
        <div class="search-component__results" v-if="d_query && d_results">
            <div v-for="product in d_results.products">
                <product-search-result class="search-component__search-result"
                                       :product="product"></product-search-result>
            </div>
            <div v-if="!d_results.products.length" class="search-component__search-result p-2">
                <p>Ничего не найдено.</p>
            </div>
        </div>
    </div>
</template>

<script>
    import debounce from 'lodash/debounce';
    import {search} from "@/js/api/UserAPI";
    import ProductSearchResult from "@/js/components/User/Search/ProductSearchResult";
    import LoadingComponent from "@/js/components/utils/LoadingComponent";

    export default {
        name: "SearchComponent",
        components: {LoadingComponent, ProductSearchResult},
        data() {
            return {
                d_query: null,
                d_results: null,
                d_loading: false,
            };
        },
        methods: {
            handleInput: debounce(function () {
                if (this.d_query)
                    this.search(this.d_query);
            }, 500),
            async search(query) {
                this.d_loading = true;
                this.d_results = await search.search({
                    query,
                });
                this.d_loading = false;
            }
        },
    }
</script>

<style scoped lang="scss">
    @import "~@/sass/_variables.scss";

    .search-component {
        position: relative;
        width: 350px;
        @include respond-to(md) {
            width: 100%;
        }
    }

    .search-component__input-wrap {
        position: relative;
    }

    .search-component__icon {
        position: absolute;
        left: 0;
        top: 5px;
    }

    .search-component__loading {
        position: absolute;
        left: 0;
        top: 0;
    }

    .search-component__input {
        width: 100%;
        padding-left: 25px;
        border: none;
        border-bottom: 1px solid transparent;
        outline: none !important;

        &:focus {
            border-color: $primary;
        }

        &::placeholder {
            position: absolute;
            color: black;
        }
    }

    .search-component__search-result + .search-component__search-result {
        margin-top: 10px;
    }

    .search-component__results {
        width: 100%;
        position: absolute;
        background: white;
        z-index: 5;
        border: 1px solid #dadada;
    }

    .search-component__close-btn {
        cursor: pointer;
        position: absolute;
        right: 0;
        top: 2px;
        color: $primary;
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
    }
</style>
