<template>
    <div>
        <loading-component v-if="!orderProducts"></loading-component>
        <div v-show="orderProducts" class="chart-wrap">
            <canvas ref="canvas"></canvas>
        </div>
    </div>
</template>

<script>
    import LoadingComponent from "../../utils/LoadingComponent";
    import Chart from "chart.js/dist/Chart.js";

    export default {
        name: "ChartAmountByProducts",
        components: {LoadingComponent},
        props: ['orderProducts'],
        data() {
            return {
                d_chart: null
            }
        },
        watch: {
            orderProducts() {
                this.updateChart();
            }
        },
        computed: {
            c_data() {
                if (!this.orderProducts) return;

                let products = this.orderProducts.reduce((acc, item) => {
                    // if (item.status === 'ready') {
                    acc[item.product.name] = acc[item.product.name] || {total: 0, cost: 0};
                    acc[item.product.name].total += item.total;
                    acc[item.product.name].cost += item.cost;
                    // }
                    return acc;
                }, {});

                let colors = [];
                for (let i = 0; i < Object.keys(products).length; i++) {
                    colors.push("#" + ((1 << 24) * Math.random() | 0).toString(16));
                }

                let datasetIncome = {label: 'Прибыль', data: [], backgroundColor: '#7271ff'};
                let datasetCost = {label: 'Себестоимость', data: [], backgroundColor: '#ff5f62'};
                for (let productName in products) {
                    datasetIncome.data.push(products[productName].total - products[productName].cost);
                    datasetCost.data.push(products[productName].cost);
                }

                return {
                    datasets: [datasetCost, datasetIncome],
                    labels: Object.keys(products)
                };
            }
        },
        created() {
        },
        methods: {
            updateChart() {
                this.d_chart = new Chart(this.$refs.canvas.getContext('2d'), {
                    type: 'bar',
                    data: this.c_data,
                    options: {
                        tooltips: {
                            mode: 'label',
                            callbacks: {
                                label: function (tooltipItem, data) {
                                    let corporation = data.datasets[tooltipItem.datasetIndex].label;
                                    let valor = data.datasets[tooltipItem.datasetIndex].data[tooltipItem.index];

                                    // Loop through all datasets to get the actual total of the index
                                    let total = 0;
                                    for (let i = 0; i < data.datasets.length; i++)
                                        total += data.datasets[i].data[tooltipItem.index];

                                    // If it is not the last dataset, you display it as you usually do
                                    if (tooltipItem.datasetIndex != data.datasets.length - 1) {
                                        return corporation + ": " + valor.toFixed(0).replace(/(\d)(?=(\d{3})+\.)/g, '$1,');
                                    } else { // .. else, you display the dataset and the total, using an array
                                        return [corporation + ": " + valor.toFixed(0).replace(/(\d)(?=(\d{3})+\.)/g, '$1,'), "Всего: " + total];
                                    }
                                }
                            }
                        },
                        title: {
                            display: true,
                            text: 'Стоимость услуг'
                        },
                        legend: {
                            display: true
                        },
                        maintainAspectRatio: false,
                        scales: {
                            xAxes: [{
                                stacked: true
                            }],
                            yAxes: [{
                                stacked: true
                            }]
                        }
                    }
                });
            }
        }
    }
</script>

<style scoped>
    .chart-wrap {
        position: relative;
        height: 400px;
    }
</style>