<template>
    <div>
        <loading-component v-if="!orders"></loading-component>
        <div v-show="orders" class="chart-wrap">
            <canvas ref="canvas"></canvas>
            <h1 class="doughnut-label" v-if="orders">{{orders.length}}</h1>
        </div>
    </div>
</template>

<script>
    import LoadingComponent from "../../utils/LoadingComponent";
    import Chart from "chart.js/dist/Chart.js";
    import Colors from "../../../colors";

    export default {
        name: "ChartOrders",
        components: {LoadingComponent},
        props: ['orders'],
        data() {
            return {
                d_chart: null,
            }
        },
        watch: {
            orders() {
                this.updateChart();
            }
        },
        computed: {
            c_data() {
                if (!this.orders) return;

                let data = this.orders.reduce((acc, item) => {
                    if (item.userId) {
                        acc.hasUser++;
                    } else {
                        acc.noUser++;
                    }
                    return acc;
                }, {hasUser: 0, noUser: 0});

                return {
                    datasets: [{
                        data: [data.hasUser, data.noUser],
                        backgroundColor: [Colors.Red, Colors.LightBlue]
                    }],
                    labels: [
                        'От зарегистрированного пользователя',
                        'Без пользователя',
                    ]
                };
            }
        },
        created() {
        },
        methods: {
            updateChart() {
                this.d_chart = new Chart(this.$refs.canvas.getContext('2d'), {
                    type: 'doughnut',
                    data: this.c_data,
                    options: {
                        title: {
                            display: true,
                            text: 'Количество заказов'
                        },
                        legend: {
                            display: false
                        },
                        maintainAspectRatio: false,
                    }
                });
            }
        }
    }
</script>

<style scoped lang="scss">
    .chart-wrap {
        position: relative;
        height: 400px;

        .doughnut-label {
            position: absolute;
            top: 0;
            bottom: 25px;
            left: 0;
            right: 0;
            width: 150px;
            height: 150px;
            display: flex;
            margin: auto;
            align-items: center;
            justify-content: center;
            padding-top: 60px;
            z-index: -1;
        }

    }
</style>
