<template>
    <div>
        <loading-component v-if="!orderProducts"></loading-component>
        <div v-show="orderProducts" class="chart-wrap">
            <canvas ref="canvas"></canvas>
            <h1 class="doughnut-label" v-if="orderProducts">{{orderProducts.length}}</h1>
        </div>
    </div>
</template>

<script>
    import LoadingComponent from "../../utils/LoadingComponent";
    import Chart from "chart.js/dist/Chart.js";
    import Colors from "../../../colors";

    export default {
        name: "ChartOrderProductStatuses",
        components: {LoadingComponent},
        props: ['orderProducts'],
        data() {
            return {
                d_chart: null
            }
        },
        watch: {
            orderProducts() {
                this.updateChart();
            }
        },
        computed: {
            c_data() {
                if (!this.orderProducts) return;

                let data = this.orderProducts.reduce((acc, item) => {
                    acc[item.product.name] = acc[item.product.name] || 0;
                    acc[item.product.name]++;
                    return acc;
                }, {});

                let colors = [];
                for (let i = 0; i < Object.keys(data).length; i++) {
                    colors.push("#" + ((1 << 24) * Math.random() | 0).toString(16));
                }

                return {
                    datasets: [{
                        data: Object.values(data),
                        backgroundColor: colors
                    }],
                    labels: Object.keys(data)
                };
            }
        },
        created() {
        },
        methods: {
            updateChart() {
                this.d_chart = new Chart(this.$refs.canvas.getContext('2d'), {
                    type: 'doughnut',
                    data: this.c_data,
                    options: {
                        title: {
                            display: true,
                            text: 'Позиции заказов'
                        },
                        legend: {
                            display: false
                        },
                        maintainAspectRatio: false,
                    }
                });
            }
        }
    }
</script>

<style scoped lang="scss">
    .chart-wrap {
        position: relative;
        height: 400px;

        .doughnut-label {
            position: absolute;
            top: 0;
            bottom: 25px;
            left: 0;
            right: 0;
            width: 150px;
            height: 150px;
            display: flex;
            margin: auto;
            align-items: center;
            justify-content: center;
            padding-top: 60px;
            z-index: -1;
        }

    }
</style>
