<template>
    <div id="map"></div>
</template>

<script>
    import {delivery} from "../../../api/UserAPI";

    export default {
        name: "CheckoutDelivery",
        props: ['zones', 'freeDeliveryFrom', 'value'],
        data() {
            return {
                d_map: null,
                d_zones: this.zones,
                d_freeDeliveryFrom: this.freeDeliveryFrom,
                d_placeMark: null,
                d_zonesGeoQuery: null
            }
        },
        mounted() {
            if (this.d_zones) {
                ymaps.ready(this.initMap);
            } else {
                delivery.getInfo().then(response => {
                    this.d_zones = response.zones;
                    this.d_freeDeliveryFrom = response.freeDeliveryFrom;
                    ymaps.ready(this.initMap);
                });
            }
        },
        methods: {
            formatAddress(value) {
                let res = value.getLocalities().join(', ');
                if (value.getThoroughfare()) {
                    res += ', ' + value.getThoroughfare();
                }
                if (value.getPremiseNumber()) {
                    res += ', д. ' + value.getPremiseNumber();
                }
                return res;
            },
            initMap() {
                this.d_map = new ymaps.Map("map", {
                    center: [61.264070, 73.393212],
                    zoom: 12,
                    controls: ['geolocationControl', 'searchControl']
                });
                this.d_map.cursors.push('pointer');
                let searchControl = this.d_map.controls.get('searchControl');
                searchControl.options.set({noPlacemark: true, placeholderContent: 'Введите адрес доставки'});
                searchControl.events.add('resultshow', function (e) {
                    let coords = searchControl.getResultsArray()[e.get('index')].geometry.getCoordinates();
                    let address = this.formatAddress(searchControl.getResultsArray()[e.get('index')]);
                    this.showDeliveryPlace(coords, address);
                }, this);

                this.d_zonesGeoQuery = ymaps.geoQuery(this.d_zones).addToMap(this.d_map);

                this.d_zonesGeoQuery.each(zone => {
                    zone.options.set({
                        fillColor: zone.properties.get('fillColor') + '44',
                        strokeColor: '#00000022',
                        openBalloonOnClick: false,
                        interactivityModel: 'default#transparent',
                        hintContent: zone.properties.get('name') + ': ' + zone.properties.get('price') + 'Р'
                    });

                });
                this.d_map.events.add('click', this.handleMapClick, this);
            },
            handleMapClick(e) {
                let coords = e.get('coords');
                this.showDeliveryPlace(coords);
                ymaps.geocode(coords).then(res => {
                    let firstGeoObject = res.geoObjects.get(0);
                    this.showDeliveryPlace(coords, this.formatAddress(firstGeoObject));
                });
            },
            createPlacemark(coords) {
                let $vm = this;
                let BalloonContentLayout = ymaps.templateLayoutFactory.createClass(
                    `
                    <form class="balloon">
                        <div class="font-weight-bold h5">{{properties.address}}</div>
                        <div class="font-weight-bold mb-3">
                            Стоимость доставки: <span class="text-primary">
                            {% if properties.price >= 0 %} {{properties.price}} Р
                            {% else %} согласно тарифу транспортной компании
                            {% endif %}
                            </span>
                        </div>
                        <div class="input-wrap mb-3">
                            <input type="text" name="room" placeholder="квартира / офис">
                        </div>
                        <button type="submit" class="btn btn-sm btn-primary">Подтвердить</button>
                    </form>
                    `,
                    {
                        build: function () {
                            BalloonContentLayout.superclass.build.call(this);
                            this.getElement().querySelector('form').onsubmit = this.agree.bind(this);
                        },
                        agree(event) {
                            event.preventDefault();
                            event.stopPropagation();
                            let room = this.getElement().querySelector('input[name=room]').value;
                            let deliveryInfo = this.getData().properties.getAll();
                            if (room) {
                                deliveryInfo.address += ', кв. ' + room;
                            }
                            deliveryInfo.coordinates = this.getData().geometry.getCoordinates();
                            $vm.$emit('input', deliveryInfo);
                        },
                    });
                return new ymaps.Placemark(coords, {}, {
                    preset: 'islands#violetDotIconWithCaption',
                    draggable: false,
                    balloonContentLayout: BalloonContentLayout,
                });
            },
            showDeliveryPlace(coords, address) {
                if (this.d_placeMark) {
                    this.d_placeMark.geometry.setCoordinates(coords);
                }
                else {
                    this.d_placeMark = this.createPlacemark(coords);
                    this.d_map.geoObjects.add(this.d_placeMark);
                }

                let selectedZone = this.d_zonesGeoQuery.searchContaining(coords).get(0);
                let price = undefined;
                if (selectedZone) {
                    price = parseInt(selectedZone.properties.get('price'));
                }

                this.d_placeMark.properties.set({
                    address: address,
                    price: price,
                });

                this.d_placeMark.balloon.open();
            },
        }
    }
</script>

<style scoped lang="scss">
    #map {
        height: 400px;
        width: 100%;
    }

    ::v-deep .balloon {
        .h5 {
            font-size: 18px;
        }

        input {
            padding: 3px 7px;
        }
    }
</style>
