<template>
    <div class="d-flex flex-column align-items-center justify-content-center py-5">
        <div class="text-primary text-center mb-3">
            <i class="icofont-ui-clip-board" style="font-size: 100px"></i>
            <h1 class="text-primary">Спасибо!</h1>
        </div>
        <template v-if="order.orderProducts[0].status!=='offer'">
            <div>Ваш заказ с <strong>номером {{order.id}}</strong> оформлен.</div>
            <div>
                Вы всегда можете просмотреть статус заказа по
                <a :href="`/orders/${order.id}?secret=${order.secret}`">этой ссылке</a>
                <template v-if="$store.state.auth.user"> и в <a href="/cabinet/orders">личном кабинете</a>
                </template>
                .
            </div>
        </template>
        <template v-else>
            <div>Вашему коммерческому предложению присвоен <strong>номер {{order.id}}</strong>.</div>
            <div>
                <div class="mb-3">
                    Позиции вашего заказа сохранены по
                    <a :href="`/orders/${order.id}?secret=${order.secret}`">этой ссылке</a>
                    <template v-if="$store.state.auth.user">
                        и в <a href="/cabinet/orders">личном кабинете</a>
                    </template>
                    .
                </div>
                <div class="text-center">
                    <a class="btn btn-primary"
                       :href="`/orders/${order.id}/offer.pdf?secret=${order.secret}`"
                       target="_blank">
                        Скачать PDF</a>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
    export default {
        name: "CheckoutThx",
        props: ['order']
    }
</script>

<style scoped>

</style>