<template>
    <div class="checkout">
        <template v-if="!d_createdOrder">
            <form @submit.prevent="submit" ref="form">
                <h1 class="font-weight-bold">Оформление заказа</h1>

                <table class="checkout-table table_simple">
                    <thead>
                    <tr>
                        <td style="width: 50px;">#</td>
                        <td>Услуга</td>
                        <td>Количество</td>
                        <td class="text-right">Стоимость</td>
                        <td style="width: 50px;"></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(orderProduct, index) in c_items"
                        :key="index"
                        class="checkout-table__row"
                    >
                        <td class="checkout-table__idx">{{ index + 1 }}</td>
                        <td class="checkout-table__product">
                            <div class="font-weight-bold">
                                <a :href="orderProduct.product.link">{{ orderProduct.product.name }}</a>
                            </div>
                            <div class="small">
                                <div v-for="(values, parameter) in orderProduct.parameterValues"
                                     :key="parameter"
                                     v-if="values.length > 0"
                                >
                                    <div>
                                        <span class="font-weight-bold">{{ parameter }}:</span>
                                        <parameter-values-representation :values="values"
                                        ></parameter-values-representation>
                                    </div>
                                </div>
                            </div>
                            <div class="layout-previews mt-3" v-if="orderProduct.layouts.length > 0">
                                <div class="layout-preview"
                                     v-for="(layout,index) in orderProduct.layouts"
                                     :key="index">
                                    <attachment :attachment="layout"/>
                                </div>
                            </div>
                        </td>
                        <td class="checkout-table__count">
                            <span class="font-weight-bold">
                                {{ orderProduct.count.toFixed(2) }} {{ orderProduct.product.countType }}</span>
                            <div class="small text-muted" v-if="orderProduct.salePercentage > 0">
                                Скидка {{ orderProduct.salePercentage|f_percent }}%
                            </div>
                        </td>
                        <td class="checkout-table__price">
                            <span class="font-weight-bold">{{ orderProduct.total | f_round }} ₽</span>
                            <div class="small text-muted">
                                <div>{{ orderProduct.amountProduct|f_round }} ₽ за изделие</div>
                                <div v-if="orderProduct.needLayout">+ {{ orderProduct.amountLayout|f_round }} ₽ за макет
                                </div>
                            </div>
                        </td>
                        <td>
                            <button type="button"
                                    class="checkout-table__remove btn-delete icofont-close-line"
                                    @click="$store.commit('cart/removeItem', orderProduct)"
                            />
                        </td>
                    </tr>
                    <tr class="checkout__amount">
                        <td colspan="4"
                            class="text-right">
                            <template v-if="c_partnerSale > 0">
                                <span class="font-weight-bold mr-3">Итого, с учётом скидки {{
                                        c_partnerSale|f_percent
                                                                    }}%:</span>
                                <span class="h3 text-crossed text-muted">{{ c_total|f_round }}&nbsp;₽</span>
                                <span class="h2">{{ c_total - c_total * c_partnerSale|f_round }}&nbsp;₽</span>
                            </template>
                            <template v-else>
                                <span class="font-weight-bold mr-3">ИТОГО:</span> <span
                                class="h2">{{ c_total|f_round }}&nbsp;₽</span>
                            </template>
                        </td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>

                <div class="checkout__ask-for-review">
                    <img src="/images/order/review-ask.svg" alt="Промокод в обмен на отзыв">
                    <div>
                        <h2>Не в первый раз?</h2>
                        <p>Оставьте честный отзыв на странице предыдущего заказа и получите промокод на скидку 5%!</p>
                    </div>
                </div>

                <div class="mb-5">
                    <div class="row">
                        <div class="col-12 col-md mb-4">
                            <v-input label="Имя"
                                     required
                                     v-model="d_order.name"
                            />
                        </div>
                        <div class="col-12 col-md mb-4">
                            <v-input type="email"
                                     label="Email"
                                     required
                                     v-model="d_order.email"
                            />
                        </div>
                        <div class="col-12 col-md mb-4">
                            <v-input type="tel"
                                     label="Телефон"
                                     required
                                     v-model="d_order.phone"
                            />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 mb-4">
                            <v-checkbox label="У меня есть промокод"
                                        v-model="d_order.usePromocode"
                            />
                        </div>
                        <div v-if="d_order.usePromocode"
                             class="col-12 col-md-6 mb-4"
                        >
                            <v-input type="text"
                                     label="Промокод"
                                     v-model="d_order.promocode"
                            />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 mb-4">
                            <v-checkbox :disabled="!$store.state.auth.user"
                                        :label="`Потратить бонусы (доступно ${c_bonusBalance} ₽)`"
                                        v-model="d_order.useBonuses"
                            />
                        </div>
                        <div class="col-12 col-md-6 mb-4"
                             v-if="d_order.useBonuses"
                        >
                            <v-input type="number"
                                     min="0"
                                     :max="c_bonusBalance"
                                     label="Бонусные рубли"
                                     v-model.number="d_order.bonusesSpent"
                            />
                        </div>
                    </div>
                    <div class="row align-items-start">
                        <div class="col-12 col-md-4 mb-4">
                            <v-checkbox v-model="d_order.needDelivery">
                                <template #label>
                                    <div>Нужна доставка</div>
                                    <div class="small text-muted">Бесплатная доставка от {{ freeDeliveryFrom }} ₽
                                    </div>
                                </template>
                            </v-checkbox>
                        </div>
                        <div class="col-12 col-md-8 mb-4"
                             v-if="d_order.needDelivery">
                            <checkout-delivery class="mb-4"
                                               :zones="deliveryZones"
                                               :free-delivery-from="freeDeliveryFrom"
                                               v-if="!d_order.deliveryInfo.coordinates"
                                               v-model="d_order.deliveryInfo"
                            />
                            <div class="delivery-info"
                                 v-else>
                                <div>
                                    <span class="font-weight-bold">Адрес</span>: {{ d_order.deliveryInfo.address }}
                                </div>
                                <div>
                                    <span class="font-weight-bold">Стоимость доставки:</span>
                                    {{ c_deliveryPrice }} ₽
                                </div>
                                <button type="button" class="btn btn-sm btn-link"
                                        @click="d_order.deliveryInfo = {}">Выбрать другой адрес
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-12 col-md mb-4">
                            <v-checkbox v-model="d_order.useCompany">
                                <template #label>
                                    <div>Использовать юридическое лицо</div>
                                    <div class="small text-muted">
                                        Выберите этот пункт, если Вы являетесь юридическим лицом
                                    </div>
                                </template>
                            </v-checkbox>
                        </div>
                    </div>
                    <div v-if="d_order.useCompany">
                        <dropdown-component class="mb-3" ref="companyDropdown"
                                            v-if="c_user">
                            <template #toggler>
                                <button class="btn btn-link" type="button">
                                    Выбрать из организаций, привязанных к профилю
                                </button>
                            </template>
                            <template #body="{toggle}">
                                <ul class="list-unstyled"
                                    v-if="c_user.companies.length > 0">
                                    <li v-for="company in c_user.companies">
                                        <a @click="selectCompany(company);toggle();">{{ company.name }}</a>
                                    </li>
                                </ul>
                                <div v-else>
                                    У вас нет связанных организаций.<br/>
                                    Пожалуйста, добавьте организацию
                                    <router-link :to="{name:'profile.companies'}">в настройках профиля.</router-link>
                                </div>
                            </template>
                        </dropdown-component>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <v-input class="mb-4" label="Название"
                                         required
                                         v-model="d_order.company.name"
                                />
                            </div>
                            <div class="col-12 col-md-6">
                                <v-input class="mb-4" label="ФИО директора"
                                         required
                                         v-model="d_order.company.director"
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <v-input class="mb-4" label="Юридический адрес"
                                         required
                                         v-model="d_order.company.legalAddress"
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <v-input class="mb-4" label="Почтовый адрес"
                                         required
                                         v-model="d_order.company.mailAddress"
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <v-input class="mb-4" label="ИНН"
                                         required
                                         v-model="d_order.company.inn"
                                />
                            </div>
                            <div class="col-12 col-md-4">
                                <v-input class="mb-4" label="КПП"
                                         required
                                         v-model="d_order.company.kpp"
                                />
                            </div>
                            <div class="col-12 col-md-4">
                                <v-input class="mb-4" label="ОКПО"
                                         v-model="d_order.company.okpo"
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <v-input class="mb-4" label="Наименование банка"
                                         required
                                         v-model="d_order.company.bank"
                                />
                            </div>
                            <div class="col-12 col-md-6">
                                <v-input class="mb-4" label="БИК"
                                         required
                                         v-model="d_order.company.bik"
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <v-input class="mb-4" label="Р/с"
                                         required
                                         v-model="d_order.company.rs"
                                />
                            </div>
                            <div class="col-12 col-md-6">
                                <v-input class="mb-4" label="К/с"
                                         required
                                         v-model="d_order.company.ks"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <request-errors class="mb-5"
                                v-if="d_errors"
                                :errors="d_errors"
                />
                <div>
                    <button type="submit" class="btn btn-primary btn_mobile-100 mb-3 mb-md-0 mr-3"
                            :class="{'btn_is-loading':d_loading.submit}">
                        Оформить заказ
                    </button>
                    <button type="submit" class="btn btn-info btn_mobile-100"
                            :class="{'btn_is-loading':d_loading.submit}"
                            @click="d_isOffer = true"
                    >
                        Оформить коммерческое предложение
                    </button>
                </div>
            </form>
        </template>
        <checkout-thx v-else
                      :order="d_createdOrder"
        />
    </div>
</template>

<script>
import LoadingComponent from "../../utils/LoadingComponent";
import RequestErrors from "../../utils/RequestErrors";
import ModalComponent from "../../utils/ModalComponent";
import ProductFinder from "../../utils/ProductFinder";
import OrderProductStatusBar from "../../utils/OrderProductStatusBar";
import AttachAreaComponent from "../../utils/AttachAreaComponent";
import UserAPI from "../../../api/UserAPI";
import VInput from "../../utils/VInput";
import VCheckbox from "../../utils/VCheckbox";
import LayoutPreviews from "../LayoutPreviews";
import DropdownComponent from "../../utils/DropdownComponent";
import ParameterValuesRepresentation from "../../utils/ParameterValuesRepresentation";
import CheckoutThx from "./CheckoutThx";
import CheckoutDelivery from "./CheckoutDelivery";
import Attachment from "@/js/components/utils/Attachment";

export default {
    name: "OrderCheckout",
    components: {
        Attachment,
        CheckoutDelivery,
        CheckoutThx,
        ParameterValuesRepresentation,
        DropdownComponent,
        LayoutPreviews,
        VCheckbox,
        VInput,
        AttachAreaComponent,
        OrderProductStatusBar, ProductFinder, ModalComponent, RequestErrors, LoadingComponent
    },
    props: ["deliveryZones", "freeDeliveryFrom"],
    data() {
        let phone = null, email = null, name = null;

        let user = this.$store.state.auth.user;
        if (user) {
            name = user.firstName;
            phone = user.phone;
            email = user.email;
        }

        return {
            d_loading: {submit: false},
            d_errors: null,
            d_isOffer: false,
            d_order: {
                name: name,
                phone: phone,
                email: email,
                needDelivery: false,
                deliveryInfo: {},
                usePromocode: false,
                promocode: null,
                useBonuses: false,
                bonusesSpent: 0,
                useCompany: false,
                company: {
                    name: null,
                    director: null,
                    legalAddress: null,
                    inn: null,
                    kpp: null,
                    bik: null,
                    bank: null,
                    rs: null,
                    ks: null,
                }
            },
            d_createdOrder: false,
        }
    },
    computed: {
        c_user() {
            return this.$store.state.auth.user;
        },
        c_items() {
            return this.$store.state.cart.items;
        },
        c_total() {
            return this.$store.getters["cart/total"];
        },
        c_bonusBalance() {
            if (this.$store.state.auth.user) {
                return this.$store.state.auth.user.bonusBalance;
            } else {
                return 0;
            }
        },
        c_partnerSale() {
            if (this.d_order.useCompany && this.d_order.company && this.d_order.company.partnerSale) {
                return this.d_order.company.partnerSale;
            }
        },
        c_deliveryPrice() {
            if (this.c_total < this.freeDeliveryFrom) {
                return this.d_order.deliveryInfo.price;
            } else {
                return 0;
            }
        }
    },
    created() {
        if (this.$store.state.auth.company) {
            this.d_order.useCompany = true;
            this.selectCompany(this.$store.state.auth.company);
        }
    },
    methods: {
        submit() {
            this.d_loading.submit = true;
            UserAPI.orders.store(this.packRequest())
                .then(response => {
                    this.$store.commit("cart/clear");
                    this.$set(this, "d_createdOrder", response);
                    this.d_loading.submit = false;
                })
                .catch(error => {
                    this.d_errors = error.data;
                    this.d_loading.submit = false;
                });
        },
        packRequest: function () {
            let company = null;
            if (this.d_order.useCompany) {
                company = {
                    name: this.d_order.company.name,
                    director: this.d_order.company.director,
                    legal_address: this.d_order.company.legalAddress,
                    mail_address: this.d_order.company.mailAddress,
                    okpo: this.d_order.company.okpo,
                    inn: this.d_order.company.inn,
                    kpp: this.d_order.company.kpp,
                    bik: this.d_order.company.bik,
                    bank: this.d_order.company.bank,
                    rs: this.d_order.company.rs,
                    ks: this.d_order.company.ks,
                };
            }
            return {
                offer: this.d_isOffer,
                name: this.d_order.name,
                email: this.d_order.email,
                phone: this.d_order.phone,
                ...(this.d_order.needDelivery && {
                    delivery_address: this.d_order.deliveryInfo.address,
                    delivery_price: this.d_order.deliveryInfo.price,
                    delivery_coordinates: this.d_order.deliveryInfo.coordinates,
                }),
                ...(this.d_order.usePromocode && {promocode_id: this.d_order.promocode}),
                ...(this.d_order.useBonuses && {bonuses_spent: this.d_order.bonusesSpent}),
                ...(this.d_order.useCompany && {company: company}),
                order_products: this.c_items.map(item => {
                    return {
                        product_id: item.product.id,
                        count: item.count,
                        need_layout: item.needLayout,
                        layout_ids: item.layouts.map(value => value.id),
                        parameter_values: Object.values(item.parameterValues)
                            .reduce((acc, parameterValue) => {
                                return parameterValue.reduce((acc2, value) => {
                                    return acc2.concat({
                                        id: value.id,
                                        data: value.data
                                    });
                                }, acc);
                            }, [])
                    }
                })
            }
        },
        selectCompany(company) {
            let companyClone = JSON.parse(JSON.stringify(company));
            this.$set(this.d_order, "company", companyClone);
            // this.$refs.companyDropdown.toggle(false);
        },
    },
}
</script>

<style scoped lang="scss">
@import "../../../../sass/variables";

.delivery-info {
    border-left: 2px solid #e4e4e4;
    padding-left: 15px;
}

.checkout__ask-for-review {
    display: grid;
    grid-gap: 30px;
    align-items: center;
    grid-template-columns: minmax(100px, 20%) auto;

    @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
        margin-bottom: 15px;
    }
}

.checkout-table {
    width: 100%;

    .checkout-table__price {
        text-align: right;
    }

    .checkout-table__row {
        position: relative;
    }

    @include media-breakpoint-down(md) {
        display: block;
        margin-bottom: 30px;

        thead {
            display: none;
        }

        tbody {
            display: block;
        }

        td {
            padding: 5px 0;
        }

        .checkout-table__row {
            position: relative;
            display: flex;
            flex-direction: column;
        }

        .checkout-table__row + .checkout-table__row {
            margin-top: 15px;
        }

        .checkout-table__product {
            background: #e8e8e8;
            margin: 0 -15px;
            padding: 5px 15px;
        }

        .checkout-table__idx {
            display: none;
        }

        .checkout-table__count {
            &:before {
                content: 'Количество';
            }
        }

        .checkout-table__price {
            text-align: left;

            &:before {
                content: 'Стоимость ';
            }
        }

        .checkout-table__remove {
            position: absolute;
            top: 0;
            right: -15px;
            background: white;
            border-radius: 0;
            border: none;
        }

        .checkout__amount {
            background: $primary;
            color: white;
            padding: 15px;
            margin: 0 -15px;
            display: flex;
            justify-content: center;
        }
    }
}
</style>
