<template>
    <div class="attach-area">
        <input type="file" name="files[]"
               style="display: none;"
               ref="input"
               :multiple="multiple"
               :accept="this.accept"
               v-on:change="inputChanged">
        <i class="icofont-vk attach-area__vk-btn"
           v-if="allowVkVideo && (multiple || !d_value[0])"
           @click="handleVideoBtnClick"></i>
        <div class="attach-area__items">
            <button class="attach-area__attach-btn"
                    type="button"
                    v-on:dragover.prevent.stop
                    v-on:drop.prevent="onDrop"
                    v-on:click="onClick"
                    v-if="c_canAttachMore">{{ label }}
            </button>
            <div class="attach-area__item"
                 v-for="(file, i) in d_value"
                 v-bind:key="i">
                <div class="attach-area__item-preview">
                    <loading-component style="width: 100px;height: 100px;" v-if="file.isLoading"></loading-component>
                    <template v-else>
                        <attachment :attachment="file"/>
                    </template>
                    <button type="button" class="attach-area-item-preview__delete btn-delete"
                            v-on:click.stop="removeFile(file)">&times;
                    </button>
                </div>
            </div>
        </div>
        <div class="attach-area__requirements" v-if="maxCount>0">
            <div class="attach-area__accept-count">
                {{ c_statusMsg }}
            </div>
            <div class="attach-area__accept-types">
                {{ c_acceptTypesMsg }}
            </div>
        </div>
    </div>
</template>

<script>
import axios from "axios";
import LoadingComponent from "./LoadingComponent";
import {safeToCamelCaseKeys} from "@/js/utils";
import Attachment from "@/js/components/utils/Attachment";

export default {
    name: "AttachAreaComponent",
    components: {Attachment, LoadingComponent},
    props: {
        "uploadUrl": {default: "/crud/files"},
        "value": {default: null},
        "multiple": {default: false},
        "label": {default: "Выберите файлы или перенесите в это поле"},
        "allowVkVideo": {default: false},
        "maxCount": {default: -1},
        "accept": {
            default() {
                return [".*", "*.*"];
            }
        },
        "splitPdf": {default: false},
        "addingParameters": {
            default() {
                return {}
            }
        },
    },
    data() {
        return {
            d_value: this.value ? [].concat(this.value) : []
        }
    },
    computed: {
        c_statusMsg() {
            let count = this.d_value.length;
            if (count > 4 && count < 20) {
                return `Загружено ${count} файлов из ${this.maxCount}.`;
            } else if (count % 10 === 1) {
                return `Загружен ${count} файл из ${this.maxCount}.`;
            } else if ([2, 3, 4].includes(count % 10)) {
                return `Загружено ${count} файла из ${this.maxCount}.`;
            } else {
                return `Загружено ${count} файлов из ${this.maxCount}.`;
            }
        },
        c_acceptTypesMsg() {
            if (this.accept.length && !this.accept.includes[".*"]) {
                return "Максимальный размер файлов 32МБ. Допустимые форматы: " +
                    this.accept.map(item => item.substr(1)).join(", ");
            } else {
                return null;
            }
        },
        c_canAttachMore() {
            return (this.multiple && this.d_value.length < this.maxCount) ||
                !this.d_value.length;
        },
        c_value() {
            if (this.multiple) {
                return this.d_value.filter(item => !item.isLoading);
            } else {
                return this.d_value ? this.d_value[0] : null;
            }
        }
    },
    methods: {
        inputChanged(event) {
            let inputFiles = event.target.files;
            this.handleFiles(inputFiles);
            event.target.value = "";
        },
        handleFiles(files) {
            for (let i = 0; i < files.length; i++) {
                let file = files[i];

                if (!this.accept.includes(".*")) {
                    let fileExtension = file.name.split(".").pop();
                    if (!this.accept.includes("." + fileExtension)) {
                        this.$store.dispatch("messages/add", {
                            message: `Файл <b>${file.name}</b> имеет неверное расширение. <br> Допустимые форматы:  <b>${this.accept.map(item => item.substr(1)).join(", ")}</b>.`
                        });
                        continue;
                    }
                }

                let attachFile = {
                    id: null,
                    isLoading: true
                };
                this.d_value.push(attachFile);
                this.uploadFile(file).then(response => {
                    let index = this.d_value.indexOf(attachFile);
                    if (index >= 0) {
                        this.d_value.splice(index, 1, ...response);
                    }

                    if (this.maxCount > 0 && this.d_value.length > this.maxCount) {
                        this.d_value.splice(this.maxCount, this.d_value.length - this.maxCount);
                        this.$store.dispatch("messages/add", {
                            message: `Вы должны загрузить не больше ${this.maxCount} файлов`
                        });
                    }

                    this.$emit("input", this.c_value);
                });
            }
        },
        onClick() {
            this.$refs["input"].click();
        },
        onDrop(event) {
            let dt = event.dataTransfer;
            this.handleFiles(dt.files);
            return false;
        },
        uploadFile(file, type) {
            if (!type) type = "file";
            return new Promise((resolve, reject) => {
                let formData = new FormData();
                formData.append("file", file);
                formData.append("type", type);
                if (this.splitPdf) {
                    formData.append("split_pdf", "true");
                }

                for (let param in this.addingParameters) {
                    formData.append(param, this.addingParameters[param]);
                }
                axios
                    .post(this.uploadUrl, formData)
                    .then(response => resolve(safeToCamelCaseKeys(response.data.response)))
                    .catch(error => {
                        this.$store.dispatch("messages/add", {
                            message: `Произошла ошибка при загрузке файла. Пожалуйста, попробуйте ещё раз.`
                        });
                        reject(error);
                    });
            });
        },
        handleVideoBtnClick() {
            let url = window.prompt("Код для встраивания видео:");
            if (url) {
                let attachFile = {
                    id: null,
                    isLoading: true
                };
                this.d_value.push(attachFile);
                this.uploadFile(url, "embed").then(loadedFile => {
                    let index = this.d_value.indexOf(attachFile);
                    if (index >= 0) {
                        this.d_value.splice(index, 1, ...loadedFile);
                    }

                    this.$emit("input", this.c_value);
                });
            }
        },
        removeFile(file) {
            let index = this.d_value.indexOf(file);
            if (index >= 0) {
                this.d_value.splice(index, 1);
                if (!file.isLoading) {
                    this.$emit("input", this.c_value);
                    this.$emit("remove", file);
                }
            }
        }
    }
}
</script>

<style scoped lang="scss">
@import "~@/sass/_variables.scss";

.attach-area {
    width: 100%;
    min-height: 135px;
    background: #00000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
    border: 1px dashed #e3e3e3;
    margin-bottom: 1rem;
    position: relative;
    font-size: 12px;

    @include media-breakpoint-down(md) {
        min-height: 200px;
    }

    &:hover {
        background: #0000000a;
    }

    ::v-deep {
        .media-file__thumbnail {
            margin-right: 15px;
        }
    }
}

.attach-area__items {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    position: relative;

    .attach-area__attach-btn {
        background: none;
        border: none;
        outline: none !important;
        cursor: pointer;
        padding: 15px;
        color: #bdbdbd;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
    }

    .attach-area__vk-btn {
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 24px;
        cursor: pointer;

        &:hover {
            color: #8181f9;
        }
    }

    .attach-area__item {
        color: black;
        background: #f3f3f3;
        display: inline-flex;
        align-self: flex-start;
        align-items: center;
        border: 1px dashed #d6d6d6;
        border-radius: 10px;
        /*overflow: hidden;*/
        margin: 0.5rem;
        position: relative;

        .attach-area__item-preview {
            min-width: 100px;
            min-height: 100px;

            .attach-area-item-preview__delete {
                color: rgb(255, 20, 20);
                cursor: pointer;
                position: absolute;
                top: -10px;
                right: -8px;
                margin: 0;
                background: #1f1f1f;
                border-radius: 50%;
                font-size: 18px;
                padding: 3px 2px 3px 4px;
                opacity: 0.8;
                border: none;
                z-index: 5;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

.attach-area__accept-types {
    font-size: 12px;
    color: #bbbbbb;
}

.attach-area__requirements {
    background: linear-gradient(36deg, #212121, #444444);
    display: inline;
    color: white;
    padding: 3px;
    margin: 0 -8px -8px;
    text-align: center;
}


</style>
