<template>
    <div class="attachment"
         @click.prevent="open"
    >
        <div class="attachment__thumbnail"
             :style="c_thumbnailStyle"
             v-if="c_isEmbed"
             v-html="attachment.url"
        />
        <div class="attachment__thumbnail"
             :style="c_thumbnailStyle"
             :data-gallery="gallery"
             ref="thumbnail"
             v-else
        >
            <template v-if="c_isImage">
                <img :alt="attachment.alt"
                     v-if="lazy"
                     :data-src="attachment.url"
                     src="/images/loading.gif"
                     class="lazy"
                />
                <img v-else
                     :src="c_thumbnail"
                     :alt="attachment.alt"
                />
            </template>
            <template
                v-else
            >{{ c_extension }}
            </template>
        </div>
        <div class="attachment__name"
             v-if="showName"
        >{{ attachment.name }}
        </div>
        <transition-fade>
            <attachment-gallery v-if="d_expand"
                                :attachment="attachment"
                                :gallery="gallery"
                                @close="d_expand = false"
            />
        </transition-fade>
    </div>
</template>

<script>
import downloadFile from "@/js/utils/downloadFile";
import TransitionFade from "@/js/components/utils/TransitionFade";
import AttachmentGallery from "@/js/components/utils/AttachmentGallery";

export default {
    name: "Attachment",
    components: {TransitionFade, AttachmentGallery},
    props: {
        attachment: {
            default() {
                return null;
            }
        },
        showName: {
            default() {
                return false;
            }
        },
        width: {
            default() {
                return "100%";
            }
        },
        height: {
            default() {
                return "100%";
            }
        },
        gallery: {
            default() {
                return Math.random().toString(32).substring(2);
            },
        },
        lazy: {
            default() {
                return false;
            },
        }
    },
    data() {
        return {
            d_expand: false,
            d_popup: null,
        }
    },
    computed: {
        c_isImage() {
            return ["image/apng",
                "image/bmp",
                "image/gif",
                "image/x-icon",
                "image/jpeg",
                "image/png",
                "image/svg+xml",
                "image/tiff",
                "image/webp",].includes(this.attachment.type) || (this.attachment.sizes && this.attachment.sizes.length);
        },
        c_isEmbed() {
            return this.attachment.type === "embed";
        },
        c_extension() {
            let arr = this.attachment.url.split(".");
            return arr[arr.length - 1];
        },
        c_thumbnail() {
            return this.attachment.thumbnail || this.attachment.url;
        },
        c_thumbnailStyle() {
            return {
                width: `${this.width}`,
                height: `${this.height}`,
            };
        },
    },
    mounted() {
        window.galleries = window.galleries || {};
        window.galleries[this.gallery] = window.galleries[this.gallery] || [];
        window.galleries[this.gallery].push(this.attachment);
        // window.lazyLoad.update();
    },
    destroyed() {
        const index = window.galleries[this.gallery].indexOf(this.attachment);
        if (index >= 0) {
            window.galleries[this.gallery].splice(index);
        }
        if (!window.galleries[this.gallery].length) {
            delete window.galleries[this.gallery];
        }
    },
    methods: {
        open() {
            if (this.c_isImage || this.c_isEmbed) {
                this.d_expand = true;
            } else {
                downloadFile(this.attachment.url, this.attachment.name);
            }
        },
        hide() {
            this.d_expand = false;
        },
    }
}
</script>

<style lang="scss">
.attachment {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    width: 100px;
    height: 100px;

    &:hover:before {
        opacity: 1;
    }

    &:hover:after {
        top: 0;
    }

    &:before {
        transition: opacity 0.3s;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(0, 0, 0, 0.5);
        opacity: 0;
        z-index: 1;
        border-radius: 10px;
    }

    &:after {
        transition: top 0.3s;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 100%;
        background: url("/images/icons/zoom.svg") no-repeat center;
        background-size: 35px;
        z-index: 2;
    }
}

.attachment__name {
    margin-left: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.attachment__thumbnail:not(.attachment-popup__item) {
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    flex-shrink: 0;
    background-color: #eeeeee;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    color: #8575ff;
    box-shadow: 0 0 0 1px #dfdfdf;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    &:before {
        content: "";
        background: black;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: opacity 0.1s ease-in;
        opacity: 0;
    }

    ::v-deep iframe {
        width: 100% !important;
        height: 100% !important;
    }
}

/*.attachment__embed {*/
/*    height: 100%;*/

/*    &::v-deep iframe {*/
/*        width: 100% !important;*/
/*        height: 100% !important;*/
/*    }*/
/*}*/


</style>

<style lang="scss">
@import "~@/sass/_variables.scss";

/*
.attachment-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000000e8;
    z-index: 100;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media-breakpoint-down(md) {
        padding: 0;
    }

    .attachment-popup__swiper-container {
        width: 100%;
        !*height: 100%;*!

        .swiper-slide {
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: center;
        }

    }

    .attachment-popup__item {
        iframe {
            width: 100%;
            max-height: 100%;
        }

        img {
            width: 100%;
            object-fit: contain;
            max-height: 100%;
        }
    }

    .attachment-popup__prev, .attachment-popup__next {
        background: none;
        border: none;
        outline: none !important;
        font-size: 45px;
        width: 50px;
        transition: transform 0.1s ease-in;
        color: #a17aff;
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 5;
        left: 25px;
        height: 50px;
        margin: auto;

        &:hover {
            color: white;
            transform: scale(1.1);
        }

        &.swiper-button-disabled {
            opacity: 0.2;
        }
    }

    .attachment-popup__next {
        left: auto;
        right: 25px;
    }

    .attachment-popup__close {
        position: absolute;
        top: 15px;
        right: 15px;
        background: none;
        outline: none;
        color: white;
        font-weight: 100;
        cursor: pointer;
        opacity: 0.5;
        font-size: 36px;
        line-height: 18px;
        border: 1px solid white;
        border-radius: 50%;
        padding: 8px 9px 10px 9px;
        z-index: 5;

        &:hover {
            opacity: 1;
        }
    }
}*/
</style>
