<template>
    <div>
        <div class="d-flex flex-column flex-md-row mb-5 align-items-md-end">
            <div class="btn-group btn-group_light mr-md-3" role="group">
                <a href="#tree" class="btn"
                   :class="{active: d_tab === '#tree'}"
                   @click="d_tab = '#tree'">
                    Иерархичная структура
                </a>
                <a href="#products" class="btn"
                   :class="{active: d_tab === '#products'}"
                   @click="d_tab = '#products'">
                    Все услуги
                </a>
            </div>
            <v-input
                class="ml-md-auto"
                label="Поиск услуг"
                @input="handleSearchInput"
                v-model="d_searchField">
                <template #icon>
                    <i class="icofont-search"></i>
                </template>
            </v-input>
        </div>
        <div v-if="d_loading" class="text-center">
            <loading-component></loading-component>
        </div>
        <template v-else>
            <category-tree-item :category="d_root"
                                :isRoot="true"
                                :valueType="valueType"
                                :editMode="editMode"
                                v-model="d_selected"
                                @input="$emit('input', d_selected)"
                                @select="handleProductClick">
            </category-tree-item>
        </template>
    </div>
</template>

<script>
    import debounce from 'lodash/debounce';
    import CategoryTreeItem from "./CategoryTreeItem";
    import LoadingComponent from "./LoadingComponent";
    import AdminAPI from "../../api/AdminAPI";
    import VInput from "./VInput";

    export default {
        name: "CategoryTree",
        components: {VInput, LoadingComponent, CategoryTreeItem},
        props: ['value', 'valueType', 'categories', 'editMode'],
        data() {
            return {
                d_loading: false,
                d_isOpen: false,
                d_categories: this.categories || [],
                d_selected: this.value ? this.value : [],
                d_tab: document.location.hash || '#tree',
                d_root: {},

                d_searchField: null
            }
        },
        watch: {
            d_tab(val) {
                if (val === '#tree') {
                    this.d_searchField = null;
                }
                this.fetch();
            }
        },
        created() {
            this.fetch();
        },
        methods: {
            handleProductClick(product) {
                this.$emit('select', product);
            },
            addParentLinks(category) {
                category.children.forEach(item => {
                    item.parent = category;
                    this.addParentLinks(item);
                });
            },
            fetch() {
                this.d_loading = true;
                if (this.d_tab === '#tree') {
                    AdminAPI.categories.get({
                        with: ['products', 'children', 'children.products', 'children.image', 'children.products.image',
                            'parent', 'image', 'products.image'],
                        filters: [['parent_id', '=', null]]
                    }).then(categories => {
                            categories.forEach(this.addParentLinks);
                            this.d_root = {children: categories};
                            this.d_loading = false;
                        }
                    );
                } else {
                    AdminAPI.products.get({
                        ...(this.d_searchField && {filters: [['name', 'like', `%${this.d_searchField}%`, 'and']]}),
                        with: ['image']
                    }).then(products => {
                            this.d_root = {products: products};
                            this.d_loading = false;
                        }
                    );
                }
            },
            handleSearchInput: debounce(function () {
                this.d_tab = '#products';
                this.fetch();
            }, 500),
        }
    }
</script>

<style scoped lang="scss">
    ul {
        list-style: none;
        padding: 0;
        margin-left: 15px;
    }

    .category-tree-item {
        border-left: 1px solid transparent;
        color: #393939;

        &:hover {
            border-left: 1px solid #dfdfdf;
        }

        .category-tree-item__children {
            margin-left: 15px;
        }

        &.selectable ::v-deep .category-tree-item-product {
            cursor: pointer;

            &:hover {
                background: #efefef;
            }
        }
    }
</style>
