<template>
    <div class="category-tree-item">
        <div class="category-tree-item__name"
             v-if="!isRoot"
             v-on:click="toggleFolder">
            <i class="icofont-caret-down mr-3" v-bind:class="{'open': d_isOpen}"></i>
            <input type="checkbox"
                   v-if="valueType === 'categories'"
                   :value="category.id"
                   v-model="d_selected"/>
            <input type="radio"
                   v-else-if="valueType === 'category'"
                   :value="category.id"
                   v-model="d_selected"/>
            <attachment class="item-image"
                        :attachment="category.image"
            />
            <div class="d-flex flex-column align-items-start">
                <div class="item-type">КАТЕГОРИЯ</div>
                {{ category.name }}
                <router-link class="small"
                             :to="{name: 'categories.edit', params:{category: category, seoName: category.seoName}}"
                             v-if="editMode">
                    <i class="icofont-edit"></i> Редактировать
                </router-link>
            </div>
        </div>
        <div class="category-tree-item__children"
             v-show="d_isOpen">
            <category-tree-item v-for="child in category.children"
                                :key="child.id"
                                v-model="d_selected"
                                :category="child"
                                :valueType="valueType"
                                :editMode="editMode"
                                v-on:select="handleProductClick"></category-tree-item>
            <ul class="list-unstyled products-list">
                <li class="category-tree-item-product"
                    v-for="product in category.products"
                    v-bind:key="product.id"
                    v-on:click="handleProductClick(product)">
                    <attachment class="item-image"
                                :attachment="product.image"
                    />
                    <div class="d-flex flex-column align-items-start">
                        <div class="item-type item-type_product">УСЛУГА</div>
                        {{ product.name }}
                        <router-link class="mr-2"
                                     :to="{name: 'products.edit', params:{product: product, seoName: product.seoName}}"
                                     v-if="editMode">
                            <i class="icofont-edit"></i> Редактировать
                        </router-link>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
import Attachment from "@/js/components/utils/Attachment";

export default {
    name: "CategoryTreeItem",
    components: {Attachment},
    props: ["category", "isRoot", "valueType", "value", "editMode"],
    data() {
        return {
            d_isOpen: this.isRoot,
            d_selected: this.value ? this.value : [],
        }
    },
    watch: {
        d_selected: {
            handler(val) {
                this.emitInput();
            },
            deep: true
        },
    },
    computed: {
        allSelected() {
            return this.d_selected;
        }
    },
    methods: {
        emitInput(val) {
            this.$emit("input", this.allSelected);
        },
        toggleFolder() {
            this.d_isOpen = !this.d_isOpen;
        },
        handleProductClick(product) {
            this.$emit("select", product);
        }
    }
}
</script>

<style scoped lang="scss">
ul {
    list-style: none;
    padding: 0;
}

.category-tree-item {
    border-left: 1px solid transparent;
    border-bottom: 1px solid #efefef;
    color: #393939;

    &:hover {
        border-left: 1px solid #dfdfdf;
    }

    .category-tree-item__children:not(:first-of-type) {
        margin-left: 50px;
    }
}

.category-tree-item__name, li {
    padding: 10px 15px;
}

.category-tree-item__name {
    cursor: pointer;
    display: flex;
    align-items: center;

    i.icofont-caret-down {
        transition: all 0.1s ease-in;

        &.open {
            transform: rotate(180deg);
        }
    }
}

.category-tree-item-product {
    display: flex;
    margin-bottom: 5px;
    align-items: center;

    input[type=checkbox] {
        margin-right: 15px;
    }

    .category-tree-item-product__about {
        width: 100%;
    }
}

.item-image {
    width: 75px;
    height: 75px;
    margin-right: 15px;
}

.item-type {
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    background: #dadada;
    display: inline-flex;
    padding: 3px 5px;
    border-radius: 2px;

    &.item-type_product {
        background: #e31e24;
        color: white;
    }
}
</style>
