<template>
    <div class="company-finder">
        <div class="input-wrap input-wrap--icon">
            <v-input label="Название организации или ИНН"
                     v-model="searchField"
                     v-on:focus="isFocus=true"
                     v-on:blur="isFocus=false"
                     v-on:input="handleSearchInput">
            </v-input>
            <loading-component class="loading-icon" size="18px"
                               v-if="loading"></loading-component>
        </div>
        <div v-if="isFocus && !company">
            <ul class="list-unstyled"
                v-if="foundedItems">
                <template v-if="foundedItems.length>0">
                    <li class="d-flex align-items-center"
                        v-for="item in foundedItems"
                        v-on:mousedown="company = item">
                        <div>
                            <div>{{item.name}}</div>
                            <div class="small text-muted">
                                ИНН: {{item.inn}}
                            </div>
                        </div>
                        <div class="h3 text-primary ml-auto text-right" style="width: 50px"
                             v-if="item.partnerSale">
                            {{item.partnerSale|f_percent}}%
                        </div>
                    </li>
                </template>
                <li v-else>Не найдено</li>
            </ul>
        </div>
    </div>
</template>

<script>
    import debounce from 'lodash/debounce';
    import LoadingComponent from "./LoadingComponent";
    import AdminAPI from "../../api/AdminAPI";
    import VInput from "./VInput";

    export default {
        name: "CompanyFinder",
        components: {VInput, LoadingComponent},
        props: {
            value: '',
            labelText: {default: 'Организация'},
        },
        data() {
            return {
                company: this.value ? this.value : null,
                searchField: this.value ? this.value.name : "",
                foundedItems: null,
                isFocus: false,
                loading: false
            }
        },
        watch: {
            isFocus(val) {
                if (val) {
                    if (!this.company) {
                        this.handleSearchInput();
                    }
                }
            },
            company(val) {
                if (val) {
                    this.$emit('input', val);
                    this.$emit('change', val);
                    this.searchField = val.name;
                } else {
                    this.$emit('input', null);
                    this.$emit('change', null);
                }
                this.foundedItems = null;
            }
        },
        methods: {
            handleSearchInput: debounce(function () {
                this.company = null;
                this.loading = true;
                AdminAPI.companies
                    .get({
                        filters: [
                            ['name', 'like', `%${this.searchField}%`, 'or'],
                            ['inn', 'like', `%${this.searchField}%`, 'or'],
                        ],
                        limit: 10
                    })
                    .then(found => {
                        this.loading = false;
                        this.foundedItems = found;
                    });
            }, 300),
        }
    }
</script>

<style scoped lang="scss">
    .company-finder {
        position: relative;
    }

    ul {
        list-style: none;
        padding: 0;
        border: 1px solid #ccc;
        border-top: 0;
        font-size: 0.8rem;
        position: absolute;
        width: 100%;
        background: white;
        box-shadow: 4px 13px 14px #0000001a;
        z-index: 2;

        li {
            padding: 7px 15px;
            cursor: pointer;

            &:hover {
                background: #cccccc;
            }
        }

    }

    .company-finder__wrap {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .loading-icon {
        position: absolute;
        right: 0;
        top: 0;
        width: 45px;
    }

</style>