<template>
    <div>
        <div class="background"
             v-on:click.stop="toggle(false)"
             v-if="showBody"></div>
        <div class="dropdown" v-bind:class="{'active': showBody}">
            <div v-on:click.stop="toggle" ref="toggler">
                <slot name="toggler"></slot>
            </div>
            <transition name="slide-fade">
                <div class="dropdown-content-wrap"
                     v-on:click.self="toggle(false)"
                     v-if="showBody">
                    <div class="dropdown-content"
                         ref="items"
                         v-bind:style="style">
                        <slot name="body"
                              :toggle="toggle"></slot>
                    </div>
                </div>
            </transition>
        </div>
    </div>
</template>

<script>
export default {
    name: "DropdownComponent",
    props: {
        width: {
            default: "auto"
        }
    },
    data() {
        return {
            showBody: false,
            style: {
                width: this.width,
                "min-width": this.width,
            },
        }
    },
    methods: {
        toggle(value) {
            if (value == null) {
                value = !this.showBody;
            }
            this.showBody = value;
            if (this.showBody) {
                this.$emit("open");
                // this.recalcPosition();
            } else {
                this.$emit("close");
            }
        },
        recalcPosition() {
            // this.$nextTick(() => {
            //     let togglerRect = this.$refs.toggler.getBoundingClientRect();
            //     let itemsRect = this.$refs.items.getBoundingClientRect();
            //     this.style.right = togglerRect.left + itemsRect.width > window.outerWidth ? 0 : 'auto';
            //     this.style.top = togglerRect.bottom + itemsRect.height > window.innerHeight ? `${-itemsRect.height}px` : 'auto';
            // });
        }
    }
}
</script>

<style lang="scss">
@import "../../../sass/variables";

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    /*background: rgba(0, 0, 0, 0.2);*/
}

.dropdown {
    position: relative;
    display: inline-block;
    z-index: 11;

    &.active {
        z-index: 12;
    }
}

@media (max-width: 768px) {
    .dropdown-content-wrap {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .dropdown-content {
            position: static;
            max-width: 100%;

            &:before, &:after {
                content: none;
            }
        }
    }

    .background {
        background: rgba(0, 0, 0, 0.4);
    }
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    background: white;
    position: absolute;
    top: 100%;
    padding: 15px;

    border-radius: 10px;
    border: 1px solid $muted;
    box-sizing: border-box;
    box-shadow: 2px 17px 30px #00000040;
    margin-top: 15px;

    &:before {
        content: "";
        border: 12px solid transparent;
        border-bottom: 12px solid $muted;
        position: absolute;
        left: 30px;
        top: -25px;
        width: 0;
        height: 0;
    }

    &:after {
        content: "";
        border: 12px solid transparent;
        border-bottom: 12px solid #ffffff;
        position: absolute;
        left: 30px;
        top: -22px;
        width: 0;
        height: 0;
    }

    /* &[x-placement='bottom-end'] {
         &:before {
             content: "";
             border: 12px solid transparent;
             border-bottom: 12px solid $muted;
             position: absolute;
             right: 30px;
             left: auto;
             top: -25px;
             width: 0;
             height: 0;
         }

         &:after {
             content: "";
             border: 12px solid transparent;
             border-bottom: 12px solid #ffffff;
             position: absolute;
             right: 30px;
             left: auto;
             top: -22px;
             width: 0;
             height: 0;
         }
     }*/

    & > ul, .dropdown-list {
        margin: 0;
        padding-left: 0;
        list-style: none;

        li, .dropdown-list__item {
            border-bottom: 1px solid $muted;
            cursor: pointer;
            color: inherit;
            text-decoration: none;
            display: block;
            padding: 0.5rem 15px;
            margin: 0 -15px;

            &:before {
                content: none !important;
            }

            &:hover {
                color: $primary;
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }

    /*.dropdown-item {
        white-space: pre-wrap;
        padding: 8px 24px;
        line-height: 140%;

        &:hover {
            color: $primary;
            background: none;
        }

        &:active {
            background: none;
            outline: none;
        }
    }

    .dropdown-list {
        margin: 0;
        padding-left: 0;
        list-style: none;
        & > * {
            padding: 0.5rem;
            border-bottom: 1px solid #cccccc;
            cursor: pointer;
            color: inherit;
            text-decoration: none;
            display: block;
            &:hover {
                background: #d4d4d4;
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }*/
}

.slide-fade-enter-active {
    transition: all .3s ease;
}

.slide-fade-leave-active {
    transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    /*z-index: 3;*/
}

.slide-fade-enter, .slide-fade-leave-to {
    transform: translateY(20px);
    opacity: 0;
    /*z-index: 3;*/
}

</style>
