<template>
    <div class="loading-component">
        <div class="loading-component__spinner">
            <i class="icofont-spinner" v-bind:style="{'font-size':size}"></i>
        </div>
        <div class="loading-component__label">
            <slot/>
        </div>
    </div>
</template>

<script>
    export default {
        name: "LoadingComponent",
        props: {
            size: {default: '3rem'}
        }
    }
</script>

<style scoped lang="scss">

    .loading-component {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }

    .loading-component__spinner {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
        color: #000000;

        i {
            animation: linear spin 1.5s infinite;
        }
    }

    .loading-component__label:not(:empty) {
        margin-left: 15px;
    }
</style>
