<template>
    <div class="messages">
        <div class="message"
             v-for="(message, index) in messages"
             v-bind:key="index"
             v-on:click="handleMsgClick(message)">
            <button type="button" class="btn-delete"
                    v-on:click.stop="removeMessage(message)">×
            </button>
            <div class="message__header">
                <div class="time">{{message.createdAt|f_datetime}}</div>
                <div class="title" v-if="message.title">{{message.title}}</div>
            </div>
            <div class="message__text" v-html="message.message"></div>
        </div>
    </div>
</template>

<script>
    import {mapGetters, mapState} from 'vuex'

    export default {
        name: "MessagesComponent",
        computed: {
            ...mapState({
                messages: state => state.messages.items
            }),
        },
        methods: {
            removeMessage(message) {
                this.$store.commit('messages/remove', message.id);
            },
            handleMsgClick(message) {
                if (message.clickListener) {
                    message.clickListener();
                    this.removeMessage(message);
                }
            }
        },
        mounted() {
            setInterval(() => {
                this.$forceUpdate();
            }, 10000);
        }
    }
</script>

<style scoped lang="scss">

    .messages-container {
        position: fixed;
        right: 0;
        bottom: 0;
    }

    .messages {
        position: fixed;
        right: 0;
        bottom: 0;
        width: 400px;
        z-index: 10;
        font-size: 14px;
        max-width: calc(100% - 8px);

        .message {
            background: #ffffff;
            color: black;
            display: block;
            text-decoration: none;
            position: relative;
            margin: 0 0.5rem 0.5rem 0;
            border-radius: 3px;
            overflow: hidden;
            border: 1px solid #e30613;
            padding: 0;
        }

        .message__header {
            padding: 0.5rem 1.5rem 0.5rem 1rem;
            background: linear-gradient(30deg, #e30613, #ff333f);
            color: white;
            .title {

            }
            .time {
                font-size: 0.7rem;

            }
        }

        .message__text {
            padding: 1rem;
            word-break: break-word;
        }

        .btn-delete {
            position: absolute;
            right: 0;
            top: 0;
            color: white;
            border: none;
            line-height: 1;
        }
    }

    .message {
        transition: all 0.3s;
        display: inline-block;
    }

    .message-enter, .message-leave-to, .message-leave-active
        /* .list-complete-leave-active до версии 2.1.8 */
    {
        opacity: 0;
        transform: translateY(30px);
    }

    .message-move {
        transition: transform 0.3s;
    }
</style>
