<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper"
                 v-on:click.self="$emit('close')">
                <div class="modal-container"
                     :class="contentClass"
                     :style="[sizeStyle]">
                    <button class="material-icons modal__close-button"
                            v-on:click="$emit('close')">
                        <i class="icofont-close-line btn-close"></i>
                    </button>
                    <div class="modal-header">
                        <slot name="header">
                        </slot>
                    </div>

                    <div class="modal-body">
                        <slot name="body">
                        </slot>
                    </div>

                    <div class="modal-footer">
                        <slot name="footer">

                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        name: "ModalComponent",
        props: ['width', 'height', 'contentClass'],
        computed: {
            sizeStyle() {
                return {
                    height: this.height || 'auto',
                };
            },
        },
        mounted() {
            document.body.classList.toggle('modal-opened', true);
        },
        destroyed() {
            document.body.classList.toggle('modal-opened', false);
        },


    }
</script>

<style>
    .modal-opened {
        overflow-y: hidden;
    }
</style>

<style scoped lang="scss">

    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .modal-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    .modal-container {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        max-height: 90%;
        overflow-y: auto;
        min-width: 300px;
        position: relative;
        margin: 0px auto;
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);

        &:not(.container) {
            max-width: 100%;
        }
    }

    .modal-header {
        margin-top: 0;
        color: #000000;
    }

    .modal-body {
        margin: 20px 0;
        color: black;
        height: 100%;
    }

    .modal__close-button {
        position: absolute;
        top: 0;
        right: 0;
        background: none;
        outline: none;
        border: none;
        color: red;
        padding: 0.5rem;
        cursor: pointer;
        opacity: 0.5;
        &:hover {
            opacity: 1;
        }
    }

    .modal-default-button {
        float: right;
    }

    /*
     * The following styles are auto-applied to elements with
     * transition="modal" when their visibility is toggled
     * by Vue.js.
     *
     * You can easily play with the modal transition by editing
     * these styles.
     */

    .modal-enter-active, .modal-leave-active {
        transition: opacity .3s, transform .3s ease;
    }

    .modal-enter, .modal-leave-to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        opacity: 0;
    }

    @media only screen and (max-width: 1024px) {
        .modal-wrapper {
            align-items: start;
        }

        .modal-container {
            min-width: auto;
        }
    }

</style>