<template>
    <div class="status-bar"
         :class="`bg_${value}`">
        <div class="status-bar__current">
            <loading-component size="14px"
                               v-if="d_loading.status"></loading-component>
            <template v-else>{{value|f_orderProductStatus}}</template>
        </div>
        <div class="status-bar__actions" v-if="editable">
            <i class="icofont-ruler-compass bg_check"
               title="Взять на проверку"
               v-if="['new', 'offer'].indexOf(value)>=0"
               @click="changeOrderProductStatus('check')"></i>
            <i class="icofont-bank bg_payment"
               v-if="['check', 'new', 'layout_rejected', 'offer'].indexOf(value)>=0"
               title="Пометить ожидающим оплаты"
               @click="changeOrderProductStatus('payment')"></i>
            <i class="icofont-printer bg_work"
               v-if="['payment', 'layout_agreement', 'layout_rejected'].indexOf(value)>=0"
               title="Назначить в работу"
               @click="changeOrderProductStatus('work')"></i>
            <i class="icofont-flag-alt-2 bg_ready"
               v-if="['work'].indexOf(value)>=0"
               title="Пометить готовым"
               @click="changeOrderProductStatus('ready')"></i>
            <i class="icofont-brush bg_layout"
               v-if="['new', 'check', 'layout_agreement', 'offer'].indexOf(value)>=0 && needLayout"
               title="Начать разработку макета"
               @click="changeOrderProductStatus('layout')"></i>
            <!--<i class="icofont-check bg_layout_agreement"-->
               <!--v-if="['layout'].indexOf(value)>=0 && needLayout"-->
               <!--title="Перевести в согласование макета"-->
               <!--@click="changeOrderProductStatus('layout_agreement')"></i>-->
            <!--<i class="icofont-ban bg_layout_rejected"-->
               <!--v-if="['check'].indexOf(value)>=0 && !needLayout"-->
               <!--title="Отклонить макет"-->
               <!--@click="changeOrderProductStatus('layout_rejected')"></i>-->
        </div>
    </div>
</template>

<script>
    import AdminApi from "../../api/AdminAPI";
    import LoadingComponent from "./LoadingComponent";

    export default {
        name: "OrderProductStatusBar",
        components: {LoadingComponent},
        props: ['orderProductId', 'value', 'needLayout', 'orderProductLayouts', 'editable'],
        data() {
            return {
                d_loading: {status: false}
            }
        },
        methods: {
            changeOrderProductStatus(status) {
                this.d_loading.status = true;
                AdminApi.orderProducts.update(this.orderProductId, {
                    status: status
                }).then(response => {
                    this.$emit('input', status);
                    this.d_loading.status = false;
                });
            }
        }
    }
</script>

<style scoped lang="scss">


    .status-bar {
        display: inline-flex;
        align-items: center;
        white-space: nowrap;

        .status-bar__current {
            padding: 4px 15px;
            font-size: 14px;
        }

        .status-bar__actions {
            display: flex;

            i {
                padding: 7px;
                display: block;
                cursor: pointer;
                transition: transform 0.1s ease-in;
                &:hover {
                    box-shadow: 1px 1px 5px #00000040;
                    transform: scale(1.2);
                    z-index: 2;
                }
            }
        }
    }
</style>