<template>
    <div class="d-inline">
        <span v-if="['tabs','list'].includes(c_type)">{{values.map(el=>el.name).join(', ')}}</span>
        <span v-else-if="['number','text'].includes(c_type)">{{values.map(el=>el.data&&el.data.input).join(', ')}}</span>
    </div>
</template>

<script>
    export default {
        name: "ParameterValuesRepresentation",
        props: ['type', 'values'],
        computed: {
            c_type() {
                if (this.type) {
                    return this.type;
                }
                if (this.values[0] && this.values[0].type) {
                    return this.values[0].type;
                }
            }
        }
    }
</script>

<style scoped>

</style>