<template>
    <div class="product-finder">
        <div class="input-wrap input-wrap--icon">
            <v-input label="Имя услуги"
                     v-model="searchField"
                     v-on:focus="isFocus=true"
                     v-on:blur="isFocus=false"
                     v-on:input="handleSearchInput">
            </v-input>
            <loading-component class="loading-icon" size="18px"
                               v-if="loading"></loading-component>
        </div>
        <div v-if="isFocus">
            <ul class="list-unstyled"
                v-if="foundedItems">
                <template v-if="foundedItems.length > 0">
                    <li v-for="item in foundedItems"
                        @mousedown="handleItemClick(item)">
                        <product-search-result
                            :product="item"></product-search-result>
                    </li>
                </template>
                <li v-else>Не найдено</li>
            </ul>
        </div>
    </div>
</template>

<script>
    import debounce from 'lodash/debounce';
    import LoadingComponent from "./LoadingComponent";
    import {products} from "@/js/api/AdminAPI";
    import VInput from "./VInput";
    import ProductSearchResult from "@/js/components/User/Search/ProductSearchResult";

    export default {
        name: "ProductFinder",
        components: {ProductSearchResult, VInput, LoadingComponent},
        props: {
            value: {
                type: Object,
            },
            with: {
                type: Array,
                default() {
                    return [];
                }
            },
            labelText: {default: 'Услуга'},
        },
        data() {
            return {
                searchField: this.value ? this.value.name : "",
                foundedItems: null,
                isFocus: false,
                loading: false
            }
        },
        watch: {
            value(val) {
                if (val && val.name) {
                    this.searchField = val.name;
                } else {
                    this.searchField = null;
                }
                this.foundedItems = null;
            },
        },
        methods: {
            handleSearchInput: debounce(function () {
                this.$emit('input', null);
                this.loading = true;
                products
                    .get({
                        query: this.searchField,
                        with: this.with,
                        limit: 10
                    })
                    .then(found => {
                        this.loading = false;
                        this.foundedItems = found;
                    });
            }, 300),
            handleItemClick(item) {
                console.log(item);
                this.$emit('input', item);
            }
        }
    }
</script>

<style scoped lang="scss">
    .product-finder {
        position: relative;
    }

    ul {
        list-style: none;
        padding: 0;
        border: 1px solid #ccc;
        border-top: 0;
        font-size: 0.8rem;
        position: absolute;
        width: 100%;
        background: white;
        box-shadow: 4px 13px 14px #0000001a;
        z-index: 2;

        li {
            padding: 7px 15px;
            cursor: pointer;
        }

    }

    .product-finder__wrap {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }

    .loading-icon {
        position: absolute;
        right: 0;
        top: 0;
        width: 45px;
    }

</style>
