<template>
    <div class="message message_danger mb-3 small" v-if="errors">
        <div class="font-weight-bold">{{ errors.message }}</div>
        <ul class="mb-0 pl-0 ml-3"
            v-for="(errors, key) in errors.errors">
            <li v-for="error in errors"
                class="request-errors__error"
            >{{ error }}
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    name: "RequestErrors",
    props: ["errors"]
}
</script>

<style lang="scss">
.request-errors__error + .request-errors__error {
    margin-top: 10px;
}
</style>
