<template>
    <transition name="fade"
                enter-active-class="enter-active"
                leave-active-class="leave-active"
                @before-enter="beforeEnter"
                @enter="enter"
                @after-enter="afterEnter"
                @before-leave="beforeLeave"
                @leave="leave"
                @after-leave="afterLeave"
    >
        <slot/>
    </transition>
</template>

<script>
export default {
    name: "TransitionFade",
    props: {
        speed: {
            default: '0.2s',
        }
    },
    methods: {
        /**
         * @param {HTMLElement} element
         */
        beforeEnter(element) {
            element.style.transition = `opacity ${this.speed} ease-in`;
            element.style.opacity = '0';
        },
        enter(element) {
            requestAnimationFrame(() => {
                element.style.opacity = '1';
            });
        },
        /**
         * @param {HTMLElement} element
         */
        afterEnter(element) {
            element.style.transition = 'none';
            // element.style.opacity = '0';
        },
        /**
         * @param {HTMLElement} element
         */
        beforeLeave(element) {
            element.style.transition = `opacity ${this.speed} ease-in`;
        },
        /**
         * @param {HTMLElement} element
         */
        leave(element) {
            requestAnimationFrame(() => {
                element.style.opacity = `0`;
            });
        },
        /**
         * @param {HTMLElement} element
         */
        afterLeave(element) {
            element.style.transition = 'none';
            this.$emit('afterLeave');
        },
    },
}
</script>

<style scoped>
/*.enter-active,*/
/*.leave-active {*/
/*    transition: opacity 5s;*/
/*}*/
</style>
