<template>
    <div>
        <dropdown-component class="mb-3" width="250px"
                            ref="dropdown">
            <template #toggler>
                <button type="button"
                        class="btn btn-sm btn-info">Добавить группу
                </button>
            </template>
            <template #body>
                <ul>
                    <li @click="addTarget('all_users')">
                        Все пользователи
                    </li>
                    <!--<li>-->
                    <!--Пользователи, заказавшие определённый товар-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--Пользователи без заказов-->
                    <!--</li>-->
                    <!--<li>-->
                    <!--Пользователи с одним заказом-->
                    <!--</li>-->
                </ul>
            </template>
        </dropdown-component>
        <ul>
            <li class="d-flex align-items-center pb-3"
                v-for="(target,index) in value">
                <div>
                    <span class="mr-2">{{index+1}}.</span>
                    <template v-if="target.type === 'all_users'">Все пользователи</template>
                </div>
                <button type="button"
                        class="btn-delete ml-2 icofont-close-line"
                        @click="removeTarget(index)"></button>
            </li>
        </ul>
    </div>
</template>

<script>
    import DropdownComponent from "./DropdownComponent";

    export default {
        name: "UserTargetor",
        components: {DropdownComponent},
        props: ['value'],
        data() {
            return {
                d_targets: this.value || []
            }
        },
        methods: {
            addTarget(type) {
                this.$refs.dropdown.toggle(false);
                switch (type) {
                    case 'all_users':
                        this.d_targets.push({type: 'all_users'});
                        break;
                    default:
                        return;
                }
                this.$emit('input', this.d_targets);
            },
            removeTarget(index) {
                this.d_targets.splice(index, 1);
            }
        },
    }
</script>

<style scoped>

</style>