<template>
    <div class="input-wrap">
        <input :value="c_value"
               :type="type"
               :class="{empty: false}"
               :required="required"
               :name="name"
               :title="label"
               :id="d_uuid"
               :style="{'text-align':textAlign}"
               :disabled="disabled"
               @change="change"
               @input="input"
               @focus="focus"
               @blur="blur"
               ref="input"
        />
        <label class="input-wrap__placeholder"
               :for="d_uuid">{{label}}</label>
    </div>
</template>

<script>
    import moment from 'moment';

    export default {
        name: "VDatetime",
        props: {
            value: null,
            type: {default: 'date'},
            name: {default: null},
            textAlign: {default: 'inherit'},
            label: {default: null},
            required: {default: false},
            disabled: {default: false},
        },
        data() {
            return {
                d_uuid: Math.random().toString(36).substring(4),
            }
        },
        computed: {
            c_value() {
                if (!this.value) return;
                switch (this.type) {
                    case 'datetime':
                        return moment.utc(this.value).local().format().slice(0, 16);
                    case 'date':
                        return moment.utc(this.value).local().format().slice(0, 10);
                }
            },
        },
        methods: {
            input(event) {
                this.$emit('input', moment(event.target.value).utc().format('YYYY-MM-DD H:mm:ss'));
            },
            blur(event) {
                this.$emit('blur');
            },
            focus(event) {
                this.$emit('focus');
            },
            change(event) {
                this.$emit('change', moment(event.target.value).utc().format('YYYY-MM-DD H:mm:ss'));
            }
        }
    }
</script>

<style scoped lang="scss">
    @import "../../../sass/variables";

    .input-wrap {
        position: relative;
        display: flex;
        align-items: center;
        min-height: 45px;

        label {
            margin-bottom: 0;
        }

        input:disabled + .input-wrap__placeholder {
            opacity: 0.5;
        }

        input {
            background: #ffffff;
            border: 1px solid $muted;
            color: $dark;
            border-radius: 4px;
            height: 100%;
            width: 100%;
            min-height: 45px;
            text-align: center;
            padding: 0 15px;

            &:focus {
                outline: none;
                box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
            }

            & ~ .input-wrap__placeholder {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 0 15px;
                color: #717171;
                /*font-weight: 800;*/
                pointer-events: none;
                display: flex;
                align-items: center;
                justify-content: center;
                white-space: pre-line;
                text-align: center;
                line-height: 0.8;
            }

            &:focus + .input-wrap__placeholder,
            &:not(.empty) + .input-wrap__placeholder {
                color: $dark;
                font-size: 12px;
                font-weight: 400;
                height: 100%;
                width: 100%;
                top: 0;
                left: 15px;
                line-height: 0px;
                padding: 0;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
            }

        }

        textarea {
            padding: 14px 15px;
        }

        input[type=date]::-webkit-inner-spin-button,
        input[type=date]::-webkit-clear-button {
            display: none;
        }
    }


</style>
