<template>
    <div class="input-wrap"
         :class="{'has-icon': !!$slots['icon']}">
        <input v-model="c_value"
               :autofocus="autofocus"
               :type="type"
               :class="{empty: c_value==='' || c_value===null || c_value===undefined}"
               :required="required"
               :name="name"
               :title="label"
               :id="d_uuid"
               :style="{'text-align':textAlign}"
               :disabled="disabled"
               :min="min"
               :max="max"
               :step="step"
               @change="change"
               @focus="focus"
               @blur="blur"
        />
        <label class="input-wrap__placeholder"
               :for="d_uuid">{{label}}</label>
        <div class="input-wrap__icon" v-if="$slots['icon']">
            <slot name="icon">
            </slot>
        </div>
    </div>
</template>

<script>
    export default {
        name: "VInput",
        props: {
            value: {default: ""},
            type: {default: 'text'},
            name: {default: null},
            autofocus: {default: false},
            textAlign: {default: 'inherit'},
            label: {default: null},
            required: {default: false},
            disabled: {default: false},
            min: {default: 0},
            max: {default: null},
            step: {default: 'any'},
            formatPercent: {type: Boolean, default: undefined},
        },
        data() {
            return {
                d_uuid: Math.random().toString(36).substring(4),
            }
        },
        computed: {
            c_value: {
                get() {
                    if (this.formatPercent) {
                        if (this.value) {
                            return (this.value * 100).toFixed(0);
                        }
                    }
                    return this.value;
                },
                set(val) {
                    if (this.formatPercent) {
                        this.$emit('input', (val / 100).toFixed(2));
                    } else {
                        this.$emit('input', val);
                    }
                }
            }
        },
        methods: {
            blur(event) {
                this.$emit('blur');
            },
            focus(event) {
                this.$emit('focus');
            },
            change(event) {
                this.$emit('change', event.target.value);
            }
        }
    }
</script>

<style scoped lang="scss">
    @import "../../../sass/variables";

    .input-wrap {
        position: relative;
        display: flex;
        align-items: center;
        text-align: center;
        margin-top: 15px;

        &.has-icon {
            input {
                padding-left: 45px;
            }
        }

        label {
            margin-bottom: 0;
        }

        input:disabled + .input-wrap__placeholder {
            opacity: 0.5;
        }

        input {
            background: #f5f5f5;
            border: 1px solid $muted;
            color: $dark;
            border-radius: 4px;
            height: 100%;
            width: 100%;
            min-height: 45px;
            text-align: center;
            padding: 0 15px;

            &:focus {
                outline: none;
                box-shadow: 0 10px 10px -5px rgb(67 46 158 / 31%);
            }

            & ~ .input-wrap__placeholder {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 0 15px;
                color: #717171;
                /*font-weight: 800;*/
                pointer-events: none;
                display: flex;
                align-items: center;
                justify-content: center;
                white-space: pre-line;
                text-align: center;
                line-height: 0.8;
            }

            &:focus + .input-wrap__placeholder,
            &:not(.empty) + .input-wrap__placeholder {
                color: $dark;
                font-size: 12px;
                font-weight: 400;
                height: 100%;
                width: 100%;
                top: -10px;
                left: 15px;
                line-height: 0px;
                padding: 0;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
            }

        }

        textarea {
            padding: 14px 15px;
        }

        input[type=date]::-webkit-inner-spin-button,
        input[type=date]::-webkit-clear-button {
            display: none;
        }

        .input-wrap__icon {
            position: absolute;
            left: 0;
            height: 100%;
            width: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }


</style>
