<template>
    <div class="input-wrap" :class="c_sizeClass">
        <input v-model="d_value"
               type="radio"
               :value="attrValue"
               :name="name"
               :required="required"
               :title="label"
               :id="d_uuid"
               :disabled="disabled"
               @change="change"
        />
        <label class="input-wrap__placeholder"
               :for="d_uuid">{{label}}</label>
    </div>
</template>

<script>
    export default {
        name: "VRadio",
        props: {
            label: {default: null},
            required: {default: false},
            value: {default: ""},
            name: {default: null},
            disabled: {default: false},
            attrValue: {default: true},
        },
        data() {
            return {
                d_uuid: Math.random().toString(36).substring(4),
                d_value: this.value
            }
        },
        computed: {
            c_sizeClass() {
                if (this.size) {
                    return `input-wrap_${this.size}`;
                }
            }
        },
        watch: {
            value(val) {
                this.d_value = val;
            }
        },
        created() {
            if (this.type === 'date' && this.value) {
                this.$emit('input',);
            }
        },
        methods: {
            change(event) {
                this.$emit('input', this.d_value);
                this.$emit('change', this.d_value);
            }
        }
    }
</script>

<style scoped lang="scss">
    @import "../../../sass/variables";

    .input-wrap {
        position: relative;
        display: flex;
        align-items: center;
        min-height: 45px;
        line-height: 1;

        &.input-wrap_small {
            font-size: 12px;

            input[type=radio] {
                & ~ .input-wrap__placeholder {
                    padding-left: 25px;
                    &::before {
                        width: 16px;
                        height: 16px;
                        font-size: 16px;
                    }
                }
            }
        }

        label {
            margin-bottom: 0;
        }

        input:disabled + .input-wrap__placeholder {
            opacity: 0.5;
        }

        input[type=radio] {
            opacity: 0;
            position: absolute;

            & ~ .input-wrap__placeholder {
                cursor: pointer;
                padding-left: 45px;
                align-items: center;

                &::before {
                    content: "";
                    flex-shrink: 0;
                    color: inherit;
                    font-family: IcoFont, sans-serif !important;
                    border: none !important;
                    box-shadow: none !important;
                    align-items: center;
                    font-size: 35px;
                    line-height: 1;
                    transition: transform 0.1s ease-in;
                    border-radius: 0;
                    background: #00000030;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    width: 35px;
                    height: 35px;
                    text-align: center;
                    position: absolute;
                    margin: auto;
                }

                &::after {
                    content: none !important;
                }

            }

            &:checked ~ .input-wrap__placeholder::before {
                content: "\F00E";
                background: none;
            }

            &:active ~ .input-wrap__placeholder::before {
                transform: scale(0.8);
            }
        }
    }



</style>