<template>
    <div class="input-wrap">
        <select :value="value"
                :class="{empty: !value}"
                :required="required"
                :name="name"
                :title="label"
                :id="d_uuid"
                :style="{'text-align':textAlign}"
                :disabled="disabled"
                :min="min"
                :max="max"
                @change="change"
                @input="input"
                @focus="focus"
                @blur="blur"
        >
            <slot></slot>
        </select>
        <label class="input-wrap__placeholder"
               v-if="label"
               :for="d_uuid">{{label}}</label>
    </div>
</template>

<script>
    export default {
        name: "VSelect",
        props: {
            value: {default: ""},
            name: {default: null},
            textAlign: {default: 'inherit'},
            label: {default: null},
            required: {default: false},
            disabled: {default: false},
            min: {default: 0},
            max: {default: null},
        },
        data() {
            return {
                d_uuid: Math.random().toString(36).substring(4),
            }
        },
        methods: {
            input(event) {
                this.$emit('input', event.target.value);
            },
            blur(event) {
                this.$emit('blur');
            },
            focus(event) {
                this.$emit('focus');
            },
            change(event) {
                this.$emit('change', event.target.value);
            }
        }
    }
</script>

<style scoped lang="scss">
    @import "../../../sass/variables";

    .input-wrap {
        position: relative;
        display: flex;
        align-items: center;
        min-height: 45px;
        margin-top: 15px;

        label {
            margin-bottom: 0;
        }

        select:disabled + .input-wrap__placeholder {
            opacity: 0.5;
        }

        select {
            background: #ffffff;
            border: 1px solid $muted;
            color: $dark;
            border-radius: 4px;
            height: 100%;
            width: 100%;
            min-height: 45px;
            text-align: center;
            padding: 0 15px;

            &:focus {
                outline: none;
                box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
            }

            & ~ .input-wrap__placeholder {
                position: absolute;
                /*font-weight: 800;*/
                pointer-events: none;
                white-space: pre-line;
                text-align: center;

                color: $dark;
                font-size: 12px;
                font-weight: 400;
                height: 100%;
                width: 100%;
                top: -10px;
                left: 15px;
                line-height: 0px;
                padding: 0;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
            }
        }
    }


</style>