<template>
    <div class="input-wrap">
       <textarea :value="value"
                 :name="name"
                 :class="{empty: !d_value}"
                 :required="required"
                 :disabled="disabled"
                 :style="{'text-align':textAlign}"
                 :title="label"
                 @change="change"
                 @input="input"
                 @focus="focus"
                 :rows="rows"
                 @blur="blur"></textarea>
        <label class="input-wrap__placeholder"
               :for="d_uuid">{{label}}</label>
    </div>
</template>

<script>
    export default {
        name: "VTextarea",
        props: {
            textAlign: {default: 'inherit'},
            label: {default: null},
            required: {default: false},
            value: "",
            rows: {default: 2},
            name: {default: null},
            disabled: {default: false},
        },
        data() {
            return {
                d_uuid: Math.random().toString(36).substring(4),
                d_value: this.value
            }
        },
        watch: {
            value(val) {
                this.d_value = val;
            }
        },
        methods: {
            input(event) {
                this.$emit('input', event.target.value);
            },
            blur(event) {
                this.$emit('blur');
            },
            focus(event) {
                this.$emit('focus');
            },
            change(event) {
                this.$emit('change', event.target.value);
            }
        }
    }
</script>

<style scoped lang="scss">
    @import "../../../sass/variables";

    .input-wrap {
        position: relative;
        display: flex;
        align-items: center;
        min-height: 45px;

        label {
            margin-bottom: 0;
        }

        input:disabled + .input-wrap__placeholder {
            opacity: 0.5;
        }

        input:not([type=checkbox]):not([type=radio]), textarea {
            background: #ffffff;
            border: 1px solid $muted;
            color: $dark;
            border-radius: 4px;
            height: 100%;
            width: 100%;
            min-height: 45px;
            text-align: center;
            /*font-weight: 800;*/
            padding: 0 15px;

            &:focus {
                outline: none;
                box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
            }

            & ~ .input-wrap__placeholder {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                padding: 0 15px;
                color: #717171;
                /*font-weight: 800;*/
                pointer-events: none;
                display: flex;
                align-items: center;
                justify-content: center;
                white-space: pre-line;
                text-align: center;
                line-height: 0.8;
            }

            &:focus + .input-wrap__placeholder,
            &:not(.empty) + .input-wrap__placeholder {
                color: $dark;
                font-size: 12px;
                font-weight: 400;
                height: 100%;
                width: 100%;
                top: -10px;
                left: 15px;
                line-height: 0px;
                padding: 0;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
            }

        }

        textarea {
            padding: 14px 15px;
        }
    }


</style>
