@import "../variables";

.article-preview-line {
  width: 300%;
  height: 300px;
  margin-left: -100%;
  margin-bottom: -500px;
  margin-top: 225px;
  background: #e31e24;
  z-index: -5;
}

.article-preview {
  background-size: 100% auto;
  background-position: bottom;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #212121;
    opacity: 0.75;
  }

  .article-preview__header, .article-preview-header {
    background: #212121;
    display: flex;
    padding: 60px;
    color: white;
    position: relative;

    .article-preview-header__date {
      color: #C5C5C5;
      font-family: Montserrat, sans-serif;
      text-align: center;
      line-height: 28px;
      border-right: 2px solid rgba(151, 151, 151, 0.5);
      width: 80px;
      margin: -40px 50px -40px 0;
      padding: 40px 50px 40px 0;
      box-sizing: content-box;
      h1, .h1 {
        line-height: 64px;
        font-size: 72px;
        font-weight: 500;
        color: $primary;
        margin-bottom: 15px;
      }
    }

    .article-preview-header__title {
      font-size: 20px;
      font-weight: 500;
      font-family: Montserrat, sans-serif;

      h2, .h2 {
        font-size: 36px;
        font-weight: 500;
        margin-bottom: 10px;
        color: white;
        //&:hover {
        //  color: $red;
        //}

      }

      div {
        margin-bottom: 20px;
      }
    }
  }

  .article-preview-body {
    color: white;
    font-size: 16px;
    line-height: 23px;
    //letter-spacing: 1.3px;
    position: relative;
    font-weight: 300;
    padding: 130px 242px;
    h3, .h3 {
      margin-bottom: 8px;
    }

    .article-preview-body__text {
    }
  }

  @include respond-to('md') {
    background-repeat: no-repeat;
    background-size: cover;
    .article-preview__header, .article-preview-header {
      padding: 15px;

      .article-preview-header__date {
        border: none;
      }

      .article-preview-header__stars {
        display: none;
      }
    }

    .article-preview-body {
      padding: 15px;
    }
  }

  @include respond-to('sm') {
    .article-preview__header, .article-preview-header {
      justify-content: center;
      flex-direction: column;
      .article-preview-header__date {
        margin: 0;
        padding: 0;
        display: flex;
        width: 100%;
        align-items: baseline;
      }

      .article-preview-header__title {
        width: 100%;
      }
    }
  }
}