@import "../variables";

.badge {
    padding: 3px 15px;
    background: #eaeaea;
    display: inline-flex;
    border-radius: 4px;
}

.badge_primary {
    background: $primary;
    color: white;
}

.badge_sm{
    font-size: 10px;
    padding: 4px 7px;
    line-height: 12px;
}
