@import "../variables";

blockquote, .blockquote {
  background: #fbf7f7;
  border-radius: 0 5px 5px 0;
  padding: 15px 15px 15px 15px;
  border: 1px solid #ffefef;
  border-left: 3px solid #e31e24;
  font-size: inherit;
}