@import '../variables';

.category-card {
  transition: transform 0.1s ease;
  position: relative;

  &:hover {
    z-index: 3;
    transform: scale(1.1);
    box-shadow: 3px 11px 20px rgba(0, 0, 0, 0.18);

    .category-card__header-wrapper {
      z-index: 2;

      .category-card__header {
        border: none;
      }
    }

    .category-card__children {
      display: block;
    }
  }

  .category-card__header-wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding-bottom: 100%;

    .category-card__header {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      display: inline-flex;
      justify-content: flex-end;
      flex-direction: column;
      align-items: center;
      border: 1px solid #f1f1f1;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      z-index: 1;

      a:hover {
        text-decoration: none;
      }

      .category-card-header__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #e0e0e0;

        i{
          font-size: 64px;
        }
      }

      .category-card-header__name {
        color: white;
        background-color: $primary;
        width: 100%;
        min-height: 60px;
        height: 60px;
        font-family: $headings-font-family;
        display: flex;
        padding: 0 15px;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        text-align: center;
        line-height: 1;
      }
    }

  }

  .category-card__children {
    width: 100%;
    list-style: none;
    padding: 15px;
    margin: 0;
    display: none;
    position: absolute;
    background: #212121;
    font-weight: 400;
    text-transform: initial;
    line-height: 1.2;
    font-size: 12px;
    z-index: 5;

    a {
      display: block;
      color: #ffffff;
      opacity: 0.7;
      &:hover {
        opacity: 1;
      }
    }

    li:not(:last-of-type) {
      margin-bottom: 7px;
    }
  }
}