[class^='clients-atlas-'] {
  background-image: url('/images/clients.png');
  background-repeat: no-repeat;
  display: block;
}

.clients-atlas-administraciya-surguta {
  width: 160px;
  height: 160px;
  background-position: -1px -1px;
}

.clients-atlas-apteka-zdorovogo-cheloveka {
  width: 160px;
  height: 160px;
  background-position: -163px -1px;
}

.clients-atlas-askona {
  width: 160px;
  height: 160px;
  background-position: -325px -1px;
}

.clients-atlas-aura {
  width: 160px;
  height: 160px;
  background-position: -487px -1px;
}

.clients-atlas-cinema-park {
  width: 160px;
  height: 160px;
  background-position: -649px -1px;
}

.clients-atlas-dns {
  width: 160px;
  height: 160px;
  background-position: -811px -1px;
}

.clients-atlas-etalon {
  width: 160px;
  height: 160px;
  background-position: -1px -163px;
}

.clients-atlas-fix-price {
  width: 160px;
  height: 160px;
  background-position: -163px -163px;
}

.clients-atlas-gazprom {
  width: 160px;
  height: 160px;
  background-position: -325px -163px;
}

.clients-atlas-kfc {
  width: 160px;
  height: 160px;
  background-position: -487px -163px;
}

.clients-atlas-kia {
  width: 160px;
  height: 160px;
  background-position: -649px -163px;
}

.clients-atlas-kuhni-mariya {
  width: 160px;
  height: 160px;
  background-position: -811px -163px;
}

.clients-atlas-lada {
  width: 160px;
  height: 160px;
  background-position: -1px -325px;
}

.clients-atlas-laplandia {
  width: 160px;
  height: 160px;
  background-position: -163px -325px;
}

.clients-atlas-lenta {
  width: 160px;
  height: 160px;
  background-position: -325px -325px;
}

.clients-atlas-lexus {
  width: 160px;
  height: 160px;
  background-position: -487px -325px;
}

.clients-atlas-mazda {
  width: 160px;
  height: 160px;
  background-position: -649px -325px;
}

.clients-atlas-megafon {
  width: 160px;
  height: 160px;
  background-position: -811px -325px;
}

.clients-atlas-mnogo-mebeli {
  width: 160px;
  height: 160px;
  background-position: -1px -487px;
}

.clients-atlas-monetka {
  width: 160px;
  height: 160px;
  background-position: -163px -487px;
}

.clients-atlas-mvideo {
  width: 160px;
  height: 160px;
  background-position: -325px -487px;
}

.clients-atlas-okey {
  width: 160px;
  height: 160px;
  background-position: -487px -487px;
}

.clients-atlas-planeta-zdorovo {
  width: 160px;
  height: 160px;
  background-position: -649px -487px;
}

.clients-atlas-radio-dorojnoe {
  width: 160px;
  height: 160px;
  background-position: -811px -487px;
}

.clients-atlas-renault {
  width: 160px;
  height: 160px;
  background-position: -1px -649px;
}

.clients-atlas-reso {
  width: 160px;
  height: 160px;
  background-position: -163px -649px;
}

.clients-atlas-resurs-auto {
  width: 160px;
  height: 160px;
  background-position: -325px -649px;
}

.clients-atlas-rostelekom {
  width: 160px;
  height: 160px;
  background-position: -487px -649px;
}

.clients-atlas-rzhd {
  width: 160px;
  height: 160px;
  background-position: -649px -649px;
}

.clients-atlas-sitimoll {
  width: 160px;
  height: 160px;
  background-position: -811px -649px;
}

.clients-atlas-sogaz {
  width: 160px;
  height: 160px;
  background-position: -1px -811px;
}

.clients-atlas-swarovski {
  width: 160px;
  height: 160px;
  background-position: -163px -811px;
}

.clients-atlas-toyota {
  width: 160px;
  height: 160px;
  background-position: -325px -811px;
}

.clients-atlas-travelers-coffee {
  width: 160px;
  height: 160px;
  background-position: -487px -811px;
}

.clients-atlas-volkswagen {
  width: 160px;
  height: 160px;
  background-position: -649px -811px;
}

.clients-atlas-vse-dlya-svarki {
  width: 160px;
  height: 160px;
  background-position: -811px -811px;
}
