@import "../variables";

.clients-logo-slider {
  [class^='clients-atlas-'] {
    filter: grayscale(1);
    opacity: 0.5;

    @include respond-to(lg){
      zoom: 0.9;
    }

    @include respond-to(md){
      zoom: 0.55;
    }

    @include respond-to(sm){
      zoom: 0.45;
    }

    &:hover {
      filter: none;
      opacity: 1;
    }
  }

  .swiper-pagination-bullet-active {
    background: #e31e24;
  }
}