.layout-previews {
  display: flex;
  flex-wrap: wrap;

  &.layout-previews__with-review {
    flex-direction: column;

    .layout-preview {
      margin-bottom: 30px;
      width: 100%;

      .layout-preview__review {
        width: 100%;
        display: flex;
        margin-left: 15px;
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  .layout-preview {
    display: flex;
    margin-right: 15px;
    align-items: flex-start;

    .media-file {
      flex-shrink: 0;
    }

    .layout-preview__thumnail-wrap {
      flex-shrink: 0;
      position: relative;
      border-radius: 10px;
      overflow: hidden;
      //box-shadow: 2px 7px 10px 0px rgba(0, 0, 0, 0.35);
      transition: transform 0.1s ease-in;

      &:hover {
        transform: scale(1.1);

        .layout-preview__status {
          transform: translateY(30px);
        }
      }

      .layout-preview__status {
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        background: rgba(245, 245, 245, 0.8);
        color: black;
        border-radius: 0px 0px 10px 10px;
        transition: transform 0.1s ease-in;

        &.rejected {
          background: rgba(227, 6, 19, 0.8);
          color: white;
        }

        &.accepted {
          background: rgba(37, 235, 0, 0.8);
          color: white;
        }
      }
    }
  }
}