@import "../variables";

.bg_new {
  background: #bddcff;
  color: #000000;
}

.bg_check {
  background: #9aa0ff;
  color: #ffffff;
}

.bg_payment {
  background: #ffe58d;
  color: #4c4c4c;
}

.bg_work {
  background: #f0ff36;
  color: #4c4c4c;
}

.bg_layout {
  background: #ff75d2;
  color: #ffffff;
}

.bg_ready {
  background: #25eb00;
  color: #ffffff;
}

.bg_layout_agreement {
  background: #484871;
  color: #ffffff;
}

.bg_layout_rejected {
  background: #ff0f00;
  color: #ffffff;
}

.bg_offer {
  background: #2d2f71;
  color: #ffffff;
}