.card-project-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-bottom: 100%;

  .project-preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    overflow: hidden;

    .project-preview__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: relative;
      transition: transform 0.1s ease-in;

      &:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }

    iframe {
      width: 100%;
      height: 100%;
    }
  }
}

.project-preview {
  overflow: hidden;
  height: 100%;

  .project-preview__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    transition: transform 0.1s ease-in;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
  }

  iframe {
    width: 100%;
    height: 100%;
  }
}