@import '../variables';

.product-card-mini-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  transition: transform 0.1s ease;

  &:hover {
    transform: scale(1.1);
    text-decoration: none;
    box-shadow: 3px 11px 20px rgba(0, 0, 0, 0.18);
  }

  .product-card-mini {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid #f1f1f1;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;

    .product-card-mini__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #e0e0e0;

      i {
        font-size: 64px;
      }

    }

    .product-card-mini__name {
      //background: linear-gradient(45deg, #ffffffe0, #ffbaba), repeating-linear-gradient(45deg, red 0, red 15px, transparent 15px, transparent 30px);
      background: $primary;
      color: white;
      line-height: 1;
      width: 100%;
      min-height: 60px;
      height: 60px;
      font-family: $headings-font-family;
      display: flex;
      padding: 0 15px;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      text-align: center;
    }
  }
}
