.rating {
    display: grid;
    align-items: center;
    grid-gap: 5px;
    grid-auto-flow: column;
    text-align: center;

    i:before {
        color: #e3e3e3;
    }

    i.active:before {
        color: $primary;
    }
}

.rating_inline {
    display: inline-grid;
}
