.recommendations-slider {
  .product-card-mini__name {
    font-size: 12px;
    line-height: 1;
    font-weight: normal;
  }

  .swiper-pagination {
    position: static;
    transform: none !important;
    margin: 15px auto auto;

    .swiper-pagination-bullet-active {
      opacity: 1;
      background: #5bff52;
    }
  }

  .product-card-mini-wrapper:hover {
    transform: none;
  }
}