.review-card {
    border: 1px solid #e3e3e3;
    display: grid;
    grid-gap: 15px;
    position: relative;
    transition: all .2s ease-in;
    padding: 15px 15px 90px;
    overflow: hidden;
    box-sizing: content-box;

    @include media-breakpoint-down(md) {
        font-size: 14px;
    }

    &.review-card_expanded {
        .icofont-simple-down {
            transform: rotate(180deg);
        }

        padding-bottom: 40px;

        .review-card__expand {
            padding-top: 15px;
        }
    }

    .review-card__expand {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 50px 0 15px 0;
        background: linear-gradient(0, white 45%, #ffffff00);
        text-align: center;
        font-size: 14px;
        color: $primary;

        .icofont-simple-down {
            display: inline-block;
            transition: transform .1s ease-in;
            transform-origin: 7px 6px;
        }
    }

    .review-card__date {
        color: #949494;
        font-size: 14px;
        font-weight: 400;
    }

    .review-card__client-name {
        font-weight: bold;
    }

    .review-card__item {
        display: grid;
        grid-template-columns: 75px auto 120px;
        grid-gap: 15px;
        align-items: center;

        @include media-breakpoint-down(md) {
            grid-template-columns: 30px auto 30px;
        }
    }

    .review-card__items {
        display: grid;
        grid-gap: 15px;
    }

    .review-card__item-img {
        width: 75px;
        height: 75px;
        font-size: 40px;
        text-align: center;
        line-height: 65px;
        color: #b7b7b7;

        @include media-breakpoint-down(md) {
            width: 30px;
            height: 30px;
        }
    }

    .review-card__item-name {
        font-weight: bold;
    }

    .review-card__average {
        font-size: 24px;
        font-weight: bold;
        color: $primary;
        margin-bottom: 15px;

        @include media-breakpoint-down(md) {
            font-size: 14px;
            margin-top: 0;
        }
    }

    .review-card__rating {
        @include media-breakpoint-down(md) {
            .icofont-star:not(:first-child) {
                display: none;
            }
        }
    }
}
