
.swiper-container {
  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .swiper-slide-dark {
    color: white;

    h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
      color: inherit;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: #000000bf;
    }

    > .container {
      position: relative;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
    }
  }

  .swiper-custom-arrow {
    background: white none;
    color: #e31e24;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    border-radius: 50%;
    //border: 3px solid #e31e24;
    box-sizing: content-box;
    opacity: 0.5;
    transition: all 0.1s ease-in;
    &:hover {
      opacity: 1;
      transform: scale(1.1);
    }
  }
}