<template>
    <div class="top-profile">
        <dropdown-component width="300px" ref="dropdown">
            <button class="btn btn-primary" slot="toggler">
                <i class="icofont-user-suited"></i>
                <template v-if="!c_user">Личный кабинет</template>
                <template v-else>
                    <div>{{ c_user.email }}</div>
                </template>
            </button>
            <div slot="body" class="top-profile__dropdown">
                <div v-if="d_tab === 'userProfile'" class="dropdown-list top-profile__profile">
                    <a @click.prevent="goToVuePage" class="dropdown-list__item d-flex align-items-end pb-3"
                       href="/cabinet/bonus-details">
                        <i class="icofont-wallet"></i>
                        <div>
                            <div class="small text-muted">Бонусный баланс</div>
                            <div class="text-primary h3 mb-n1">{{ $store.state.auth.user.bonusBalance }} ₽</div>
                        </div>
                    </a>
                    <a @click.prevent="goToVuePage" href="/cabinet/profile" class="dropdown-list__item">
                        <i class="icofont-ui-user"></i>Профиль
                    </a>
                    <a @click.prevent="goToVuePage" href="/cabinet/orders" class="dropdown-list__item">
                        <i class="icofont-prestashop"></i>Мои заказы
                    </a>
                    <a href="/logout" class="dropdown-list__item">
                        <i class="icofont-logout"></i>Выйти</a>
                </div>
                <div v-else-if="d_tab === 'adminProfile'" class="dropdown-list top-profile__profile">
                    <a @click.prevent="goToVuePage" href="/admin/profile" class="dropdown-list__item">
                        <i class="icofont-ui-user"></i>Профиль
                    </a>
                    <a v-if="$store.getters['auth/can'](Abilities.Orders.View) ||
                                $store.getters['auth/can'](Abilities.Orders.ViewForDesign)"
                       @click.prevent="goToVuePage" href="/admin/orders" class="dropdown-list__item">
                        <i class="icofont-prestashop"></i>Заказы
                    </a>
                    <a v-if="$store.getters['auth/can'](Abilities.Catalog.Update)"
                       @click.prevent="goToVuePage" href="/admin/catalog" class="dropdown-list__item">
                        <i class="icofont-list"></i>Каталог товаров
                    </a>
                    <a v-if="$store.getters['auth/can'](Abilities.Projects.Update)"
                       @click.prevent="goToVuePage" href="/admin/projects" class="dropdown-list__item">
                        <i class="icofont-briefcase-1"></i>Выполненные проекты
                    </a>
                    <a v-if="$store.getters['auth/can'](Abilities.Articles.Update)"
                       @click.prevent="goToVuePage" href="/admin/articles" class="dropdown-list__item">
                        <i class="icofont-newspaper"></i>Статьи
                    </a>
                    <a v-if="$store.getters['auth/can'](Abilities.Sales.Update)"
                       @click.prevent="goToVuePage" href="/admin/sales" class="dropdown-list__item">
                        <i class="icofont-sale-discount"></i>Акции
                    </a>
                    <a v-if="$store.getters['auth/can'](Abilities.Promocodes.Update)"
                       @click.prevent="goToVuePage" href="/admin/promocodes" class="dropdown-list__item">
                        <i class="icofont-barcode"></i>Промокоды
                    </a>
                    <a v-if="$store.getters['auth/can'](Abilities.Mailings.Update)"
                       @click.prevent="goToVuePage" href="/admin/mailings" class="dropdown-list__item">
                        <i class="icofont-email"></i>Рассылки сообщений
                    </a>
                    <a v-if="$store.getters['auth/can'](Abilities.Companies.View)"
                       @click.prevent="goToVuePage" href="/admin/companies" class="dropdown-list__item">
                        <i class="icofont-files-stack"></i>Организации
                    </a>
                    <a v-if="$store.getters['auth/can'](Abilities.Statistic.View)"
                       @click.prevent="goToVuePage" href="/admin/statistic" class="dropdown-list__item">
                        <i class="icofont-chart-line"></i>Статистика
                    </a>
                    <a v-if="$store.getters['auth/can'](Abilities.Users.View)"
                       @click.prevent="goToVuePage" href="/admin/users" class="dropdown-list__item">
                        <i class="icofont-users"></i>Пользователи
                    </a>
                    <a v-if="$store.getters['auth/can'](Abilities.Settings.Update)"
                       @click.prevent="goToVuePage" href="/admin/settings" class="dropdown-list__item">
                        <i class="icofont-ui-settings"></i>Настройки
                    </a>
                    <a href="/logout" class="dropdown-list__item">
                        <i class="icofont-logout"></i>Выйти</a>
                </div>
                <template v-else>
                    <div class="mb-4 top-profile__tabs">
                        <a href="#login"
                           :class="{active: d_tab === 'login'}"
                           @click="d_tab='login'">
                            Вход</a>
                        <a href="#register"
                           :class="{active: d_tab === 'register'}"
                           @click="d_tab='register'">
                            Регистрация</a>
                    </div>
                    <form v-if="d_tab === 'login'"
                          @submit.prevent="login"
                    >
                        <v-input class="mb-4"
                                 type="email"
                                 label="Email"
                                 required
                                 v-model="d_loginForm.email"
                        />
                        <v-input class="mb-4"
                                 type="password"
                                 label="Пароль"
                                 required
                                 v-model="d_loginForm.password"
                        />
                        <request-errors v-if="d_loginForm.errors"
                                        :errors="d_loginForm.errors"
                        />
                        <div class="d-flex align-items-center justify-content-between">
                            <button class="btn btn-primary"
                                    type="submit"
                                    :class="{'btn_is-loading': d_loading.login}"
                            >Войти
                            </button>
                            <span role="button" class="btn btn-link btn-sm"
                                  @click="d_tab = 'restoration'"
                            >Забыли пароль?</span>
                        </div>
                    </form>
                    <form v-else-if="d_tab === 'register'"
                          @submit.prevent="register">
                        <v-input class="mb-4"
                                 label="Имя"
                                 required
                                 v-model="d_registerForm.firstName"></v-input>
                        <v-input class="mb-4"
                                 type="email"
                                 label="Email"
                                 required
                                 v-model="d_registerForm.email"></v-input>
                        <v-input class="mb-4"
                                 type="password"
                                 label="Пароль"
                                 v-model="d_registerForm.password"
                                 required></v-input>
                        <v-input class="mb-2"
                                 type="password"
                                 label="Повторите пароль"
                                 v-model="d_registerForm.passwordConfirmation"
                                 required></v-input>
                        <v-checkbox class="mb-3"
                                    size="small"
                                    v-model="d_registerForm.termsAgreement">
                            <template #label>
                                Я согласен с условиями <a href="/terms" target="_blank">пользовательского
                                                                                        соглашения.</a>
                            </template>
                        </v-checkbox>
                        <request-errors v-if="d_registerForm.errors"
                                        :errors="d_registerForm.errors"
                        />
                        <div class="text-center">
                            <button class="btn btn-primary w-100" type="submit"
                                    :class="{'btn_is-loading': d_loading.register}">Зарегистрироваться
                            </button>
                        </div>
                    </form>
                    <password-restoration v-else-if="d_tab === 'restoration'"/>
                </template>
            </div>
        </dropdown-component>
    </div>
</template>

<script>
import DropdownComponent from "./utils/DropdownComponent";
import RequestErrors from "./utils/RequestErrors";
import VInput from "./utils/VInput";
import VCheckbox from "./utils/VCheckbox";
import {Abilities} from "../store/modules/auth";
import PasswordRestoration from "@/js/components/User/PasswordRestoration";

export default {
    name: "TopProfile",
    components: {PasswordRestoration, VCheckbox, VInput, RequestErrors, DropdownComponent,},
    data() {
        let user = this.$store.state.auth.user;
        let tab = user ? "userProfile" : "login";
        if (user && ("position" in user)) {
            tab = "adminProfile";
        }

        return {
            d_isInCabinet: document.location.href.match(/cabinet|admin/),
            d_tab: tab,
            d_loading: {
                login: false,
                register: false
            },
            d_registerForm: {
                firstName: "",
                email: "",
                password: "",
                passwordConfirmation: "",
                errors: null
            },
            d_loginForm: {
                email: "",
                password: "",
                errors: null
            },
            Abilities: Abilities
        }
    },
    computed: {
        c_user() {
            return this.$store.state.auth.user;
        },
    },
    methods: {
        register() {
            this.d_loading.register = true;

            this.$store.dispatch("auth/register", this.d_registerForm)
                .then(user => {
                    this.d_tab = "userProfile";
                })
                .catch(e => {
                    this.d_registerForm.errors = e.data;
                    this.d_loading.register = false;
                });
        },
        login() {
            this.d_loading.login = true;
            this.$store.dispatch("auth/login", {
                email: this.d_loginForm.email,
                password: this.d_loginForm.password
            })
                .then(user => {
                    this.d_tab = "position" in user ? "adminProfile" : "userProfile";
                })
                .catch(e => {
                    this.d_loginForm.errors = e.data;
                    this.d_loading.login = false;
                });
        },
        goToVuePage(event) {
            if (this.d_isInCabinet) {
                this.$router.push(event.currentTarget.getAttribute("href"));
            } else {
                document.location.href = event.currentTarget.href;
            }
            this.$refs.dropdown.toggle(false);
        }
    }
}
</script>

<style scoped lang="scss">
@import "../../sass/variables";

.top-profile__tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: $h5-font-size;
    color: #e31e24;
    padding: 0 1rem 1rem 1rem;
    margin: 0 -1rem 1rem -1rem;
    border-bottom: 1px solid #e8f0fe;

    > * {
        opacity: 0.2;

        &.active {
            opacity: 1;
        }
    }
}

.top-profile__profile a {
    color: $dark;

    &:hover {
        color: $primary;
    }

    i {
        margin-right: 10px;
    }
}
</style>
