<template>
    <form @submit.prevent="submit">
        <modal-component width="400px" class="text-center"
                         @close="$emit('close')">
            <template #header>
                <div class="h3">Перезвоните мне</div>
            </template>
            <template #body>
                <template v-if="!d_submitted">
                    <div class="row">
                        <div class="col-12 mb-3">
                            <v-input label="Имя"
                                     required
                                     v-model="d_name"></v-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <v-input label="Телефон"
                                     required
                                     v-model="d_phone"></v-input>
                        </div>
                    </div>
                </template>
                <template v-else>
                    <div class="text-primary h1">Спасибо!</div>
                    <div>Мы скоро вам перезвоним.</div>
                </template>
            </template>
            <template #footer v-if="!d_submitted">
                <button class="btn btn-primary w-100 justify-content-center" type="submit"
                        :class="{'btn_is-loading':d_isLoading}">Отправить
                </button>
            </template>
        </modal-component>
    </form>
</template>

<script>
    import ModalComponent from "../utils/ModalComponent";
    import VInput from "../utils/VInput";
    import {callback} from "../../api/UserAPI";

    export default {
        name: "FeedbackModal",
        components: {VInput, ModalComponent},
        data() {
            return {
                d_name: "",
                d_phone: "",
                d_submitted: false,
                d_isLoading: false
            }
        },
        methods: {
            submit() {
                this.d_isLoading = true;
                callback
                    .request({'name': this.d_name, 'phone': this.d_phone})
                    .then(res => {
                        this.d_submitted = true;
                        this.d_isLoading = false;
                    });
            }
        }
    }
</script>

<style scoped>

</style>