<template>
    <form @submit.prevent="submitReview">
        <div class="layout-previews"
             :class="{'layout-previews__with-review': c_showReviews || c_showReviewFields}">
            <div class="layout-preview"
                 v-for="(layout,index) in orderProduct.layouts"
                 :key="layout.id">
                <div class="layout-preview__thumnail-wrap">
                    <attachment :attachment="layout.mediaFile"/>
                    <div class="layout-preview__status" :class="layout.status">
                        {{layout.status|f_layoutStatus}}
                    </div>
                </div>
                <div class="layout-preview__review" v-if="c_showReviewFields">
                    <v-radio v-model="layout.status"
                             required
                             :name="`layout_${index}`"
                             attrValue="accepted"
                             label="Мне нравится. Принимаю."></v-radio>
                    <v-radio v-model="layout.status"
                             required
                             :name="`layout_${index}`"
                             attrValue="rejected"
                             label="Есть замечания. Не принимаю."></v-radio>
                    <v-textarea v-if="layout.status==='rejected'"
                                required
                                label="Комментарий"
                                v-model="layout.comment"></v-textarea>
                </div>
                <div class="layout-preview__review" v-else-if="c_showReviews">
                    <div>{{layout.comment}}</div>
                </div>
            </div>
            <div v-if="c_allowAdding">
                <attach-area-component v-model="d_newLayouts"
                                       label="Выберите или перенесите в это поле файлы макета"
                                       :multiple="true"
                />
                <button class="btn btn-primary" type="button"
                        :class="{'btn_is-loading':d_loading.layoutReCheck}"
                        @click="sendReCheckLayouts">Отправить макет на повторную проверку
                </button>
            </div>
        </div>
        <div class="mt-3"
             v-if="c_isReviewsEditable">
            <button class="btn btn-primary mr-3" type="submit"
                    :class="{'btn_is-loading':d_loading.submit}"
                    @click="d_reviewStatus='work'">
                <i class="icofont icofont-check-alt"></i>
                Принять и отправить в работу
            </button>
            <button class="btn btn-primary" type="submit"
                    :class="{'btn_is-loading':d_loading.submit}"
                    @click="d_reviewStatus='layout'">
                <i class="icofont icofont-ban"></i>
                Отправить на переработку
            </button>
        </div>
    </form>
</template>

<script>
    import UserAPI from "../../api/UserAPI";
    import AttachAreaComponent from "../utils/AttachAreaComponent";
    import VRadio from "../utils/VRadio";
    import VTextarea from "../utils/VTextarea";
    import Attachment from "@/js/components/utils/Attachment";

    export default {
        name: "LayoutPreviews",
        components: {Attachment, VTextarea, VRadio, AttachAreaComponent},
        props: {
            'orderProduct': null,
            'layoutsOnly': false,
        },
        data() {
            return {
                d_loading: {
                    submit: false,
                    layoutReCheck: false,
                },
                d_newLayouts: [],
                d_reviewStatus: null
            }
        },
        computed: {
            c_showReviews() {
                return this.orderProduct.status === 'layout_rejected' && !this.layoutsOnly;
            },
            c_showReviewFields() {
                return this.orderProduct.status === 'layout_agreement' && !this.layoutsOnly && this.orderProduct.needLayout;
            },
            c_isReviewsEditable() {
                return this.orderProduct.status === 'layout_agreement' && !this.layoutsOnly && this.orderProduct.needLayout;
            },
            c_allowAdding() {
                return this.orderProduct.status === 'layout_rejected' && !this.layoutsOnly;
            }
        },
        methods: {
            submitReview() {
                this.d_loading.submit = true;
                UserAPI.orderProducts.review(this.orderProduct.id, this.packRequest())
                    .then(response => {
                        this.orderProduct.status = response.status;
                        this.d_loading.submit = false;
                    })
                    .catch(error => {
                        this.d_loading.submit = false;
                    });
                this.$emit('review', this.orderProduct);
            },
            packRequest() {
                return {
                    status: this.d_reviewStatus,
                    reviews: this.orderProduct.layouts.reduce((acc, item) => {
                        acc[item.id] = {
                            status: item.status,
                            comment: item.comment,
                        };
                        return acc;
                    }, {})
                };
            },
            sendReCheckLayouts() {
                this.d_loading.layoutReCheck = true;
                UserAPI.orderProducts.storeLayouts(this.orderProduct.id, {
                    status: 'check',
                    media_file_ids: this.d_newLayouts.map(item => item.id)
                }).then(response => {
                    this.d_loading.layoutReCheck = false;
                    this.orderProduct.status = response.status;
                    this.orderProduct.layouts.push(...response.layouts);
                });
            }
        }
    }
</script>

<style scoped>
    .layout-preview__review {
        white-space: pre-wrap;
    }
</style>
