<template>
    <div class="page-block" >
        <h3>Поздравляем!</h3>
        <p>Вы успешно оформили заказ!</p>
        <p>Что делать дальше?</p>
        <p>Мы проверим макет на соответствие печатным стандартам. В случае, если обнаружим мелкие
           ошибки, то исправим все бесплатно. А макет отправим Вам на согласование.</p>
        <p>Если потребуется внести существенные корректировки, наш менеджер свяжется с Вами по
           контактам, что указаны при оформлении заказа и подскажет,
           как лучше поступить.<span class="text-primary">*</span></p>
        <p>После согласования макета, Ваше обращение получит статус <span
            class="bg_payment">«Ожидает&nbsp;оплаты»</span>. А на электронную
           почту поступит информационное письмо.</p>
        <p>Именно тогда, прямо на этой странице появится кнопка оплаты. Ниже, под данным текстом.</p>
        <p>Если желаете провести оплату как юридическое лицо, кликните по кнопке «Документы»
           вверху, и Вы увидите счет.</p>
        <p>Обратите внимание, для оплаты по счету необходимо чтобы заказ был оформлен от
           юридического лица.</p>
        <p>После поступления средств на наш расчетный счет, мы поставим ваше обращение в работу и его
           статус изменится на <span class="bg_work">«В&nbsp;работе»</span>.</p>
        <p><span class="text-primary">*</span>Если у вас имеются сомнения, вы можете отправить
            <a target="_blank" href="https://ra-bukva.com/layout-requirements">ссылку
                                                                              на технические требования к
                                                                              макетам</a>, вашему дизайнеру. В
                                              большинстве случаев, это действие
                                              помогает заранее убрать
                                              многие недочеты.</p>
    </div>
</template>

<script>
export default {
    name: "OrderTips"
}
</script>

<style scoped>

</style>
