<template>
    <div class="order-payment">
        <loading-component class="d-inline-flex"
                           v-if="d_formCreating">Загрузка платежной формы
        </loading-component>
        <div id="payment-form" v-show="!d_formCreating"></div>
    </div>
</template>

<script>
    import VInput from "@/js/components/utils/VInput";
    import {orders} from "@/js/api/UserAPI";
    import LoadingComponent from "@/js/components/utils/LoadingComponent";

    export default {
        name: "OrderPaymentForm",
        props: ['order'],
        components: {LoadingComponent, VInput},
        data() {
            return {
                d_formCreating: false,
            }
        },
        mounted() {
            this.d_formCreating = true;
            const script = document.createElement('script');
            script.src = "https://yookassa.ru/checkout-widget/v1/checkout-widget.js";
            document.head.append(script);
            script.onload = () => this.fetchIframe();
        },
        methods: {
            async fetchIframe() {
                if (this.d_fetchingPayment) return;

                this.d_fetchingPayment = true;
                this.d_error = null;

                try {
                    const token = await orders.getPaymentForm(this.order.id);
                    await this.makeCheckoutForm(token);
                } catch (e) {
                    console.error(e);
                }
                this.d_fetchingPayment = false;
            },
            async makeCheckoutForm(token) {
                console.log("token: " + token);
                this.$nextTick(() => {
                    const returnUrl = `${document.location.origin}/orders/${this.order.id}?secret=${this.order.secret}`;
                    const checkout = new window.YooMoneyCheckoutWidget({
                        confirmation_token: token, //Токен, который перед проведением оплаты нужно получить от Яндекс.Кассы
                        return_url: returnUrl, //Ссылка на страницу завершения оплаты
                        error_callback(error) {
                            console.error(error);
                            //Обработка ошибок инициализации
                        }
                    });
                    checkout.render('payment-form');

                    setTimeout(() => this.d_formCreating = false, 1500);
                });
            },
        }
    }
</script>

<style scoped lang="scss">
    .order-payment {
        max-width: 600px;
    }
</style>
