<template>
    <div class="page-block payment-form mt-3"
    >
        <img class="payment-form__image" src="/images/payment/terminal.svg" alt="Ожидание оплаты">
        <div class="payment-form__body">
            <h3>Онлайн оплата</h3>
            <p>Все позиции заказа проверены и ожидают оплаты.</p>
            <p class="mb-3">Обратите внимание, что после совершения оплаты статус заказа обновится в течение
                            нескольких минут.</p>
            <transition-collapse>
                <div v-if="d_showPaymentForm">
                    <order-payment-form class="mb-3"
                                        :order="order"
                    />
                </div>
            </transition-collapse>
            <button class="btn btn-primary" type="button"
                    @click="d_showPaymentForm = true"
                    v-if="!d_showPaymentForm"
            >
                Оплатить {{ c_total }}₽
            </button>
        </div>
    </div>
</template>

<script>
import TransitionCollapse from "@/js/components/utils/TransitionCollapse";
import OrderPaymentForm from "@/js/components/User/OrderPaymentForm";

export default {
    name: "OrderPayment",
    components: {OrderPaymentForm, TransitionCollapse},
    props: {
        order: {
            required: true,
        }
    },
    data() {
        return {
            d_showPaymentForm: false,
        }
    },
    computed: {
        c_total() {
            let total = this.order.orderProducts.reduce((acc, item) => acc += item.total, 0);
            total += this.order.deliveryPrice;
            return total;
        },
    },
}
</script>

<style scoped lang="scss">
.payment-form {
    display: flex;

    .payment-form__image {
        margin: 0 50px;
        height: 200px;
    }

    .payment-form__body {
        padding-top: 15px;
    }
}
</style>
