<template>
    <div class="mb-5">
        <div class="row">
            <div class="col-12 col-md mb-3">
                <span class="mr-3">Общая сумма заказа:</span>
                <span class="h4 font-weight-bold">
                            <span class="amount-without-sale text-crossed"
                                  v-if="c_total !== order.total">{{ c_total }}</span> {{ order.total }} ₽
                        </span>
            </div>
            <div class="col-12 col-md mb-3">
                <span class="mr-3">Позиций:</span>
                <span class="h4 font-weight-bold">{{ order.orderProducts.length }} шт.</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md mb-3"
                 v-if="order.promocodeId">
                <span class="mr-3">Использован промокод:</span>
                <span class="h4 font-weight-bold">{{ order.promocodeId }}₽</span>
            </div>
            <div class="col-12 col-md mb-3"
                 v-if="order.bonusesSpent > 0">
                <span class="mr-3">Использованы бонусные рубли:</span>
                <span class="h4 font-weight-bold">{{ order.bonusesSpent }} ₽</span>
            </div>
            <div class="col-12 col-md mb-3"
                 v-if="order.partnerSale > 0">
                <span class="mr-3">Индивидуальная скидка:</span>
                <span class="h4 font-weight-bold">{{ order.partnerSale | f_percent }}%</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md mb-3">
                <span class="mr-3">Email:</span>
                <span class="h4 font-weight-bold">{{ order.email }}</span>
            </div>
            <div class="col-12 col-md mb-3">
                <div>
                    <span class="mr-3">Телефон:</span>
                    <span class="h4 font-weight-bold">{{ order.phone }} ({{ order.name || "имя не указано" }})</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 mb-3">
                <span class="mr-3">Доставка:</span>
                <span class="h4 font-weight-bold"
                      v-if="order.deliveryAddress">
                                {{ order.deliveryAddress }}
                                </span>
                <span class="h4 font-weight-bold" v-else>Без доставки</span>
            </div>
            <div class="col-12 col-md-6 mb-3"
                 v-if="order.completedAt"
            >
                <span class="mr-3">Заказ выполнен: </span>
                <span class="h4 font-weight-bold">{{ order.completedAt | f_datetime }} </span>
            </div>
        </div>
        <order-documents-sender
            :order="order"
            :secret="order.secret"
        />
    </div>
</template>

<script>
import OrderDocumentsSender from "./OrderDocumentsSender";

export default {
    name: "OrderInfo",
    components: {OrderDocumentsSender},
    props: {
        order: {
            required: true,
        }
    },
    computed: {
        c_total() {
            let total = this.order.orderProducts.reduce((acc, item) => acc += item.total, 0);
            total += this.order.deliveryPrice;
            return total;
        },
    },
}
</script>

<style scoped lang="scss">
.amount-without-sale {
    color: #525252;
    font-size: 14px;
}
</style>
