<template>
    <dropdown-component width="320px">
        <template #toggler>
            <button class="btn btn-primary" type="button">
                <i class="icofont-email"></i> Документы
            </button>
        </template>
        <template #body>
            <div class="dropdown-list">
                <a class="dropdown-list__item"
                   v-if="c_canDownloadOffer"
                   :href="`/orders/${order.id}/offer.pdf?secret=${secret}`" target="_blank">Скачать КП</a>
                <a class="dropdown-list__item"
                   :href="`/orders/${order.id}/invoice.pdf?secret=${secret}`" target="_blank">Скачать счёт на оплату</a>
                <a class="dropdown-list__item"
                   v-if="order.companyId"
                   :href="`/orders/${order.id}/contract.docx?secret=${secret}`" target="_blank">Скачать договор</a>
                <a class="dropdown-list__item"
                   v-if="c_canDownloadUPD"
                   :href="`/orders/${order.id}/upd.pdf?secret=${secret}`" target="_blank">Скачать передаточный акт</a>
                <form class="pt-2"
                      @submit.prevent="sendToEmail">
                    <div class="small text-muted">ОТПРАВИТЬ НА ПОЧТУ</div>
                    <div class="mb-2">
                        <v-checkbox v-model="d_documents"
                                    attr-value="invoice"
                                    label="Счёт в PDF"/>
                        <v-checkbox v-if="order.companyId"
                                    v-model="d_documents"
                                    attr-value="contract"
                                    label="Договор"/>
                    </div>
                    <div class="d-flex align-items-center">
                        <v-input label="Email"
                                 required
                                 type="email"
                                 v-model="d_email"/>
                        <i class="icofont-tick-mark pl-3"
                           v-if="d_success.sendToEmail"></i>
                        <div class="pl-2"
                             v-else-if="d_loading.sendToEmail">
                            <loading-component size="2rem"/>
                        </div>
                        <button class="btn btn-circle icofont-paper-plane"
                                v-else></button>
                    </div>
                </form>
            </div>
        </template>
    </dropdown-component>
</template>

<script>
    import DropdownComponent from "../utils/DropdownComponent";
    import VInput from "../utils/VInput";
    import LoadingComponent from "../utils/LoadingComponent";
    import {orders} from "../../api/UserAPI";
    import VCheckbox from "../utils/VCheckbox";
    import {Abilities} from "../../store/modules/auth";

    export default {
        name: "OrderDocumentsSender",
        components: {VCheckbox, LoadingComponent, VInput, DropdownComponent},
        props: ['order', 'secret'],
        data() {
            return {
                d_documents: [],
                d_email: this.order.email,
                d_loading: {sendToEmail: false},
                d_success: {sendToEmail: false},
            }
        },
        computed: {
            c_canDownloadOffer() {
                return this.order.orderProducts.every(item => item.status === 'offer');
            },
            c_canDownloadUPD() {
                return this.order.orderProducts.every(item => item.status === 'ready');
            },
        },
        methods: {
            sendToEmail() {
                if (this.d_loading.sendToEmail || this.d_success.sendToEmail) {
                    return;
                }

                this.d_loading.sendToEmail = true;
                orders.sendDocumentsToEmail(this.order.id, {
                    ...(this.secret && {secret: this.secret}),
                    to: this.d_email,
                    documents: this.d_documents
                })
                    .then(res => {
                        this.d_loading.sendToEmail = false;
                        this.d_success.sendToEmail = true;
                    });
            }
        }
    }
</script>

<style scoped>

</style>
