<template>
    <div>
        <table class="mb-3 table_simple table_v-top">
            <thead>
            <tr>
                <td style="width: 50px;">#</td>
                <td>Услуга</td>
                <td>Количество</td>
                <td class="text-right">Стоимость</td>
                <td style="width: 200px;"></td>
            </tr>
            </thead>
            <tbody>
            <template v-for="(orderProduct, index) in order.orderProducts">
                <tr>
                    <td>{{ index + 1 }}</td>
                    <td>
                        <a class="font-weight-bold" target="_blank"
                           :href="`/products/${orderProduct.product.seoName}`">
                            {{ orderProduct.product.name }} {{ orderProduct.needLayout ? "+ макет" : "" }}</a>
                        <div class="small">
                            <div
                                v-for="(values,param) in mapOrderProductParams(orderProduct.parameterValues)"
                                v-if="values.length>0">
                                <span class="font-weight-bold">{{ param }}:</span>
                                <parameter-values-representation
                                    :type="values[0].parameter.type"
                                    :values="values"
                                />
                            </div>
                        </div>
                    </td>
                    <td>
                        <span class="font-weight-bold">{{ orderProduct.count|f_fixed }} {{ orderProduct.product.countType }}</span>
                        <div class="small text-muted" v-if="orderProduct.salePercentage > 0">
                            Скидка {{ orderProduct.salePercentage|f_percent }}%
                        </div>
                    </td>
                    <td class="text-right">
                        <span class="font-weight-bold">{{ orderProduct.total|f_round }} ₽</span>
                        <div class="small text-muted">
                            <div>{{ orderProduct.amountProduct|f_round }} ₽ за изделие</div>
                            <div v-if="orderProduct.needLayout">+ {{ orderProduct.amountLayout|f_round }} ₽ за
                                                                макет
                            </div>
                        </div>
                    </td>
                    <td class="text-right">
                        <order-product-status-bar class="mb-3"
                                                  v-model="orderProduct.status"
                                                  :editable="false"
                                                  :orderProductId="orderProduct.id"
                                                  :needLayout="orderProduct.needLayout"
                        />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="4">
                        <layout-previews :orderProduct="orderProduct"/>
                    </td>
                </tr>
            </template>
            <tr class="font-weight-bold"
                v-if="order.deliveryCoordinates">
                <td class="font-weight-normal">
                    {{ order.orderProducts.length + 1 }}
                </td>
                <td>Доставка</td>
                <td>1 шт.</td>
                <td class="text-right">{{ order.deliveryPrice }} ₽</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
import TransitionCollapse from "@/js/components/utils/TransitionCollapse";
import OrderPayment from "@/js/components/User/OrderPayment";
import ParameterValuesRepresentation from "@/js/components/utils/ParameterValuesRepresentation";
import RequestErrors from "@/js/components/utils/RequestErrors";
import LayoutPreviews from "@/js/components/User/LayoutPreviews";
import OrderProductStatusBar from "@/js/components/utils/OrderProductStatusBar";

export default {
    name: "OrderItems",
    components: {
        OrderProductStatusBar,
        LayoutPreviews, RequestErrors, ParameterValuesRepresentation, OrderPayment, TransitionCollapse},
    props: {
        order: {
            required: true,
        }
    },
    computed: {
        c_total() {
            let total = this.order.orderProducts.reduce((acc, item) => acc += item.total, 0);
            total += this.order.deliveryPrice;
            return total;
        },
    },
    methods: {
        mapOrderProductParams(val) {
            return val.reduce((acc, el) => {
                acc[el.parameter.name] = acc[el.parameter.name] || [];
                acc[el.parameter.name].push(el);
                return acc;
            }, {});
        }
    },
}
</script>

<style scoped>

</style>
