<template>
    <form v-if="d_step === 1"
          @submit.prevent="sendResetPasswordCode"
    >
        <v-input v-model="d_resetPasswordEmail"
                 label="Email для восстановления"
                 class="mb-4"
        />
        <request-errors class="mb-3"
                        v-if="d_sendingCodeForResetError"
                        :error="d_sendingCodeForResetError"
        />
        <div>
            <button class="btn btn-primary w-100"
                    :class="{'btn_is-loading': d_sendingPasswordResetCode}"
                    type="submit"
            >Восстановить пароль
            </button>
        </div>
    </form>
    <form v-else-if="d_step === 2"
          @submit.prevent="resetPassword"
    >
        <v-input v-model="d_resetPasswordData.code"
                 label="Код подтверждения"
                 class="mb-4"
        />
        <v-input v-model="d_resetPasswordData.password"
                 label="Новый пароль"
                 type="password"
                 class="mb-4"
        />
        <v-input v-model="d_resetPasswordData.passwordConfirmation"
                 label="Подтвердите пароль"
                 type="password"
                 class="mb-4"
        />
        <request-errors class="mb-3"
                        v-if="d_resetError"
                        :error="d_resetError"
        />
        <div>
            <button class="btn btn-primary mr-3"
                    :class="{'btn_is-loading': d_resettingPassword}"
                    type="submit"
            >Сменить пароль
            </button>
        </div>
    </form>
    <div v-else-if="d_step === 3">
        <p>Теперь вы можете авторизоваться на сайте с новым паролем.</p>
    </div>
</template>

<script>
import RequestErrors from "@/js/components/utils/RequestErrors";
import VInput from "@/js/components/utils/VInput";
import LoadingComponent from "@/js/components/utils/LoadingComponent";
import {auth} from "@/js/api/UserAPI";

export default {
    name: "PasswordRestoration",
    components: {LoadingComponent, VInput, RequestErrors},
    data() {
        return {
            d_resetPasswordEmail: null,
            d_sendingPasswordResetCode: false,
            d_step: 1,
            d_resettingPassword: false,
            d_resetPasswordData: {
                code: null,
                password: null,
                passwordConfirmation: null,
                token: null,
            },
            d_resetError: null,
            d_sendingCodeForResetError: null,
        }
    },
    methods: {
        async sendResetPasswordCode() {
            if (this.d_sendingPasswordResetCode) return;
            this.d_sendingPasswordResetCode = true;
            try {
                this.d_resetPasswordData.token =
                    await auth.sendResetPasswordCode({email: this.d_resetPasswordEmail});
                this.d_step = 2;
            } catch (e) {
                console.error(e);
                this.d_sendingCodeForResetError = e.data;
            }
            this.d_sendingPasswordResetCode = false;
        },
        async resetPassword() {
            if (this.d_resettingPassword) return;
            this.d_resettingPassword = true;
            try {
                await auth.resetPassword({
                    ...this.d_resetPasswordData,
                    password_confirmation: this.d_resetPasswordData.passwordConfirmation
                });
                this.d_step = 3;
            } catch (e) {
                console.error(e);
                this.d_resetError = e.data;
            }
            this.d_resettingPassword = false;
        },
    }
}
</script>

<style scoped>

</style>
