<template>
    <div class="container">
        <h1 class="mb-4">Детализация бонусного баланса</h1>
        <loading-component v-if="d_loading.bonusChanges"></loading-component>
        <table class="table table_simple"
               v-else-if="d_changes.length > 0">
            <thead>
            <tr>
                <td style="width: 50px;">#</td>
                <td>Дата</td>
                <td>Статус</td>
                <td>Действие</td>
                <td>Причина</td>
                <td class="text-right">Количество бонусов</td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(change,index) in d_changes">
                <td>{{index+1}}</td>
                <td>{{change.createdAt|f_datetime}}</td>
                <td>
                    <template v-if="change.type==='add'">
                        {{change.canBeUsed|f_bonusChangeStatus}}
                    </template>
                </td>
                <td>{{change.type|f_bonusChangeType}}</td>
                <td>
                    <div v-if="change.type==='sub'">Заказ №{{change.orderId}}</div>
                    <div v-else>Покупка: {{change.orderProduct.product.name}}</div>
                </td>
                <td class="text-right">{{change.value}} ₽</td>
            </tr>
            </tbody>
        </table>
        <div class="h4 text-muted"
             v-else>
            История бонусных начислений пуста
            <i class="icofont-sad mr-2"></i>
        </div>
    </div>
</template>

<script>
    import AdminAPI from "../../api/AdminAPI";
    import LoadingComponent from "../utils/LoadingComponent";
    import {users} from "../../api/UserAPI";

    export default {
        name: "TheBonusDetails",
        components: {LoadingComponent},
        data() {
            return {
                d_loading: {
                    bonusChanges: false
                },
                d_changes: []
            }
        },
        created() {
            this.d_loading.bonusChanges = true;
            users.getBonusChanges().then(changes => {
                this.d_changes = changes;
                this.d_loading.bonusChanges = false;
            })
        }
    }
</script>

<style scoped lang="scss">
</style>