<template>
    <div class="container">
        <div class="mb-5">
            <div class="d-flex align-items-center">
                <router-link :to="{name:'orders'}" class="btn btn-link btn-sm mb-2">
                    <i class="icofont-arrow-left mr-2"/>Назад к списку заказов
                </router-link>
            </div>
            <h2 class="font-weight-bold">Работа с заказом №{{ $route.params.orderId }}</h2>
            <div class="text-muted"
                 v-if="d_order"
            >от {{ d_order.createdAt | f_datetime }}
            </div>
        </div>
        <loading-component v-if="d_loading.order"/>
        <template v-else>
            <order-info :order="d_order"/>
            <order-items :order="d_order"/>
            <order-tips v-if="!c_ready"/>
            <order-payment v-if="c_canPay"
                           :order="d_order"
            />
            <review-form v-if="c_showReviewForm"
                         :order="d_order"
            />
        </template>
    </div>
</template>

<script>
import LoadingComponent from "../utils/LoadingComponent";
import UserApi from "../../api/UserAPI";
import ReviewForm from "@/js/components/User/Review/ReviewForm";
import OrderTips from "@/js/components/User/OrderTips";
import OrderInfo from "@/js/components/User/OrderInfo";
import OrderPayment from "@/js/components/User/OrderPayment";
import OrderItems from "@/js/components/User/OrderItems";

export default {
    name: "TheOrder",
    components: {
        LoadingComponent, OrderTips, OrderInfo, OrderPayment, OrderItems, ReviewForm
    },
    props: ["order"],
    data() {
        return {
            d_loading: {order: false, submit: false, destroy: false},
            d_order: this.order ? Object.assign({}, this.order) : {orderProducts: []},
            d_errors: null,
            d_showPaymentForm: false,
        }
    },
    computed: {
        c_secret() {
            return this.$route.query.secret;
        },
        c_canPay() {
            return this.d_order.orderProducts.every(op => op.status === "payment");
        },
        c_ready() {
            return this.d_order.orderProducts.every(op => op.status === "ready")
        },
        c_showReviewForm() {
            return this.c_ready;
        },
    },
    created() {
        if (this.$route.params.orderId) {
            this.d_loading.order = true;
            UserApi.orders.getOne(this.$route.params.orderId, {
                ...(this.c_secret && {secret: this.c_secret}),
                with: ["orderProducts", "orderProducts.product", "user",
                    "orderProducts.parameterValues", "orderProducts.parameterValues.parameter", "orderProducts.layouts"]
            }).then(response => {
                this.$set(this, "d_order", response);
                this.d_loading.order = false;
            });
        } else {
        }
    }
}
</script>

<style scoped lang="scss">
@import "~@/sass/_variables.scss";
</style>
