<template>
    <div class="container">
        <h1>Заказы</h1>
        <loading-component v-if="d_loading.orders"></loading-component>
        <div v-else-if="d_orders.length > 0">
            <table class="table_simple table_v-top">
                <thead>
                <tr>
                    <td style="width: 50px;">#</td>
                    <td style="width: 300px;">Общая информация</td>
                    <td>Услуга</td>
                    <td style="width: 150px;">Кол-во</td>
                    <td class="text-right" style="width: 140px;">Стоимость</td>
                </tr>
                </thead>
                <tbody>
                <template v-for="(order, orderIndex) in d_orders">
                    <tr v-for="(orderProduct, index) in order.orderProducts"
                        class="order-product"
                        :class="{'order-product_last': index === order.orderProducts.length-1}">
                        <template v-if="index === 0">
                            <td>{{order.id}}</td>
                            <td>
                                <div>от {{order.createdAt|f_datetime}}</div>
                                <div class="mb-3">на сумму <span class="h3">{{order.total}} ₽</span></div>
                                <div class="mb-3">
                                    <div v-if="order.bonusesSpent > 0">
                                        Применены бонусные рубли: <strong>{{order.bonusesSpent}} ₽</strong>
                                    </div>
                                    <div v-if="order.partnerSale > 0">
                                        Применена индивидуальная скидка организации:
                                        <strong>{{order.partnerSale|f_percent}}%</strong>
                                    </div>
                                </div>
                                <div class="order-actions">
                                    <!--<router-link class="btn-circle"-->
                                    <!--v-if="order.orderProducts.every(item=>['check', 'new'].indexOf(item.status) >= 0)"-->
                                    <!--title="Редактировать заказ"-->
                                    <!--:to="{name: 'orders.edit', params:{order:order, orderId: order.id}}">-->
                                    <!--<i class="icofont-edit-alt"></i>-->
                                    <!--</router-link>-->
                                    <router-link class="btn-circle"
                                                 title="Работа с заказом"
                                                 :to="{name: 'orders.show', params:{order:order, orderId: order.id}}">
                                        <i class="icofont-look"></i>
                                    </router-link>
                                </div>
                            </td>
                        </template>
                        <template v-else>
                            <td></td>
                            <td></td>
                        </template>
                        <td class="product-cell">
                            <a class="font-weight-bold" target="_blank"
                               :href="`/products/${orderProduct.product.seoName}`">
                                {{orderProduct.product.name}} {{orderProduct.needLayout?'+ макет':''}}</a>
                            <order-product-status-bar class="mb-3"
                                                      v-model="orderProduct.status"
                                                      :editable="false"
                                                      :orderProductId="orderProduct.id"
                                                      :needLayout="orderProduct.needLayout"></order-product-status-bar>
                            <div class="small">
                                <div v-for="(values,param) in mapOrderProductParams(orderProduct.parameterValues)"
                                     v-if="values.length>0">
                                    <span class="font-weight-bold">{{param}}:</span>
                                    <parameter-values-representation
                                            :values="values"
                                    ></parameter-values-representation>
                                </div>
                            </div>
                            <layout-previews class="mt-3"
                                             :orderProduct="orderProduct"
                                             :layoutsOnly="true"></layout-previews>
                        </td>
                        <td class="product-cell">
                            <div class="font-weight-bold">
                                {{orderProduct.count|f_fixed}} {{orderProduct.product.countType}}
                            </div>
                        </td>
                        <td class="product-cell text-right">
                            <span class="font-weight-bold">{{orderProduct.total|f_round}} ₽</span>
                            <div class="small text-muted">
                                <div>{{orderProduct.amountProduct|f_round}}&nbsp;₽&nbsp;за&nbsp;изделие</div>
                                <div v-if="orderProduct.needLayout">
                                    + {{orderProduct.amountLayout|f_round}}&nbsp;₽&nbsp;за&nbsp;макет
                                </div>
                            </div>
                        </td>
                    </tr>
                </template>
                </tbody>
            </table>
        </div>
        <div class="h4 text-muted"
             v-else>
            Не создано ни одного заказа
            <i class="icofont-sad mr-2"></i>
        </div>
    </div>
</template>

<script>
    import LoadingComponent from "../utils/LoadingComponent";
    import UserApi from "../../api/UserAPI";
    import LayoutPreviews from "./LayoutPreviews";
    import OrderProductStatusBar from "../utils/OrderProductStatusBar";
    import ParameterValuesRepresentation from "../utils/ParameterValuesRepresentation";

    export default {
        name: "TheOrders",
        components: {ParameterValuesRepresentation, OrderProductStatusBar, LayoutPreviews, LoadingComponent},
        data() {
            return {
                d_loading: {orders: false},
                d_orders: []
            }
        },
        created() {
            this.d_loading.orders = true;
            UserApi.orders.get({
                order_by: 'created_at:desc',
                with: ['orderProducts', 'orderProducts.product',
                    'orderProducts.parameterValues', 'orderProducts.parameterValues.parameter', 'orderProducts.layouts']
            })
                .then(orders => {
                    this.d_loading.orders = false;
                    this.d_orders = orders;
                });
        },
        methods: {
            mapOrderProductParams(val) {
                return val.reduce((acc, el) => {
                    acc[el.parameter.name] = acc[el.parameter.name] || [];
                    acc[el.parameter.name].push(el);
                    return acc;
                }, {});
            }
        }
    }
</script>

<style scoped lang="scss">
    @import "~@/sass/_variables.scss";

    /*&.icofont-edit-alt {*/
    /*font-size: 18px;*/
    /*}*/

    .order-product:first-of-type {
        td {
            padding-top: 50px;
        }
    }

    tr.order-product:not(:last-of-type) {

        td.product-cell {
            border-bottom: 1px solid #efefef;
        }

        &.order-product_last {
            td {
                border-bottom: 2px solid #ffe3e3 !important;
                padding-bottom: 50px;
            }

            & + tr {
                td {
                    padding-top: 50px;
                }
            }
        }
    }

</style>
