<template>
    <div class="container">
        <h1 class="mb-5">Профиль</h1>
        <loading-component v-if="d_loading.profile"></loading-component>
        <template v-else>
            <div class="btn-group btn-group_light mb-5" role="group">
                <a href="#personal" class="btn"
                   :class="{active: d_tab === '#personal'}"
                   @click="d_tab = '#personal'">
                    Личная информация
                </a>
                <a href="#companies" class="btn"
                   :class="{active: d_tab === '#companies'}"
                   @click="d_tab = '#companies'">
                    Связанные организации
                </a>
            </div>
            <div v-if="d_tab==='#personal'">
                <form
                        @submit.prevent="submit">
                    <div class="mb-5">
                        <div class="row">
                            <div class="col-12 col-md mb-4">
                                <v-input label="Фамилия"
                                         v-model="d_user.secondName"></v-input>
                            </div>
                            <div class="col-12 col-md mb-4">
                                <v-input label="Имя"
                                         v-model="d_user.firstName"></v-input>
                            </div>
                            <div class="col-12 col-md mb-4">
                                <v-input label="Отчество"
                                         v-model="d_user.middleName"></v-input>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md mb-4">
                                <v-input label="Email"
                                         type="email"
                                         disabled
                                         v-model="d_user.email"></v-input>
                            </div>
                            <div class="col-12 col-md mb-4">
                                <v-input label="Телефон"
                                         type="tel"
                                         v-model="d_user.phone"></v-input>
                            </div>
                            <div class="col-12 col-md mb-4">
                                <v-datetime label="Дата рождения"
                                            v-model="d_user.birthday"></v-datetime>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md mb-4">
                                <v-input label="Адрес"
                                         v-model="d_user.address"></v-input>
                            </div>
                        </div>
                        <v-checkbox v-model="d_wantToChangePassword"
                                    label="Хочу сменить пароль"></v-checkbox>
                        <div class="row mt-3" v-if="d_wantToChangePassword">
                            <div class="col-12 col-md mb-4">
                                <v-input label="Новый пароль"
                                         type="password"
                                         v-model="d_user.password"></v-input>
                            </div>
                            <div class="col-12 col-md mb-4">
                                <v-input label="Подтвердите пароль"
                                         type="password"
                                         v-model="d_user.passwordConfirmation"></v-input>
                            </div>
                        </div>
                    </div>
                    <request-errors v-if="d_errors"
                                    :errors="d_errors"></request-errors>
                    <button class="btn btn-primary" type="submit"
                            :class="{'btn_is-loading': d_loading.submit}">Применить
                    </button>
                </form>
            </div>
            <div v-if="d_tab==='#companies'">
                <div class="mb-3">
                    <template v-if="d_user.companies.length > 0">
                        <div class="mb-3"
                             v-for="company in d_user.companies">
                            <div class="row">
                                <div class="col-12 mb-3">
                                    <h3>{{company.name}}</h3>
                                    <router-link
                                            :to="{name:'companies.edit', params:{companyId: company.id}}">
                                        <i class="icofont icofont-edit"></i>
                                        Редактировать
                                    </router-link>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6 mb-3">
                                    <div>
                                        <div class="font-weight-bold">Директор</div>
                                        <div>{{company.director}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6 mb-3">
                                    <div>
                                        <div class="font-weight-bold">Юридический адрес</div>
                                        <div>{{company.legalAddress}}</div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 mb-3">
                                    <div>
                                        <div class="font-weight-bold">Почтовый адрес</div>
                                        <div>{{company.mailAddress}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6 mb-3">
                                    <div>
                                        <div class="font-weight-bold">ИНН / КПП</div>
                                        <div>{{company.inn}} / {{company.kpp}}</div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3 mb-3">
                                    <div>
                                        <div class="font-weight-bold">ОКПО</div>
                                        <div>{{company.okpo}}</div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3 mb-3">
                                    <div>
                                        <div class="font-weight-bold">БИК</div>
                                        <div>{{company.bik}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6 mb-3">
                                    <div>
                                        <div class="font-weight-bold">Банк</div>
                                        <div>{{company.bank}}</div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3 mb-3">
                                    <div>
                                        <div class="font-weight-bold">Р/с</div>
                                        <div>{{company.rs}}</div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3 mb-3">
                                    <div>
                                        <div class="font-weight-bold">К/с</div>
                                        <div>{{company.ks}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6 mb-3 mb-md-0"
                                     v-if="company.partnerStatus">
                                    <div>
                                        <div class="font-weight-bold">Статус партнёра</div>
                                        <div>{{company.partnerStatus|f_partnerStatus}}</div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6"
                                     v-if="company.partnerSale > 0">
                                    <div>
                                        <div class="font-weight-bold">Индивидуальная скидка</div>
                                        <div>{{company.partnerSale|f_percent}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </template>
                    <div v-else>Нет связанных организаций</div>
                </div>
                <router-link class="btn btn-primary"
                             :to="{name:'companies.create'}">Добавить организацию
                </router-link>
            </div>
        </template>
    </div>
</template>

<script>
    import AdminAPI from "../../api/AdminAPI";
    import LoadingComponent from "../utils/LoadingComponent";
    import RequestErrors from "../utils/RequestErrors";
    import UserApi from "../../api/UserAPI";
    import VInput from "../utils/VInput";
    import VCheckbox from "../utils/VCheckbox";
    import VDatetime from "../utils/VDatetime";

    export default {
        name: "TheProfile",
        components: {VDatetime, VCheckbox, VInput, RequestErrors, LoadingComponent,},
        data() {
            return {
                d_loading: {profile: false, submit: false},
                d_user: null,
                d_errors: null,
                d_wantToChangePassword: false,
                d_tab: document.location.hash || '#personal'
            }
        },
        created() {
            this.d_loading.profile = true;
            UserApi.users.getSelf()
                .then(user => {
                    this.d_user = user;
                    this.d_loading.profile = false;
                })
                .catch(error => {
                    this.d_errors = error.data;
                    this.d_loading.profile = false;
                });
        },
        methods: {
            submit() {
                this.d_loading.submit = true;
                UserApi.users.updateSelf(this.packRequest())
                    .then(user => {
                        Object.assign(this.d_user, user);
                        this.d_loading.submit = false;
                    })
                    .catch(error => {
                        this.d_errors = error.data;
                        this.d_loading.submit = false;
                    });
            },
            packRequest() {
                return {
                    first_name: this.d_user.firstName,
                    second_name: this.d_user.secondName,
                    middle_name: this.d_user.middleName,
                    email: this.d_user.email,
                    phone: this.d_user.phone,
                    address: this.d_user.address,
                    birthday: this.d_user.birthday,
                    ...(this.d_wantToChangePassword && {password: this.d_user.password}),
                    ...(this.d_wantToChangePassword && {password_confirmation: this.d_user.passwordConfirmation}),
                }
            }
        }
    }
</script>

<style scoped>

</style>