<template>
    <div class="container">
        <div class="mb-5">
            <h2 class="font-weight-bold">Минуточку внимания</h2>
            <p class="mb-3">Пожалуйста, скачайте и подпишите шаблон передаточного акта. После того, как вы отправите его
                            нам через
                            форму ниже, вы сможете скачать свой экземпляр с нашими подписями и печатью.</p>
            <a class="btn btn-primary" :href="c_emptyUpdLink">Скачать шаблон</a>
        </div>
        <loading-component v-if="d_loading"/>
        <attach-area-component v-else
                               label="Выберите подписанный акт или перенесите его в это поле"
                               @input="onUpdUpload"
                               :accept="['.pdf','.png','.jpeg','.jpg']"
        />
    </div>
</template>

<script>
import AttachAreaComponent from "@/js/components/utils/AttachAreaComponent";
import {orders} from "@/js/api/UserAPI";
import LoadingComponent from "@/js/components/utils/LoadingComponent";

export default {
    name: "TheUpdUpload",
    components: {LoadingComponent, AttachAreaComponent},
    data() {
        return {
            d_loading: false,
        }
    },
    computed: {
        c_orderId() {
            return this.$route.params.orderId;
        },
        c_secret() {
            return this.$route.query.secret;
        },
        c_emptyUpdLink() {
            return window.location.origin + `/orders/${this.c_orderId}/empty-upd?secret=${this.c_secret}`;
        }
    },
    methods: {
        async onUpdUpload(attachment) {
            this.d_loading = true;
            await orders.uploadUpd(this.c_orderId, {attachment_id: attachment.id});
            document.location.href = `/orders/${this.c_orderId}/upd.pdf?secret=${this.c_secret}`;
        }
    }
}
</script>

<style scoped>

</style>
