<template>
    <div class="top-profile" v-if="!$store.getters['auth/isAdmin']">
        <dropdown-component width="auto">
            <button class="btn btn-primary" slot="toggler">
                <i class="icofont-cart-alt"></i>
                Мой заказ
                <template v-if="$store.getters['cart/total']">| {{$store.getters['cart/total']|f_round}} ₽</template>
            </button>
            <div slot="body" class="top-profile__dropdown">
                <div v-if="$store.state.cart.items.length > 0">
                    <table class="table table_simple table_v-middle mb-3">
                        <thead>
                        <tr>
                            <td>#</td>
                            <td>Позиция</td>
                            <td class="text-right">Количество</td>
                            <td class="text-right">Стоимость</td>
                            <td style="width: 50px;"></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="top-cart__product"
                            v-for="(item,index) in $store.state.cart.items">
                            <td>{{index + 1}}</td>
                            <td><a class="product-name"
                                    :href="`/products/${item.product.seoName}`">{{item.product.name}}</a></td>
                            <td class="text-right">{{item.count}} {{item.product.countType}}</td>
                            <td class="text-right">{{item.total|f_round}} ₽</td>
                            <td>
                                <i class="btn-delete icofont-close-line"
                                   @click="$store.commit('cart/removeItem', item)"></i>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td class="font-weight-bold text-right">ИТОГО:</td>
                            <td class="text-right font-weight-bold">
                                {{$store.getters['cart/total']|f_round}} ₽
                            </td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                    <a class="btn btn-primary" href="/checkout">
                        <i class="icofont-tick-boxed"></i> Оформить заказ
                    </a>
                </div>
                <div class="text-muted" v-else>
                    Корзина пуста
                    <i class="icofont-sad ml-2"></i>
                </div>
            </div>
        </dropdown-component>
    </div>
</template>

<script>
    import DropdownComponent from "../utils/DropdownComponent";
    import UserAPI from "../../api/UserAPI";

    export default {
        name: "TopCart",
        components: {DropdownComponent,},
        props: ['products'],
        data() {
            return {
                d_loading: {},
                d_products: this.products || []
            }
        },
        methods: {}
    }
</script>

<style scoped lang="scss">
    @import "../../../sass/variables";

    .product-name{
        line-height: 1;
        display: block;
    }
</style>