<template>
    <div>
        <loading-component v-if="d_loading.product===LoadingStatus.Loading"></loading-component>
        <form class="mb-5"
              v-else

              @submit.prevent="submit"
        >
            <div class="mb-3">
                <div class="d-flex align-items-center mb-4"
                     v-for="(product,i) in d_product.recommendations"
                     :key="i">
                    <product-finder class="mr-3"
                                    v-model="d_product.recommendations[i]"></product-finder>
                    <button type="button" class="btn-delete"
                            @click="d_product.recommendations.splice(i, 1)">&times;
                    </button>
                </div>
                <button class="btn btn-info btn-sm" type="button"
                        @click="d_product.recommendations.push(null)">Добавить товар
                </button>
            </div>
            <div class="d-flex flex-wrap align-items-center">
                <button type="submit" class="btn btn-primary"
                        :class="{'btn_is-loading': d_loading.product===LoadingStatus.Submitting}">
                    Применить
                </button>
                <div class="ml-3 text-success small d-flex align-items-center font-weight-bold"
                     v-if="d_loading.product===LoadingStatus.SubmittingSuccess">
                    <i class="icofont-check-alt icofont-2x mr-1"></i>
                    <div>
                        Изменения успешно сохранены<br/>
                        <a :href="`/products/${d_product.seoName}`">Открыть карточку товара</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import VInput from "../../utils/VInput";
    import ModalComponent from "../../utils/ModalComponent";
    import DropdownComponent from "../../utils/DropdownComponent";
    import ProductValuesSelector from "./ProductValuesSelector";
    import ProductFinder from "../../utils/ProductFinder";
    import LoadingStatus from "../../../utils/LoadingStatus";
    import AdminAPI from "../../../api/AdminAPI";
    import LoadingComponent from "../../utils/LoadingComponent";

    export default {
        name: "ProductRecommendationsEditor",
        components: {LoadingComponent, ProductFinder},
        props: ['productId'],
        data() {
            return {
                LoadingStatus: LoadingStatus,
                d_loading: {
                    product: null
                },
                d_product: null,
            }
        },
        created() {
            this.d_loading.product = LoadingStatus.Loading;
            AdminAPI.products
                .getOne(this.productId, {
                    with: ['recommendations']
                })
                .then(product => {
                    this.d_product = product;
                    this.d_loading.product = LoadingStatus.LoadingSuccess;
                })
        },
        methods: {
            submit() {
                this.d_loading.product = LoadingStatus.Submitting;
                AdminAPI.products
                    .update(this.productId, {
                        rec_product_ids: this.d_product.recommendations
                            .filter(item => item && item.id)
                            .map(item => item.id),
                    })
                    .then(response => {
                        this.d_loading.product = LoadingStatus.SubmittingSuccess;
                    })
                    .catch(errors => {
                        this.d_loading.product = LoadingStatus.SubmittingError;
                        this.d_errors = errors.data;
                    });
            }
        }
    }
</script>

<style scoped lang="scss">
</style>