<template>
    <dropdown-component class="d-inline" width="1000px">
        <template #toggler>
            <button class="btn btn-info btn-sm" type="button">Выбрать случай применения</button>
        </template>
        <template #body="{toggle}">
            <blockquote class="small">Показываются только сохранённые параметры типа "Список" и "Табы"</blockquote>
            <base-calculator-parameter
                    class="mb-4"
                    v-for="(parameter, index) in d_parameters"
                    :key="parameter.id"
                    :parameter="parameter"
                    :index="index"
                    v-model="d_selectedParamValues[parameter.name]"></base-calculator-parameter>
            <div>
                <button class="btn btn-primary" type="button"
                        @click="$emit('select', d_selectedParamValues);toggle()">Выбрать указанные значения
                </button>
            </div>
        </template>
    </dropdown-component>
</template>

<script>
    import DropdownComponent from "../../utils/DropdownComponent";
    import BaseCalculatorParameter from "../../User/Calculator/BaseCalculatorParameter";

    export default {
        name: "ProductValuesSelector",
        components: {BaseCalculatorParameter, DropdownComponent},
        props: ['product'],
        data() {
            let paramsMap = this.product.parameters.reduce((acc, item) => {
                acc[item.name] = [];
                return acc;
            }, {});

            let parameters = this.product.parameters.map((item) => {
                let paramClone = JSON.parse(JSON.stringify(item));
                if (item.type === 'list') {
                    item.type = 'tabs';
                }
                return item;
            }).filter(item => (item.type === 'tabs') && item.id);

            return {
                d_selectedParamValues: paramsMap,
                d_parameters: parameters
            }
        }
    }
</script>

<style scoped>

</style>