<template>
    <div>
        <loading-component v-if="d_loading.product===LoadingStatus.Loading"></loading-component>
        <form @submit.prevent="submit"
              v-else>
            <div class="mb-5">
                <div>
                    <h3>Настройки прикрепления макетов</h3>
                    <div class="row mb-3">
                        <div class="col-12 col-md-6">
                            <v-input label="Базовое кол-во файлов"
                                     type="number"
                                     v-model.number="d_product.orderFilesCount"></v-input>
                        </div>
                    </div>
                    <div class="mb-3"
                         v-for="(extensionGroup,key) in d_extensionsList">
                        <h5>{{key}}</h5>
                        <div class="row">
                            <div class="col-6 col-md-2 col-sm-3 mb-3"
                                 v-for="extension in extensionGroup">
                                <v-checkbox :label="extension" :attr-value="extension"
                                            v-model="d_product.orderFilesExtensions"></v-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <h3>Файлы шаблоны</h3>
                    <attach-area-component :multiple="true"
                                           :max-count="10"
                                           label="Выберите или перенесите в это поле файлы"
                                           v-model="d_product.mediaFiles"></attach-area-component>
                </div>
            </div>
            <div class="d-flex flex-wrap align-items-center">
                <button type="submit" class="btn btn-primary"
                        :class="{'btn_is-loading': d_loading.product===LoadingStatus.Submitting}">
                    Применить
                </button>
                <div class="ml-3 text-success small d-flex align-items-center font-weight-bold"
                     v-if="d_loading.product===LoadingStatus.SubmittingSuccess">
                    <i class="icofont-check-alt icofont-2x mr-1"></i>
                    <div>
                        Изменения успешно сохранены<br/>
                        <a :href="`/products/${d_product.seoName}`">Открыть карточку товара</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import AdminAPI from "../../../api/AdminAPI";
    import LoadingStatus from "../../../utils/LoadingStatus";
    import CategoryFinder from "../../utils/CategoryFinder";
    import LoadingComponent from "../../utils/LoadingComponent";
    import VInput from "../../utils/VInput";
    import VCheckbox from "../../utils/VCheckbox";
    import AttachAreaComponent from "../../utils/AttachAreaComponent";

    export default {
        name: "ProductFilesEditor",
        components: {AttachAreaComponent, VCheckbox, VInput, LoadingComponent, CategoryFinder},
        props: ['productId'],
        data() {
            return {
                LoadingStatus: LoadingStatus,
                d_loading: {
                    product: null
                },
                d_extensionsList: {
                    'Все файлы': ['.*'],
                    'Изображения': ['.png', '.jpg', '.ai', '.pdf', '.psd', '.tiff', '.cdr',],
                    'Аудио': ['.mp3', '.wav'],
                    'Видео': ['.mp4', '.avi', '.mpeg'],
                },
                d_product: null,
            }
        },
        created() {
            this.d_loading.product = LoadingStatus.Loading;
            AdminAPI.products
                .getOne(this.productId, {with: ['mediaFiles']})
                .then(product => {
                    this.d_product = product;
                    this.d_loading.product = LoadingStatus.LoadingSuccess;
                })
        },
        methods: {
            submit() {
                this.d_loading.product = LoadingStatus.Submitting;
                AdminAPI.products.update(this.productId, {
                    media_file_ids: this.d_product.mediaFiles.map(item => item.id),
                    order_files_count: this.d_product.orderFilesCount,
                    order_files_extensions: this.d_product.orderFilesExtensions,
                })
                    .then(response => {
                        this.d_loading.product = LoadingStatus.SubmittingSuccess;
                    })
                    .catch(errors => {
                        this.d_loading.product = LoadingStatus.SubmittingError;
                        this.d_errors = errors.data;
                    });
            }
        }
    }
</script>

<style scoped>

</style>