<template>
    <div>
        <loading-component v-if="d_loading.product===LoadingStatus.Loading">
        </loading-component>
        <form v-else
              @submit.prevent="submit">
            <div class="row">
                <div class="col-12 col-md-6">
                    <v-input class="mb-4" label="Название"
                             required
                             v-model="d_product.name"></v-input>
                </div>
                <div class="col-12 col-md-6">
                    <v-input class="mb-4" label="URL имя"
                             required
                             v-model="d_product.seoName"></v-input>
                </div>
            </div>
            <div class="row mb-4 align-items-center">
                <div class="col-12 col-md-6">
                    <v-input label="Meta Title"
                             v-model="d_product.metaTitle"></v-input>
                </div>
                <div class="col-12 col-md-6">
                    {{ d_product.metaTitle ? d_product.metaTitle.length : 0 }} / 80 символов
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <v-input class="mb-4" label="H1"
                             v-model="d_product.h1"></v-input>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <v-input class="mb-4" label="Meta Description"
                             v-model="d_product.metaWords"></v-input>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <v-input class="mb-4" label="Минимальное кол-во для заказа"
                             type="number"
                             v-model="d_product.minCount"></v-input>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4">
                    <v-input class="mb-4" label="Базовая цена"
                             required
                             v-model.number="d_product.basePrice"></v-input>
                </div>
                <div class="col-12 col-md-4">
                    <v-input class="mb-4" label="Базовая цена макета"
                             required
                             v-model.number="d_product.baseLayoutPrice"></v-input>
                </div>
                <div class="col-12 col-md-4">
                    <v-input class="mb-4" label="Базовая себестоимость"
                             required
                             v-model.number="d_product.baseCost"></v-input>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4">
                    <v-input class="mb-4" label="Время выполнения"
                             required
                             v-model="d_product.productionTime"></v-input>
                </div>
                <div class="col-12 col-md-4">
                    <v-input class="mb-4" label="Наименование кол-ва"
                             required
                             v-model="d_product.countName"></v-input>
                </div>
                <div class="col-12 col-md-4">
                    <v-input class="mb-4" label="Единица измерения кол-ва"
                             required
                             v-model="d_product.countType"></v-input>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-4 offset-md-4">
                    <v-input class="mb-4" label="Код ед. измерения (УПД)"
                             v-model="d_product.countCode"></v-input>
                </div>
                <div class="col-12 col-md-4">
                    <v-input class="mb-4" label="Обозначение ед. измерения (УПД)"
                             v-model="d_product.countSymbol"></v-input>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md">
                    <v-checkbox class="mb-4" label="Показывать на главной"
                                type="checkbox"
                                v-model="d_product.accent"></v-checkbox>
                </div>
                <div class="col-12 col-md">
                    <v-checkbox class="mb-4"
                                type="checkbox"
                                label="Не показывать в каталоге"
                                v-model="d_product.disabled"></v-checkbox>
                </div>
                <div class="col-12 col-md">
                    <v-checkbox class="mb-4"
                                type="checkbox"
                                label="Количество вычисляется формулой"
                                v-model="d_product.countCalculating"></v-checkbox>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-4">
                    <v-wysiwyg v-model="d_product.description"/>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-4">
                    <attach-area-component
                        label="Изображение услуги"
                        :multiple="false"
                        v-model="d_product.image"
                    />
                </div>
            </div>
            <request-errors class="mb-4"
                            v-if="d_errors"
                            :errors="d_errors"></request-errors>
            <div class="d-flex flex-wrap align-items-center">
                <button type="submit" class="btn btn-primary"
                        v-if="productId"
                        :class="{'btn_is-loading': d_loading.product===LoadingStatus.Submitting}">
                    Применить все изменения
                </button>
                <button type="submit" class="btn btn-primary"
                        v-else
                        :class="{'btn_is-loading': d_loading.product===LoadingStatus.Submitting}">
                    Создать
                </button>
                <div class="ml-3 text-success small d-flex align-items-center font-weight-bold"
                     v-if="d_loading.product===LoadingStatus.SubmittingSuccess">
                    <i class="icofont-check-alt icofont-2x mr-1"></i>
                    <div>
                        Изменения успешно сохранены<br/>
                        <a :href="`/products/${d_product.seoName}`">Открыть карточку товара</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
import RequestErrors from "../../utils/RequestErrors";
import AdminAPI from "../../../api/AdminAPI";
import LoadingComponent from "../../utils/LoadingComponent";
import LoadingStatus from "../../../utils/LoadingStatus";
import VInput from "../../utils/VInput";
import VCheckbox from "../../utils/VCheckbox";
import VWysiwyg from "../../utils/v-wysiwyg";
import AttachAreaComponent from "../../utils/AttachAreaComponent";

export default {
    name: "ProductInfoEditor",
    components: {AttachAreaComponent, VWysiwyg, VCheckbox, VInput, LoadingComponent, RequestErrors},
    props: ["productId"],
    data() {
        return {
            LoadingStatus: LoadingStatus,
            d_loading: {
                product: null
            },
            d_product: {
                seoName: null,
                name: null, metaWords: null,
                description: null, image: null, basePrice: null,
                baseLayoutPrice: null, baseCost: null, productionTime: null,
                minCount: 0,
                accent: false,
                metaTitle: "",
                countName: null, countType: null, countSymbol: null, countCode: null
            },
            d_errors: null
        }
    },
    created() {
        if (this.productId) {
            this.d_loading.product = LoadingStatus.Loading;
            AdminAPI.products
                .getOne(this.productId, {
                    with: ["parameters.values.image", "image"]
                })
                .then(product => {
                    this.d_product = product;
                    this.d_loading.product = LoadingStatus.LoadingSuccess;
                })
        }
    },
    methods: {
        submit() {
            this.d_loading.product = LoadingStatus.Submitting;
            if (this.productId) {
                this.d_loading.product = LoadingStatus.Submitting;
                AdminAPI.products.update(this.productId, this.packRequest())
                    .then(response => {
                        this.d_loading.product = LoadingStatus.SubmittingSuccess;
                        this.$set(this, "d_product", response);
                    })
                    .catch(errors => {
                        this.d_loading.product = LoadingStatus.SubmittingError;
                        this.d_errors = errors.data;
                    });
            } else {
                AdminAPI.products.store(this.packRequest())
                    .then(response => {
                        this.d_loading.product = LoadingStatus.SubmittingSuccess;
                        this.$router.push({
                            name: "products.edit", params: {
                                seoName: response.seoName,
                                product: response
                            }
                        })
                    })
                    .catch(errors => {
                        this.d_loading.product = LoadingStatus.SubmittingError;
                        this.d_errors = errors.data;
                    });
            }
        },
        packRequest() {
            return {
                name: this.d_product.name,
                h1: this.d_product.h1,
                disabled: this.d_product.disabled,
                seo_name: this.d_product.seoName,
                min_count: this.d_product.minCount,
                accent: this.d_product.accent,
                meta_title: this.d_product.metaTitle,
                meta_words: this.d_product.metaWords,
                description: this.d_product.description,
                base_price: this.d_product.basePrice || 0,
                base_layout_price: this.d_product.baseLayoutPrice || 0,
                base_cost: this.d_product.baseCost || 0,
                production_time: this.d_product.productionTime,
                count_calculating: this.d_product.countCalculating,
                count_name: this.d_product.countName,
                count_type: this.d_product.countType,
                count_symbol: this.d_product.countSymbol,
                count_code: this.d_product.countCode,
                image_id: this.d_product.image ? this.d_product.image.id : null,
            };
        }
    }
}
</script>

<style scoped>

</style>
