<template>
    <loading-component v-if="d_loading.product===LoadingStatus.Loading"></loading-component>
    <form v-else
          @submit.prevent="submit"
    >
        <div class="mb-5">
            <div class="mb-5">
                <h3 class="mb-4">Таблица скидок по умолчанию</h3>
                <table class="table table_v-middle">
                    <tbody>
                    <tr>
                        <td class="font-weight-bold pr-3">Количество</td>
                        <td v-for="sale in d_product.sales.default">
                            <v-input v-model.number="sale.count" type="number"></v-input>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="font-weight-bold pr-3">Процент&nbsp;скидки</td>
                        <td v-for="sale in d_product.sales.default">
                            <v-input v-model.number="sale.sale" type="number" format-percent></v-input>
                        </td>
                        <td></td>
                    </tr>
                    <tr class="text-center">
                        <td class="font-weight-bold pr-3"></td>
                        <td class="pl-3"
                            v-for="(sale, index) in d_product.sales.default">
                            <button class="btn btn-link btn-sm" type="button"
                                    @click="d_product.sales.default.splice(index,1)">удалить
                            </button>
                        </td>
                        <td class="pl-3">
                            <button class="btn btn-link btn-sm" type="button"
                                    @click="d_product.sales.default.push({sale: 0, count: null})">Добавить
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <h3 class="mb-4">Дополнительные таблицы</h3>
                <div class="mb-5"
                     v-for="(feature,featureIndex) in d_product.sales.features">
                    <div class="mb-3 small">
                        <div class="blockquote mb-3"
                             v-if="feature.values.length > 0">
                            <div v-for="value in feature.values"
                                 v-html="getValueNameById(value)">
                            </div>
                        </div>
                        <div class="message message_danger mb-3" v-else>Выберите случай применения</div>
                        <div>
                            <product-values-selector
                                    :product="d_product"
                                    @select="handleValuesSelect($event, feature)"
                            ></product-values-selector>
                            <button class="btn btn-danger btn-sm" type="button"
                                    @click="d_product.sales.features.splice(featureIndex, 1)">Удалить таблицу
                            </button>
                        </div>
                    </div>
                    <table class="table table_v-middle">
                        <tbody>
                        <tr>
                            <td class="font-weight-bold pr-3">Количество</td>
                            <td v-for="sale in feature.sales">
                                <v-input v-model.number="sale.count" type="number"></v-input>
                            </td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold pr-3">Процент&nbsp;скидки</td>
                            <td v-for="sale in feature.sales">
                                <v-input v-model.number="sale.sale" type="number" format-percent></v-input>
                            </td>
                            <td></td>
                        </tr>
                        <tr class="text-center">
                            <td class="font-weight-bold pr-3"></td>
                            <td class="pl-3"
                                v-for="(sale, index) in feature.sales">
                                <button class="btn btn-link btn-sm" type="button"
                                        @click="feature.sales.splice(index,1)">удалить
                                </button>
                            </td>
                            <td class="pl-3">
                                <button class="btn btn-link btn-sm" type="button"
                                        @click="feature.sales.push({sale: 0, count: null})">Добавить
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <button class="btn btn-info" type="button"
                        @click="addFeature">Добавить дополнительную таблицу
                </button>
            </div>
        </div>
        <div class="d-flex flex-wrap align-items-center">
            <button type="submit" class="btn btn-primary"
                    :class="{'btn_is-loading': d_loading.product===LoadingStatus.Submitting}">
                Применить
            </button>
            <div class="ml-3 text-success small d-flex align-items-center font-weight-bold"
                 v-if="d_loading.product===LoadingStatus.SubmittingSuccess">
                <i class="icofont-check-alt icofont-2x mr-1"></i>
                <div>
                    Изменения успешно сохранены<br/>
                    <a :href="`/products/${d_product.seoName}`">Открыть карточку товара</a>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
    import VInput from "../../utils/VInput";
    import ModalComponent from "../../utils/ModalComponent";
    import DropdownComponent from "../../utils/DropdownComponent";
    import ProductValuesSelector from "./ProductValuesSelector";
    import LoadingComponent from "../../utils/LoadingComponent";
    import LoadingStatus from "../../../utils/LoadingStatus";
    import AdminAPI from "../../../api/AdminAPI";

    export default {
        name: "ProductSalesEditor",
        components: {LoadingComponent, ProductValuesSelector, DropdownComponent, ModalComponent, VInput},
        props: ['productId'],
        data() {
            return {
                LoadingStatus: LoadingStatus,
                d_loading: {
                    product: null
                },
                d_product: null
            }
        },
        created() {
            this.d_loading.product = LoadingStatus.Loading;
            AdminAPI.products
                .getOne(this.productId, {
                    with: ['parameters.values.image',]
                })
                .then(product => {
                    this.d_product = product;
                    this.d_loading.product = LoadingStatus.LoadingSuccess;
                })
        },
        methods: {
            addFeature() {
                if (!this.d_product.sales.features) {
                    this.$set(this.d_product.sales, 'features', []);
                }
                this.d_product.sales.features.push({values: [], sales: []});
            },
            handleValuesSelect(values, feature) {
                let valueIds = Object.values(values).flat(1).map(item => item.id);
                feature.values = [];
                feature.values.push(...valueIds);
            },
            getValueNameById(id) {
                let value = null;
                let parameter = this.d_product.parameters.find(param => {
                    value = param.values.find(val => val.id === id);
                    return value;
                });
                if (value) {
                    return `<b>${parameter.name}:</b> ${value.name}`;
                } else {
                    return `Параметр #${id} не найден`;
                }
            },
            submit() {
                this.d_loading.product = LoadingStatus.Submitting;
                AdminAPI.products.update(this.productId, {
                    sales: this.d_product.sales,
                })
                    .then(response => {
                        this.d_loading.product = LoadingStatus.SubmittingSuccess;
                    })
                    .catch(errors => {
                        this.d_loading.product = LoadingStatus.SubmittingError;
                        this.d_errors = errors.data;
                    });
            }
        }
    }
</script>

<style scoped lang="scss">
    .table {
        td {
        }

        ::v-deep {
            input {
                border: none;
                font-size: 14px;
                padding: 7px;
                min-height: unset;
                &:focus {
                    z-index: 1;
                }
            }
        }
    }
</style>