<template>
    <div>
        <loading-component v-if="d_loading.product===LoadingStatus.Loading"></loading-component>
        <form v-else
              @submit.prevent="submit">
            <div class="mb-5">
                <div class="mb-6"
                     v-for="(parameter,k) in d_product.parameters">
                    <div class="row mb-4 align-items-center">
                        <div class="col-12 col-md-6 d-flex align-items-center">
                            <h1 class="mr-3">{{k+1}}</h1>
                            <v-input class="w-100 mr-3"
                                     label="Название параметра"
                                     v-model="parameter.name"></v-input>
                        </div>
                        <div class="col-12 col-md-6">
                            <v-select class="w-100 mr-3"
                                      label="Тип ответа"
                                      v-model="parameter.type"
                                      @change="handleParameterTypeChange(parameter)">
                                <option value="tabs">Табы</option>
                                <option value="list">Список</option>
                                <option value="number">Ввод числа</option>
                                <option value="text">Ввод текста</option>
                            </v-select>
                        </div>
                    </div>
                    <div class="d-flex align-items-center pl-5 mb-4">
                        <v-checkbox class="text-nowrap mr-5"
                                    label="Обязательный параметр"
                                    type="checkbox"
                                    v-model="parameter.required"></v-checkbox>
                        <template v-if="['tabs','list'].includes(parameter.type)">
                            <v-checkbox class="text-nowrap mr-5"
                                        label="Всегда показывать"
                                        type="checkbox"
                                        v-model="parameter.alwaysShow"></v-checkbox>
                            <v-checkbox class="text-nowrap mr-5"
                                        label="Множественный выбор"
                                        type="checkbox"
                                        v-model="parameter.multiple"></v-checkbox>
                        </template>
                        <i class="icofont-close-line btn-delete ml-auto"
                           @click="d_product.parameters.splice(k, 1)"></i>
                    </div>
                    <div class="mb-5"
                         v-for="(value,i) in parameter.values">
                        <div class="row mb-3"
                             v-if="['tabs','list'].includes(parameter.type)">
                            <div class="col-12 pl-5">
                                <div class="d-flex align-items-center mb-3">
                                    <div class="h3 mr-3">{{k+1}}.{{i+1}}</div>
                                    <v-input class="mr-3 w-100"
                                             label="Название значения"
                                             v-model="value.name"></v-input>
                                    <i class="icofont-close-line btn-delete"
                                       @click="parameter.values.splice(i, 1)"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12 col-md-6 pl-5">
                                <div>
                                    <div class="mb-3">
                                        <button type="button" class="btn btn-link"
                                                v-if="!value.image"
                                                @click="$set(value, 'image', [])">Добавить изображение
                                        </button>
                                        <button type="button" class="btn btn-link"
                                                v-else
                                                @click="$set(value, 'image', undefined)">Убрать изображение
                                        </button>
                                    </div>
                                    <attach-area-component label="Изображение"
                                                           v-if="value.image"
                                                           v-model="value.image"
                                    ></attach-area-component>
                                </div>
                                <div>
                                    <div class="mb-3">
                                        <button type="button" class="btn btn-link"
                                                v-if="value.description==undefined"
                                                @click="$set(value, 'description', 'Описание')">Добавить подсказку
                                        </button>
                                        <button type="button" class="btn btn-link"
                                                v-else
                                                @click="$set(value, 'description', null)">Убрать подсказку
                                        </button>
                                    </div>
                                    <v-wysiwyg v-if="value.description"
                                               v-model="value.description"></v-wysiwyg>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <value-impact-editor :type="parameter.type"
                                                     v-model="value.impact"></value-impact-editor>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-info btn-sm ml-4" type="button"
                            v-if="['tabs','list'].includes(parameter.type)"
                            @click="parameter.values.push({impact: []})">
                        Добавить новое значение
                    </button>
                </div>
                <button class="btn btn-info btn-sm" type="button"
                        @click="d_product.parameters.push({
                                    alwaysShow: false,
                                    required: true,
                                    multiple: false,
                                    type: 'tabs',
                                    values: []
                                })">Добавить новый параметр
                </button>
            </div>
            <div class="d-flex flex-wrap align-items-center">
                <button type="submit" class="btn btn-primary"
                        v-if="productId"
                        :class="{'btn_is-loading': d_loading.product===LoadingStatus.Submitting}">
                    Применить все изменения
                </button>
                <button type="submit" class="btn btn-primary"
                        v-else
                        :class="{'btn_is-loading': d_loading.product===LoadingStatus.Submitting}">
                    Создать
                </button>
                <div class="ml-3 text-success small d-flex align-items-center font-weight-bold"
                     v-if="d_loading.product===LoadingStatus.SubmittingSuccess">
                    <i class="icofont-check-alt icofont-2x mr-1"></i>
                    <div>
                        Изменения успешно сохранены<br/>
                        <a :href="`/products/${d_product.seoName}`">Открыть карточку товара</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import VInput from "../../utils/VInput";
    import VCheckbox from "../../utils/VCheckbox";
    import VTextarea from "../../utils/VTextarea";
    import VSelect from "../../utils/VSelect";
    import DropdownComponent from "../../utils/DropdownComponent";
    import VWysiwyg from "../../utils/v-wysiwyg";
    import AttachAreaComponent from "../../utils/AttachAreaComponent";
    import ValueImpactEditor from "./ValueImpactEditor";
    import LoadingStatus from "../../../utils/LoadingStatus";
    import AdminAPI from "../../../api/AdminAPI";
    import LoadingComponent from "../../utils/LoadingComponent";

    export default {
        name: "ProductParametersEditor",
        components: {
            LoadingComponent,
            ValueImpactEditor,
            AttachAreaComponent, VWysiwyg, DropdownComponent, VSelect, VTextarea, VCheckbox, VInput
        },
        props: ['productId'],
        data() {
            return {
                LoadingStatus: LoadingStatus,
                d_loading: {
                    product: null
                },
                d_product: null,
            }
        },
        created() {
            this.d_loading.product = LoadingStatus.Loading;
            AdminAPI.products
                .getOne(this.productId, {
                    with: ['parameters.values.image']
                })
                .then(product => {
                    this.d_product = product;
                    this.d_loading.product = LoadingStatus.LoadingSuccess;
                })
        },
        methods: {
            handleParameterTypeChange(param) {
                if (!['tabs', 'list'].includes(param.type)) {
                    param.alwaysShow = false;
                    param.multiple = false;
                    if (!param.values.length) {
                        param.values.push({impact: []});
                    } else {
                        this.$set(param, 'values', [param.values[0]]);
                    }
                }
            },
            submit() {
                this.d_loading.product = LoadingStatus.Submitting;
                AdminAPI.products
                    .update(this.productId, this.packRequest())
                    .then(response => {
                        this.d_loading.product = LoadingStatus.SubmittingSuccess;
                    })
                    .catch(errors => {
                        this.d_loading.product = LoadingStatus.SubmittingError;
                        this.d_errors = errors.data;
                    });
            },
            packRequest() {
                let parameters = this.d_product.parameters.map(item => {
                    let parameterValues = item.values.map(value => {
                        return {
                            id: value.id,
                            name: value.name,
                            image_id: value.image && value.image.id,
                            description: value.description,
                            impact: value.impact,
                        }
                    });

                    return {
                        id: item.id,
                        always_show: item.alwaysShow,
                        type: item.type,
                        multiple: item.multiple,
                        required: item.required,
                        name: item.name,
                        values: parameterValues
                    }
                });

                return {
                    parameters: parameters,
                }
            }
        }
    }
</script>

<style scoped>

</style>