<template>
    <div>
        <loading-component v-if="d_loading.product===LoadingStatus.Loading"></loading-component>
        <form @submit.prevent="submit"
              v-else>
            <div class="row mb-3">
                <div class="col-12 col-md-6">
                    <div class="d-flex align-items-center mb-4"
                         v-for="(category,i) in d_product.categories"
                         :key="i">
                        <category-finder class="w-100 mr-3"
                                         v-model="d_product.categories[i]"></category-finder>
                        <button type="button" class="btn-delete"
                                @click="d_product.categories.splice(i, 1)">&times;</button>
                    </div>
                    <button class="btn btn-info btn-sm" type="button"
                            @click="d_product.categories.push({})">Добавить категорию
                    </button>
                </div>
            </div>
            <div class="d-flex flex-wrap align-items-center">
                <button type="submit" class="btn btn-primary"
                        :class="{'btn_is-loading': d_loading.product===LoadingStatus.Submitting}">
                    Применить
                </button>
                <div class="ml-3 text-success small d-flex align-items-center font-weight-bold"
                     v-if="d_loading.product===LoadingStatus.SubmittingSuccess">
                    <i class="icofont-check-alt icofont-2x mr-1"></i>
                    <div>
                        Изменения успешно сохранены<br/>
                        <a :href="`/products/${d_product.seoName}`">Открыть карточку товара</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import AdminAPI from "../../../api/AdminAPI";
    import LoadingStatus from "../../../utils/LoadingStatus";
    import CategoryFinder from "../../utils/CategoryFinder";
    import LoadingComponent from "../../utils/LoadingComponent";

    export default {
        name: "ProductCategoriesEditor",
        components: {LoadingComponent, CategoryFinder},
        props: ['productId'],
        data() {
            return {
                LoadingStatus: LoadingStatus,
                d_loading: {
                    product: null
                },
                d_product: null,
            }
        },
        created() {
            this.d_loading.product = LoadingStatus.Loading;
            AdminAPI.products
                .getOne(this.productId, {
                    with: ['categories']
                })
                .then(product => {
                    this.d_product = product;
                    this.d_loading.product = LoadingStatus.LoadingSuccess;
                })
        },
        methods: {
            submit() {
                this.d_loading.product = LoadingStatus.Submitting;
                AdminAPI.products.update(this.productId, {
                    category_ids: this.d_product.categories.map(item => item.id),
                })
                    .then(response => {
                        this.d_loading.product = LoadingStatus.SubmittingSuccess;
                    })
                    .catch(errors => {
                        this.d_loading.product = LoadingStatus.SubmittingError;
                        this.d_errors = errors.data;
                    });
            }
        }
    }
</script>

<style scoped>

</style>