<template>
    <div class="container">
        <loading-component v-if="!d_loading.product"></loading-component>
        <template v-else>
            <div class="d-flex align-items-center">
                <router-link :to="{name:'catalog'}" class="btn btn-link btn-sm mb-2">
                    <i class="icofont-arrow-left mr-2"></i>Назад в каталог
                </router-link>
                <div class="ml-auto" v-if="$route.params.seoName">
                    <button class="btn btn-danger btn-sm text-right"
                            :class="{'btn_is-loading': !d_loading.destroy}"
                            type="button"
                            @click="destroy">
                        <i class="icofont-close"></i> Удалить
                    </button>
                </div>
            </div>
            <div>
                <div class="mb-5">
                    <template v-if="$route.params.seoName">
                        <!--<h2 class="font-weight-bold">{{d_product.name}}</h2>-->
                        <h2>Редактирование услуги</h2>
                    </template>
                    <template v-else>
                        <h2 class="font-weight-bold">Новая услуга</h2>
                    </template>
                </div>
                <div class="btn-group btn-group_light mb-5" role="group">
                    <a href="#info" class="btn"
                       :class="{active: d_tab === '#info'}"
                       @click="d_tab = '#info'">
                        Общая информация
                    </a>
                    <a href="#parameters" class="btn"
                       :class="{active: d_tab === '#parameters'}"
                       @click="d_tab = '#parameters'">
                        Параметры
                    </a>
                    <a href="#files" class="btn"
                       :class="{active: d_tab === '#files'}"
                       @click="d_tab = '#files'">
                        Файлы
                    </a>
                    <a href="#categories" class="btn"
                       :class="{active: d_tab === '#categories'}"
                       @click="d_tab = '#categories'">
                        Категории
                    </a>
                    <a href="#recommendations" class="btn"
                       :class="{active: d_tab === '#recommendations'}"
                       @click="d_tab = '#recommendations'">
                        Рекомендации
                    </a>
                    <a href="#sales" class="btn"
                       :class="{active: d_tab === '#sales'}"
                       @click="d_tab = '#sales'">
                        Скидки
                    </a>
                    <a href="#preview" class="btn"
                       :class="{active: d_tab === '#preview'}"
                       @click="d_tab = '#preview'">
                        Просмотр
                    </a>
                </div>
                <product-info-editor v-if="d_tab==='#info'"
                                     :product-id="$route.params.seoName"
                ></product-info-editor>
                <template v-if="$route.params.seoName">
                    <product-categories-editor v-if="d_tab==='#categories'"
                                               :product-id="$route.params.seoName"
                    ></product-categories-editor>
                    <product-files-editor
                            v-if="d_tab==='#files'"
                            :product-id="$route.params.seoName"
                    ></product-files-editor>
                    <product-parameters-editor v-if="d_tab==='#parameters'"
                                               :product-id="$route.params.seoName"
                    ></product-parameters-editor>
                    <product-sales-editor v-if="d_tab==='#sales'"
                                          :product-id="$route.params.seoName"
                    ></product-sales-editor>
                    <product-recommendations-editor v-if="d_tab==='#recommendations'"
                                                    :product-id="$route.params.seoName"
                    >
                    </product-recommendations-editor>
                    <base-calculator class="editor-block mb-4"
                                     v-if="d_tab==='#preview'"
                                     :product-id="$route.params.seoName"
                    ></base-calculator>
                </template>
            </div>
        </template>
    </div>
</template>

<script>
    import CategoryTree from "../../utils/CategoryTree";
    import CategoryFinder from "../../utils/CategoryFinder";
    import AdminAPI from "../../../api/AdminAPI";
    import RequestErrors from "../../utils/RequestErrors";
    import LoadingComponent from "../../utils/LoadingComponent";
    import BaseCalculator from "../../User/Calculator/BaseCalculator";
    import AttachAreaComponent from "../../utils/AttachAreaComponent";
    import VTextarea from "../../utils/VTextarea";
    import VCheckbox from "../../utils/VCheckbox";
    import VInput from "../../utils/VInput";
    import VWysiwyg from "../../utils/v-wysiwyg";
    import ProductParametersEditor from "./ProductParametersEditor";
    import ProductSalesEditor from "./ProductSalesEditor";
    import ProductRecommendationsEditor from "./ProductRecommendationsEditor";
    import ProductInfoEditor from "./ProductInfoEditor";
    import ProductCategoriesEditor from "./ProductCategoriesEditor";
    import ProductFilesEditor from "./ProductFilesEditor";

    export default {
        name: "TheProductEditor",
        components: {
            ProductFilesEditor,
            ProductCategoriesEditor,
            ProductInfoEditor,
            ProductRecommendationsEditor,
            ProductSalesEditor,
            ProductParametersEditor,
            VWysiwyg,
            VInput,
            VCheckbox,
            VTextarea,
            AttachAreaComponent,
            BaseCalculator, LoadingComponent, RequestErrors, CategoryFinder, CategoryTree
        },
        props: ['product'],
        data() {
            return {
                d_loading: {
                    submit: 999,
                    destroy: 999,
                    categories: 1,
                    parameters: 1,
                    sales: 1,
                    product: 1,
                    recommendations: 1,
                },
                d_tab: location.hash || '#info',
                d_errors: null
            }
        },
        created() {
        },
        methods: {
            destroy() {
                this.d_loading.destroy = 0;
                AdminAPI.products.destroy(this.$route.params.seoName)
                    .then(response => {
                        this.d_loading.destroy = 1;
                        this.$router.push({name: 'catalog'});
                    })
                    .catch(errors => {
                        this.d_loading.destroy = -1;
                        this.d_errors = errors.data;
                    });
            },
        }
    }
</script>

<style scoped lang="scss">
</style>