<template>
    <div>
        <div class="font-weight-bold mb-3">Влияние</div>
        <div class="d-flex align-items-center mb-3"
             v-for="(change,index) in value">
            <div class="mr-3 small">
                <span :title="d_allImpacts[change.action].description">{{d_allImpacts[change.action].name}}</span>
            </div>
            <v-input class="ml-auto mr-3"
                     label="Коэффициент"
                     v-model="change.value"></v-input>
            <i class="icofont-close-line btn-delete"
               @click="value.splice(index, 1)"></i>
        </div>
        <button type="button" class="btn btn-link"
                @click="d_showModal=true"
        >Добавить влияние
        </button>
        <modal-component height="400px"
                         content-class="container"
                         v-if="d_showModal"
                         @close="d_showModal=false"
        >
            <template #header>
                <h3>Добавление влияния</h3>
            </template>
            <template #body>
                <div class="editor-modal d-flex">
                    <ul class="editor-modal__groups list-unstyled">
                        <li v-for="(group,groupName) in c_availableImpacts"
                            @mouseover="d_activeGroup=group">
                            {{groupName}}
                        </li>
                    </ul>
                    <ul class="editor-modal__impacts list-unstyled">
                        <template v-if="d_activeGroup">
                            <li v-for="impact in d_activeGroup"
                                @click="addImpact(impact)"
                            >
                                <div class="font-weight-bold">{{d_allImpacts[impact].name}}</div>
                                <div class="small">{{d_allImpacts[impact].description}}</div>
                            </li>
                        </template>
                    </ul>
                </div>
            </template>
        </modal-component>
    </div>
</template>

<script>
    import DropdownComponent from "../../utils/DropdownComponent";
    import VInput from "../../utils/VInput";
    import ModalComponent from "../../utils/ModalComponent";

    export default {
        name: "ValueImpactEditor",
        props: ['type', 'value'],
        components: {ModalComponent, VInput, DropdownComponent},
        data() {
            return {
                d_showModal: false,
                d_allImpacts: {
                    'price+=value': {
                        name: 'Увеличение цены',
                        description: 'Увеличение цены за единицу изделия на указанный коэффициент'
                    },
                    'price*=value': {
                        name: 'Умножение цены',
                        description: 'Умножение цены за единицу изделия на указанный коэффициент'
                    },
                    'price*=value*letter_count': {
                        name: 'Умножение цены на СБП',
                        description: 'Умножение цены за единицу изделия на указанный коэффициент и количество символов без пробелов в введённой клиентом фразе'
                    },
                    'price*=value*input': {
                        name: 'Умножение цены на введённое значение',
                        description: 'Умножение цены за единицу изделия на указанный коэффициент и введённое клиентом значение'
                    },
                    'layout_price+=value': {
                        name: 'Увеличение стоимости макета',
                        description: 'Увеличение стоимости макета на указанный коэффициент'
                    },
                    'layout_price*=value': {
                        name: 'Умножение стоимости макета',
                        description: 'Умножение стоимости макета на указанный коэффициент'
                    },
                    'cost+=value': {
                        name: 'Увеличение себестоимости',
                        description: 'Увеличение себестоимости за единицу изделия на указанный коэффициент'
                    },
                    'cost*=value': {
                        name: 'Умножение себестоимости',
                        description: 'Умножение себестоимости за единицу изделия на указанный коэффициент'
                    },
                    'cost*=value*letter_count': {
                        name: 'Умножение себестоимости на СБП',
                        description: 'Умножение себестоимости за единицу изделия на указанный коэффициент и количество символов без пробелов в введённой клиентом фразе'
                    },
                    'cost*=value*input': {
                        name: 'Умножение себестоимости на введённое значение',
                        description: 'Умножение себестоимости за единицу изделия на указанный коэффициент и введённое клиентом значение'
                    },
                    'count*=value*input': {
                        name: 'Умножение кол-ва на введённое значение',
                        description: 'Умножение количества на указанный коэффициент и введённое клиентом значение'
                    },
                    'count*=value*letter_count': {
                        name: 'Умножение кол-ва на СБП',
                        description: 'Умножение количества на указанный коэффициент и количество символов без пробелов в введённой клиентом фразе'
                    },
                    'amount+=value': {
                        name: 'Увеличение стоимости изделия',
                        description: 'Увеличение общей стоимости изделия на указанный коэффициент'
                    },
                    'files_count+=value': {
                        name: 'Увеличение кол-ва файлов',
                        description: 'Увеличение необходимого числа прикрепляемых файлов на указанный коэффициент'
                    },
                    'files_count*=value*input': {
                        name: 'Умножение кол-ва файлов на введённое значение',
                        description: 'Умножение необходимого числа прикрепляемых файлов на указанный коэффициент и введённое клиентом значение'
                    },
                },
                d_activeGroup: null
            }
        },
        computed: {
            c_availableImpacts() {
                /*{
                    'Изменение цены': ['price+=value', 'price*=value', 'price*=value*letter_count', 'price*=value*input'],
                    'Изменение стоимости': ['amount+=value'],
                    'Изменение стоимости макета': ['layout_price+=value', 'layout_price*=value'],
                    'Изменение себестоимости': ['cost+=value', 'cost*=value', 'cost*=value*letter_count', 'cost*=value*input'],
                    'Изменение количества': ['count*=value*input', 'count*=value*letter_count'],
                }*/
                switch (this.type) {
                    case 'tabs':
                    case 'list':
                        return {
                            'Изменение цены': ['price+=value', 'price*=value'],
                            'Изменение стоимости': ['amount+=value'],
                            'Изменение стоимости макета': ['layout_price+=value', 'layout_price*=value'],
                            'Изменение себестоимости': ['cost+=value', 'cost*=value'],
                            'Изменение кол-ва файлов': ['files_count+=value', 'files_count*=value*input'],
                        };
                    case 'number':
                        return {
                            'Изменение цены': ['price+=value', 'price*=value', 'price*=value*input'],
                            'Изменение стоимости макета': ['layout_price+=value', 'layout_price*=value'],
                            'Изменение себестоимости': ['cost+=value', 'cost*=value', 'cost*=value*input'],
                            'Изменение количества': ['count*=value*input'],
                            'Изменение кол-ва файлов': ['files_count+=value', 'files_count*=value*input'],
                        };
                    case 'text':
                        return {
                            'Изменение цены': ['price+=value', 'price*=value', 'price*=value*letter_count'],
                            'Изменение стоимости': ['amount+=value'],
                            'Изменение стоимости макета': ['layout_price+=value', 'layout_price*=value'],
                            'Изменение себестоимости': ['cost+=value', 'cost*=value', 'cost*=value*letter_count'],
                            'Изменение количества': ['count*=value*letter_count'],
                            'Изменение кол-ва файлов': ['files_count+=value', 'files_count*=value*input'],
                        };
                }
            }
        },
        methods: {
            addImpact(impact) {
                this.value.push({'action': impact, 'value': ''});
                this.d_showModal = false;
            }
        }
    }
</script>

<style scoped lang="scss">
    @import "../../../../sass/variables";

    .editor-modal {
        height: 100%;

        li {
            padding-bottom: 12px;
            line-height: 1.2;
            &:hover, &.active {
                color: $primary;
            }
        }
    }

    .editor-modal__groups {
        width: 250px;
        flex-shrink: 0;
        padding-right: 15px;
    }

    .editor-modal__impacts {
        padding-left: 15px;
        border-left: 1px solid #e6e6e6;

        li {
            cursor: pointer;
        }
    }
</style>