@import "../variables";

html {
    position: relative;
    min-height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    //margin-bottom: 195px;

    @include respond-to(sm) {
        //margin-bottom: 455px;
    }
}

.cursor-pointer {
    cursor: pointer;
}
