@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import "../variables";
@import "./animations";

.btn {
    padding: 14px 24px;
    font-size: 14px;
    line-height: 1;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    transition: background 0.2s ease-in;
    position: relative;
    overflow: hidden;
    justify-content: center;

    a {
        margin: -14px -24px;
        padding: 14px 24px;
        color: white;

        &:hover {
            color: $primary;
        }
    }

    &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 5px;
        height: 5px;
        background: rgba(255, 255, 255, .5);
        opacity: 0;
        border-radius: 100%;
        transform: scale(1, 1) translate(-50%);
        transform-origin: 50% 50%;
    }

    &:focus:not(:active)::after {
        animation: ripple 0.75s ease-out;
    }

    &:disabled {
        cursor: not-allowed;
    }

    &:active, &:focus {
        box-shadow: none !important;
    }

    &.btn-primary {
        background: linear-gradient(30deg, #e30613, #ff333f);
        color: white;

        &:hover:not(:disabled) {
            color: $primary;
            background: linear-gradient(30deg, white, white);
        }

        &:active {
            background: linear-gradient(30deg, #ff333f, #ff333f) !important;
            color: white !important;
        }
    }

    &.btn-danger {
        background: linear-gradient(30deg, #e30613, #ff333f);
        color: white;

        &:hover:not(:disabled) {
            color: $primary;
            background: linear-gradient(30deg, white, white);
        }

        &:active {
            background: linear-gradient(30deg, #ff333f, #ff333f) !important;
            color: white !important;
        }
    }

    &.btn-info {
        background: linear-gradient(30deg, #5c49c4, #7150ff);
        color: white;

        &:hover:not(:disabled) {
            color: #7150ff;
            background: linear-gradient(30deg, white, white);
        }

        &:active {
            background: linear-gradient(30deg, #5c49c4, #7150ff) !important;
            color: white !important;
        }
    }

    &.btn-sm {
        padding: 10px 10px;
        font-size: 10px;

        i {
            margin: 0 5px 0 -5px;
        }
    }

    i {
        margin: 0 10px 0 0;
        font-size: inherit;
    }

    &.btn_is-loading {
        color: #00000000;
        position: relative;
        pointer-events: none;

        &:before {
            font-family: IcoFont;
            content: "\effa";
            position: absolute;
            margin: auto;
            width: 24px;
            height: 24px;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            color: #ffffff;
            font-size: 24px;
            font-weight: 400;
            transform-origin: center;
            animation: cubic-bezier(0.4, 2.06, 1, 1) spin 2s infinite;
        }
    }

    &.btn-link {
        min-height: unset;
        color: $primary;
        padding: 0;
        text-decoration: none;

        &.btn-lg {
            font-size: 24px;
        }
    }

    &.btn_mobile-100 {
        @include media-breakpoint-down(md) {
            width: 100%;
        }
    }
}

.btn-group {
    text-transform: none;
    flex-wrap: wrap;

    @include respond-to(sm) {
        .btn {
            border-radius: 0;
            justify-content: center;
        }
    }

    &.btn-group_sm {
        .btn {
            font-size: 12px;
        }
    }

    &.btn-group_light {
        .btn {
            @include button-variant(#ffffff, $muted, darken(#ffffff, 10%), $muted, $primary, $muted);
        }

        .active {
            background: linear-gradient(30deg, #e30613, #ff333f);
            color: #ffffff;
        }
    }
}

.btn-circle {
    min-width: 45px;
    min-height: 45px;
    //background: #ffeaea;
    border-radius: 50%;
    padding: 8px;
    display: inline-flex;
    justify-content: center;
    font-size: 20px;
    background: none;
    cursor: pointer;
    transition: transform 0.1s ease-in;
    border: none;
    color: $base-color;

    //&.btn-seconda
    //
    //&:hover {
    //  background: $primary;
    //  color: #ffffff;
    //}

    &:active {
        transform: scale(0.9);
    }

    i {
        margin-right: 0;
    }
}

.btn-delete {
    color: $danger;
    background: none;
    border: 1px solid $danger;
    opacity: 0.4;
    font-size: 20px !important;
    line-height: 20px;
    display: inline-flex;
    flex-shrink: 0;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    align-items: center;
    justify-content: center;
    padding: 1px;
    box-sizing: content-box;
    cursor: pointer;
    transition: transform 0.1s ease-in;
    outline: none !important;

    &:hover {
        opacity: 1;
        background: $danger;
        color: #ffffff;
    }

    &:active {
        transform: scale(0.9);
    }
}

@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }
    20% {
        transform: scale(25, 25);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(40, 40);
    }
}
