@import "../variables";


.validate {
    .input-wrap {
        input:invalid, textarea:invalid {
            border-color: #EB5757;

            & + .input-wrap__placeholder {
                &:before {
                    border-color: #EB5757;
                }

                &:after {
                    border-color: #EB5757;
                }
            }
        }
    }
}

.custom-control {
    padding-left: 0;

    &.custom-checkbox {
        .custom-control-label {
            cursor: pointer;
            margin-left: -35px;
            padding-left: 35px;
            display: flex;
            align-items: center;
        }

        .custom-control-input ~ .custom-control-label::before {
            flex-shrink: 0;
            color: inherit;
            //content: "\f2d7";
            font-family: Ionicons, sans-serif !important;
            content: "";
            border: none !important;
            box-shadow: none !important;
            align-items: center;
            font-size: 20px;
            transition: transform 0.1s ease-in;
            border-radius: 0;
            background: #00000030;
            left: 0;
            width: 35px;
            height: 35px;
            text-align: center;
            position: static;
            margin-right: 20px;
        }

        .custom-control-input:checked ~ .custom-control-label::before {
            content: "\f3fd";
            font-size: 100px;
            background: none;
        }

        .custom-control-input ~ .custom-control-label::after {
            content: none !important;
        }

        .custom-control-input:active ~ .custom-control-label::before {
            transform: scale(0.8);
        }

        &.extra-small {
            line-height: 14px;

            .custom-control-label {
                margin-left: -20px;
                padding-left: 20px;
            }

            .custom-control-input ~ .custom-control-label::before {
                left: 0;
                width: 16px;
                height: 16px;
                margin-right: 4px;
                line-height: 16px;
                font-size: 36px;
            }
        }

        &.custom-checkbox_highlight {
            .custom-control-input ~ .custom-control-label {
                //color: $gray-dark;
                &:before {
                    background-color: lighten($primary, 50%);
                }
            }

            .custom-control-input:checked ~ .custom-control-label {
                color: green;

                &:before {
                    background-color: #ffffff00;
                    color: green;
                }
            }
        }
    }

    &.custom-radio {
        .custom-control-label {
            cursor: pointer;
            margin-left: -35px;
            padding-left: 35px;
            display: flex;
            align-items: center;
        }

        .custom-control-input ~ .custom-control-label::before {
            flex-shrink: 0;
            color: inherit;
            //content: "\f2d7";
            font-family: Ionicons, sans-serif !important;
            content: "";
            border: none !important;
            box-shadow: none !important;
            align-items: center;
            font-size: 20px;
            transition: transform 0.1s ease-in;
            border-radius: 0;
            background: #00000030;
            left: 0;
            width: 35px;
            height: 35px;
            text-align: center;
            position: static;
            margin-right: 20px;
        }

        .custom-control-input:checked ~ .custom-control-label::before {
            content: "\f3fd";
            font-size: 100px;
            background: none;
        }

        .custom-control-input ~ .custom-control-label::after {
            content: none !important;
        }

        .custom-control-input:active ~ .custom-control-label::before {
            transform: scale(0.8);
        }

        &.extra-small {
            line-height: 14px;
            padding-left: 20px;

            .custom-control-input ~ .custom-control-label::before {
                left: 0;
            }
        }

        &.custom-radio_highlight {
            .custom-control-input ~ .custom-control-label {
                color: lighten($primary, 50%);

                &:before {
                    background-color: lighten($primary, 50%);
                }
            }

            .custom-control-input:checked ~ .custom-control-label {
                color: green;

                &:before {
                    background-color: #ffffff00;
                    color: green;
                }
            }
        }
    }

    /*&.custom-number-input {
      display: flex;
      align-items: center;

      input {
        border: none;
        background: none;
        text-align: center;
        width: 70px;
        -moz-appearance: textfield;

        &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        &:focus {
          outline: none;
        }
      }

      i {
        font-size: 40px;
        cursor: pointer;
        color: $gray-dark;

        &:hover {
          color: orange;
        }
      }
    }

    &.custom-switch {
      display: flex;
      align-items: center;

      input {
        display: none;
      }

      .custom-switch__off {
        color: $orange;
      }

      .custom-switch__off, .custom-switch__on {
        cursor: pointer;

        &:hover {
          color: $orange;
        }
      }

      .custom-switch__icon {
        width: 70px;
        height: 35px;
        position: relative;
        margin: 0 20px;
        z-index: 1;

        &:before {
          content: "";
          background: $orange-light;
          width: 70px;
          height: 10px;
          position: absolute;
          z-index: -1;
          top: 13px;
          left: 2px;
          border-radius: 15px;
        }

        &:after {
          content: "";
          display: block;
          width: 35px;
          height: 35px;
          background: $orange;
          border-radius: 50%;
          background-image: url(/images/93-logo-white.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 75%;
          border: 1px solid #ffffff;
          box-sizing: content-box;
          box-shadow: 0px 0px 12px rgba(229, 229, 229, 0.49), 10px 12px 17px rgba(229, 229, 229, 0.25);
          transition: transform 0.1s ease-in;
        }
      }

      input:checked {
        & ~ {

          .custom-switch__icon:after {
            transform: translateX(35px);
          }

          .custom-switch__off {
            color: inherit;
          }

          .custom-switch__on {
            color: $orange;
          }
        }
      }
    }*/
}
