ul {
  list-style: none;
}

ul:not(.navbar__links) {
  list-style: none;

  li {
    position: relative;

    &:before {
      content: "";
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: #e31e24;
      position: absolute;
      left: -15px;
      box-sizing: content-box;
      margin-top: 10px;
    }
  }
}

.list-unstyled {
  list-style: none!important;;

  ul {
    list-style: none!important;;
  }

  li {
    &:before {
      content: none!important;
    }
  }
}
