@import "../variables";

.table {
    width: 100%;

    thead {
        font-weight: 600;

        td {
            border-top: none;
        }
    }

    @include respond-to(md) {
        display: block;
        overflow-x: auto;
    }
}

table.table_simple {
    thead {
        td {
            border-bottom: 3px solid $dark;
        }
    }

    td {
        padding: 15px;
    }
}

table {
    &.table_v-top {
        tbody {
            td {
                vertical-align: top;
            }
        }
    }

    &.table_v-middle {
        tbody {
            td {
                vertical-align: middle;
            }
        }
    }
}
