@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,700&display=swap');
@import "../variables";

body {
  color: $base-color;
  font-family: $font-family-base;
}

img {
  max-width: 100%;
}

h1, .h1 {
  font-weight: $h1-font-weight;

  @include respond-to(sm){
    font-size: 32px;
  }
}

h2, .h2 {
  font-weight: $h2-font-weight;

  @include respond-to(sm){
    font-size: 28px;
  }
}

h3, .h3 {
  font-weight: $h3-font-weight;

  @include respond-to(sm){
    font-size: 24px;
  }
}

h4, .h4 {
  font-weight: $h4-font-weight;

  @include respond-to(sm){
    font-size: 18px;
  }
}

h5, .h5 {
  font-weight: $h5-font-weight;

  @include respond-to(sm){
    font-size: 18px;
  }
}

p, .p {
  //text-indent: 2rem;
  min-height: 1rem;

  &:last-of-type {
    margin-bottom: 0;
  }
}

a {
  color: $primary;
  &:hover {
    color: darken($primary, 10%);
    text-decoration: none;
  }
}

.page-block {
  background: white;
  margin-right: -15px;
  margin-left: -15px;
  padding-left: 15px;
  padding: 15px;
  border: 1px solid #ececec;
}

.text-crossed{
  position: relative;
  &:after {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #ff0000;
    bottom: 0;
    top: 0;
    left: 0;
    content: "";
    margin: auto;
    transform: rotate(-20deg);
  }
}
