<template>
    <div>
        <loading-component v-if="!d_product"/>
        <form v-else
              ref="calculator"
              @submit.prevent="handleBuyButton">
            <div itemprop="name" class="d-none">
                {{ d_product.name }}
            </div>
            <h1 class="text-uppercase mb-4">{{ d_product.h1 || d_product.name }}</h1>
            <div class="row mb-5 mt-0">
                <div class="col-12 col-lg-4 pr-lg-5 order-1 order-lg-0">
                    <div class="left-side-params" ref="leftSide">
                        <div class="mb-3">
                            <a class="chocolat-image"
                               itemprop="image"
                               v-if="d_product.image"
                               :title="d_product.name"
                               :href="`${d_product.image.url}`"
                            >
                                <img class="product-image"
                                     :title="d_product.name"
                                     :alt="d_product.name"
                                     :src="d_product.image.thumbnail"/>
                            </a>
                            <div class="product-image" v-else>
                                <i class="icofont-image" v-if="!d_product.image"></i>
                            </div>
                            <div v-if="rating"
                                 itemprop="aggregateRating"
                                 itemscope
                                 itemtype="http://schema.org/AggregateRating">
                                <div class="rating rating_inline">
                                    <meta itemprop="bestRating" content="5"/>
                                    <meta itemprop="worstRating" content="1"/>
                                    <i v-for="i in 5"
                                       class="icofont-star"
                                       :class="{active: i <= rating }"></i>
                                    <div itemprop="ratingValue">{{ rating }}</div>
                                    <a class="small ml-3" href="#reviews">
                                        Читать отзывы (<span itemprop="reviewCount">{{ reviewsCount }}</span>)</a>
                                </div>
                            </div>
                        </div>
                        <div class="position-relative" itemtype="http://schema.org/AggregateOffer" itemscope=""
                             itemprop="offers">
                            <link itemprop="availability" href="http://schema.org/InStock"/>
                            <meta itemprop="lowPrice" :content="d_product.lowPrice"/>
                            <meta itemprop="priceCurrency" content="RUB"/>
                            <div>
                                <span class="font-weight-bold">Время изготовления:</span>
                                {{ d_product.productionTime }}
                            </div>
                            <div v-if="c_price">
                                <span class="font-weight-bold">Цена:</span>
                                ~{{ c_price.toFixed(2) }} ₽ за {{ d_product.countType }}
                            </div>
                            <!--<div v-if="c_priceLayout">-->
                            <!--<span class="font-weight-bold">Стоимость макета:</span>-->
                            <!--{{c_priceLayout.toFixed(2)}} ₽-->
                            <!--</div>-->
                            <div v-if="c_isAllParamsSelected">
                                <!--<div v-if="c_tableParams.length > 0">-->
                                <!--<span class="font-weight-bold">{{c_tableParams[0].name}}:</span>-->
                                <!--{{d_selectedParamValues[c_tableParams[0].name].name}}-->
                                <!--</div>-->
                                <div>
                                    <span class="font-weight-bold">{{ d_product.countName }}:</span>
                                    {{ c_count.toFixed(2) }} {{ d_product.countType }}
                                </div>
                                <div class="font-weight-bold" v-if="c_sale">
                                    Скидка за кол-во: <span class="text-primary">{{ c_sale|f_percent }}%</span>
                                </div>
                                <div class="font-weight-bold" v-if="c_userSale">
                                    Индивидуальная скидка: <span class="text-primary">{{ c_userSale|f_percent }}%</span>
                                </div>
                            </div>
                            <div class="mt-2 d-flex align-items-start justify-content-between">
                                <div v-if="c_isAllParamsSelected && c_count">
                                    <div class="h2 mb-0" v-if="c_userSale>0">
                                        {{ c_total - c_total * c_userSale|f_round }} ₽
                                    </div>
                                    <div class="h2 mb-0"
                                         :class="{'text-crossed':c_userSale>0}">
                                        {{ c_total|f_round }} ₽
                                    </div>
                                    <div class="small"
                                         v-if="c_isAllParamsSelected && c_count && c_priceLayout > 0 && d_needLayout">
                                        {{ c_amount|f_round }} ₽ за изделие
                                        <template v-if="d_needLayout"><br/>{{ c_priceLayout|f_round }} ₽ за макет
                                        </template>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary"
                                        :disabled="!c_canBuy">
                                    <i class="icofont icofont-cart-alt"></i>
                                    Купить
                                </button>
                            </div>
                            <transition name="fade">
                                <div class="left-side-params__added-to-cart"
                                     v-if="d_addedToCart">
                                    <div class="h3 mb-4">Добавлено в корзину</div>
                                    <div class="d-flex flex-column align-items-center">
                                        <a class="btn btn-primary mb-2" href="/checkout">Оформить заказ</a>
                                        <button class="btn btn-link" type="button"
                                                @click="clear">Или заказать ещё
                                        </button>
                                    </div>
                                </div>
                            </transition>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-8 mb-5 mb-lg-0">
                    <base-calculator-parameter
                        class="mb-4"
                        v-for="(parameter, index) in c_commonParams"
                        :key="parameter.id"
                        :parameter="parameter"
                        :index="index"
                        v-model="d_selectedParamValues[parameter.name]"></base-calculator-parameter>
                    <div class="mb-4"
                         v-if="c_priceLayout > 0">
                        <div :class="{parameter_disabled: d_needLayout}">
                            <div class="h5 mb-3">
                            <span class="h1 mr-2">
                                {{ c_commonParams.length + 1 }}.</span>
                                Прикрепите файлы макета
                                <dropdown-component class="small d-inline-block"
                                                    v-if="d_product.mediaFiles && d_product.mediaFiles.length">
                                    <template #toggler>
                                        <button type="button" class="btn btn-link btn-sm">(Скачать шаблоны)</button>
                                    </template>
                                    <template #body>
                                        <ul>
                                            <li v-for="file in d_product.mediaFiles">
                                                <a :href="`/products/${product.seoName}/files/${file.id}`">
                                                    {{ file.name }}</a>
                                            </li>
                                        </ul>
                                    </template>
                                </dropdown-component>
                            </div>
                            <attach-area-component :multiple="true"
                                                   :max-count="c_filesCount"
                                                   :accept="d_product.orderFilesExtensions"
                                                   label="Выберите или перенесите в это поле файлы"
                                                   :split-pdf="true"
                                                   v-model="d_layouts"
                            />
                        </div>
                        <div class="btn-group btn-group_sm btn-group_light" role="group">
                            <button type="button" class="btn"
                                    :class="{active: !d_needLayout}"
                                    @click="d_needLayout = false">
                                Есть свой макет
                            </button>
                            <button type="button" class="btn"
                                    :class="{active: d_needLayout}"
                                    @click="d_needLayout = true">
                                Нужен дизайн макета
                            </button>
                        </div>
                    </div>
                    <div v-if="!d_product.countCalculating">
                        <div class="h5 mb-3">
                            <span class="h1 mr-2">{{ c_commonParams.length + (c_priceLayout > 0 ? 2 : 1) }}.</span>
                            Укажите
                            <span class="text-lowercase">
                            {{ d_product.countName }}
                            <template v-for="param in c_tableParams">и {{ param.name }}</template>
                        </span>
                        </div>
                        <template v-if="!d_selectCustomCount">
                            <table class="table text-center table-bordered mb-3">
                                <thead class="font-weight-bold thead-dark">
                                <tr>
                                    <td rowspan="2" class="align-bottom"
                                        v-if="c_tableParams.length > 0">
                                        {{ c_tableParams[0].name }}
                                    </td>
                                    <td :colspan="c_salesMap.length">
                                        {{ d_product.countName }}, {{ d_product.countType }}
                                    </td>
                                </tr>
                                <tr ref="countsRow">
                                    <td class="border-top-0 sale-count"
                                        v-for="sale in c_salesMap">
                                        {{ sale.count }}<br/>
                                        <small class="text-muted"
                                               v-if="sale.sale > 0">
                                            Скидка {{ sale.sale|f_percent }}%
                                        </small>
                                    </td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(row, rowIndex) in c_tablePrices">
                                    <td class="font-weight-bold border-top-0"
                                        v-if="c_tableParams.length > 0">
                                        {{ c_tableParams[0].values[rowIndex].name }}
                                    </td>
                                    <td class="price-cell"
                                        v-for="(cell, cellIndex) in row"
                                        @click="handlePriceCellClick(rowIndex, cellIndex, $event)"
                                        @mouseover="handlePriceCellMouseOver"
                                        @mouseout="handlePriceCellMouseOut">{{ cell }} ₽
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="text-right">
                                <button class="btn btn-link pr-0" type="button"
                                        @click="toggleCustomCount()">Указать своё количество
                                </button>
                            </div>
                        </template>
                        <template v-else>
                            <v-input class="mb-3"
                                     :label="`${d_product.countName}, ${d_product.countType}`"
                                     v-model.number="d_count"
                                     :min="d_product.minCount"
                                     type="number"
                                     required></v-input>
                            <div class="small" v-if="d_product.minCount>0">
                                Минимальное количество для заказа {{ d_product.minCount }} {{ d_product.countType }}
                            </div>
                            <div class="text-right">
                                <button class="btn btn-link pr-0" type="button"
                                        v-if="c_salesMap.length > 0"
                                        @click="toggleCustomCount()">Показать таблицу
                                </button>
                            </div>
                        </template>
                    </div>
                    <div class="pt-3"
                         v-if="d_product.countCalculating && c_salesMap.length>0">
                        <div class="h3 text-center ">Бери больше - плати меньше!</div>
                        <table class="table text-center table-bordered mb-3">
                            <thead class="font-weight-bold thead-dark">
                            <tr>
                                <td :colspan="c_salesMap.length">
                                    {{ d_product.countName }}, {{ d_product.countType }}
                                </td>
                            </tr>
                            <tr ref="countsRow">
                                <td class="border-top-0 sale-count"
                                    v-for="sale in c_salesMap">
                                    {{ sale.count }}<br/>
                                    <small class="text-muted"
                                           v-if="sale.sale > 0">
                                        Скидка {{ sale.sale|f_percent }}%
                                    </small>
                                </td>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
import AttachAreaComponent from "../../utils/AttachAreaComponent";
import VInput from "../../utils/VInput";
import BaseCalculatorParameter from "./BaseCalculatorParameter";
import LoadingComponent from "../../utils/LoadingComponent";
import UserAPI from "../../../api/UserAPI";
import DropdownComponent from "../../utils/DropdownComponent";

export default {
    name: "BaseCalculator",
    components: {DropdownComponent, LoadingComponent, BaseCalculatorParameter, VInput, AttachAreaComponent},
    props: {
        product: {default: null},
        productId: {default: null},
        rating: {default: null,},
        reviewsCount: {default: 0,}
    },
    data() {
        let paramsMap = (this.product && this.buildParamsMap(this.product)) || {};

        return {
            d_product: this.product,
            d_count: 0,
            d_selectedParamValues: paramsMap,
            d_selectCustomCount: true,
            d_needLayout: false,
            d_layouts: [],
            d_addedToCart: false
        }
    },
    computed: {
        c_userSale() {
            try {
                return this.$store.state.auth.company.partnerSale;
            } catch (e) {
                return 0;
            }
        },
        c_commonParams() {
            if (this.d_selectCustomCount) {
                return this.d_product.parameters;
            } else {
                return this.d_product.parameters.filter(parameter => !parameter.alwaysShow);
            }
        },
        c_tableParams() {
            if (this.d_selectCustomCount) {
                return [];
            }
            return this.d_product.parameters.filter(parameter => parameter.alwaysShow);
        },
        c_isAllParamsSelected() {
            return this.d_product.parameters.every(param => {
                return !param.required ||
                    (this.d_selectedParamValues[param.name] && this.d_selectedParamValues[param.name].length > 0)
            });
        },
        c_priceLayout() {
            let price = this.c_calc.layoutPrice;
            // if (this.c_userSale > 0) {
            //     price = price - price * this.c_userSale;
            // }
            return price;
        },
        c_price() {
            return this.priceFor(this.d_selectedParamValues, this.c_count);
        },
        c_filesCount() {
            return this.c_calc.filesCount;
        },
        c_amount() {
            let amount = this.c_count * this.c_price + this.c_calc.extraAmount;
            // if (this.c_userSale > 0) {
            //     amount = amount - amount * this.c_userSale;
            // }
            return amount;
        },
        c_salesMap() {
            return this.salesMapFor(this.d_selectedParamValues);
        },
        c_total() {
            return this.c_amount + (this.d_needLayout ? this.c_priceLayout : 0);
        },
        c_sale() {
            return this.saleFor(this.d_selectedParamValues, this.c_count);
        },
        c_calc() {
            return this.calculateParamsSet(this.d_selectedParamValues);
        },
        c_count() {
            let count = this.d_product.countCalculating ? this.c_calc.count : this.d_count;
            if (count < this.d_product.minCount) {
                count = this.d_product.minCount;
            }
            return count;
        },
        c_tablePrices() {
            let result = [];

            if (this.c_tableParams[0]) {
                let selectedParamsClone = Object.assign({}, this.d_selectedParamValues);
                this.c_tableParams[0].values.forEach((paramValue) => {
                    selectedParamsClone[this.c_tableParams[0].name] = [paramValue];
                    let row = this.salesMapFor(selectedParamsClone).map((sale) => {
                        return (this.priceFor(selectedParamsClone, sale.count) * sale.count).toFixed(0);
                    });
                    result.push(row);
                });
            } else {
                let row = this.c_salesMap.map((sale) => {
                    return (this.priceFor(this.d_selectedParamValues, sale.count) * sale.count).toFixed(0);
                });
                result.push(row);
            }

            return result;
        },
        c_canBuy() {
            return this.c_isAllParamsSelected && this.c_count &&
                (!this.c_priceLayout || this.d_needLayout || this.d_layouts.length > 0);
        }
    },
    mounted() {
        window.addEventListener("scroll", this.handleScroll, false);
        requestAnimationFrame(this.handleScroll);

        if (this.d_product) {
            this.d_selectCustomCount = !this.c_salesMap.length;
        } else if (this.productId) {
            UserAPI.products
                .getOne(this.productId, {
                    with: ["parameters.values", "image", "mediaFiles"]
                })
                .then(product => {
                    this.d_selectedParamValues = this.buildParamsMap(product);
                    this.d_product = product;
                    this.d_selectCustomCount = !this.c_salesMap.length;
                });
        }
    },
    destroyed() {
        window.removeEventListener("scroll", this.handleScroll);
    },
    methods: {
        handlePriceCellClick(rowIndex, cellIndex, event) {
            if (this.c_tableParams[0]) {
                this.$set(this.d_selectedParamValues, this.c_tableParams[0].name, []);
                this.c_tableParams[0].values[rowIndex].type = this.c_tableParams[0].type;
                this.d_selectedParamValues[this.c_tableParams[0].name]
                    .push(this.c_tableParams[0].values[rowIndex]);
            }
            this.d_count = this.c_salesMap[cellIndex].count;

            for (let item of document.getElementsByClassName("price-cell_selected")) {
                item.classList.toggle("price-cell_selected", false);
            }
            event.target.classList.toggle("price-cell_selected", true);

            requestAnimationFrame(this.handleScroll);
        },
        handlePriceCellMouseOver(event) {
            let cellIndex = event.target.cellIndex - this.c_tableParams.length;
            this.$refs.countsRow.children[cellIndex].classList.toggle("th-highlight", true);
        },
        handlePriceCellMouseOut(event) {
            let cellIndex = event.target.cellIndex - this.c_tableParams.length
            this.$refs.countsRow.children[cellIndex].classList.toggle("th-highlight", false);
        },
        buildParamsMap(product) {
            return product.parameters.reduce((acc, item) => {
                acc[item.name] = [];
                return acc;
            }, {});
        },
        salesMapFor(params) {
            if (this.d_product.sales.features) {
                let selectedValueIds = Object.values(params)
                    .reduce((acc, item) => {
                        acc.push(...item);
                        return acc;
                    }, [])
                    .map(item => item.id);

                let mostFeature = null;

                for (let feature of this.d_product.sales.features) {
                    if (feature.values.every(item => selectedValueIds.includes(item))) {
                        if (!mostFeature || (feature.values.length > mostFeature.values.length)) {
                            mostFeature = feature;
                        }
                    }
                }

                if (mostFeature) {
                    return mostFeature.sales;
                }
            }
            return this.d_product.sales.default || [];
        },
        saleFor(params, count) {
            let saleMap = this.salesMapFor(params);
            if (!count || !saleMap) return 0;

            let sale = saleMap.find((sale, index, arr) => {
                return (count >= sale.count &&
                    (index === (arr.length - 1) || count < arr[index + 1].count))
            });

            return sale ? sale.sale : 0;
        },
        priceFor(params, count) {
            if (!this.d_product.parameters) return;
            let calc = this.calculateParamsSet(params);
            return calc.price * (1 - this.saleFor(params, count));
            // if (this.c_userSale > 0) {
            //     return price - price * this.c_userSale;
            // }
            // return price;
        },
        calculateParamsSet(params) {
            let calc = {
                price: this.d_product.basePrice,
                layoutPrice: this.d_product.baseLayoutPrice,
                filesCount: this.d_product.orderFilesCount,
                count: 1,
                extraAmount: 0
            };

            let impactResolvers = {
                "price+=value": (calc, impact) => {
                    calc.price += parseFloat(impact.value);
                },
                "price*=value": (calc, impact) => {
                    calc.price *= parseFloat(impact.value);
                },
                "price*=value*letter_count": (calc, impact, data) => {
                    let trimInputLength = data.input.replace(/\s/g, "").length;
                    calc.price *= parseFloat(impact.value) * trimInputLength;
                },
                "price*=value*input": (calc, impact, data) => {
                    calc.price *= parseFloat(impact.value) * data.input;
                },

                "layout_price+=value": (calc, impact) => {
                    calc.layoutPrice += parseFloat(impact.value);
                },
                "layout_price*=value": (calc, impact) => {
                    calc.layoutPrice *= parseFloat(impact.value);
                },

                "count*=value*input": (calc, impact, data) => {
                    calc.count *= parseFloat(impact.value) * data.input;
                },
                "count*=value*letter_count": (calc, impact, data) => {
                    let trimInputLength = data.input.replace(/\s/g, "").length;
                    calc.count *= parseFloat(impact.value) * trimInputLength;
                },

                "amount+=value": (calc, impact, data) => {
                    calc.extraAmount += parseFloat(impact.value);
                },

                "files_count+=value": (calc, impact, data) => {
                    calc.filesCount += parseInt(impact.value);
                },
                "files_count*=value*input": (calc, impact, data) => {
                    calc.filesCount *= parseFloat(impact.value) * data.input;
                },

            };

            Object.values(params)
                .reduce((acc, item) => acc.concat(item), [])
                .forEach(value => {
                    if (!value.impact) {
                        return;
                    }
                    value.impact.forEach(impact => {
                        if (impact.action in impactResolvers) {
                            impactResolvers[impact.action](calc, impact, value.data);
                        }
                    });
                });

            // if (this.c_userSale) {
            //     if (calc.layoutPrice) {
            //         calc.layoutPrice = calc.layoutPrice - calc.layoutPrice * this.c_userSale;
            //     }
            //     calc.price = calc.price - calc.price * this.c_userSale;
            // }

            return calc;
        },
        handleBuyButton() {
            let item = {
                product: this.d_product,
                count: this.c_count,
                parameterValues: this.d_selectedParamValues,
                needLayout: this.d_needLayout,
                amountLayout: this.c_priceLayout,
                amountProduct: this.c_amount,
                total: this.c_total,
                salePercentage: this.c_sale,
                layouts: this.d_layouts,
            };
            this.$emit("buy", item);
            if (this.$store.state.cart) {
                this.$store.commit("cart/addItem", item);
            }
            this.d_addedToCart = true;
        },
        clear() {
            for (let item of document.getElementsByClassName("price-cell_selected")) {
                item.classList.toggle("price-cell_selected", false);
            }

            let paramsMap = this.d_product.parameters.reduce((acc, item) => {
                acc[item.name] = [];
                return acc;
            }, {});

            this.d_count = 0;
            this.d_needLayout = false;
            this.d_selectCustomCount = !this.c_salesMap.length;
            this.$set(this, "d_layouts", []);
            this.$set(this, "d_selectedParamValues", paramsMap);
            this.d_addedToCart = false;
        },
        handleScroll() {
            if (!this.d_product || (window.innerWidth < 992)) {
                return;
            }

            let rect = this.$refs.leftSide.getBoundingClientRect();
            let calculatorRect = this.$refs.calculator.getBoundingClientRect();

            if (calculatorRect.top < 0) {
                let maxTranslate = calculatorRect.bottom - calculatorRect.top - (rect.bottom - rect.top) - 75;
                let translate = Math.min(-calculatorRect.top, maxTranslate);
                this.$refs.leftSide.style.transform = `translateY(${translate}px)`;
            }
        },
        toggleCustomCount() {
            this.d_selectCustomCount = !this.d_selectCustomCount;
            requestAnimationFrame(this.handleScroll);
        }
    }
}
</script>

<style scoped lang="scss">
@import "../../../../sass/variables";

table {
    font-size: 14px;
    line-height: 120%;

    .price-cell {
        cursor: pointer;
        white-space: nowrap;
        vertical-align: middle;

        &:hover {
            background: $muted;
        }

        &.price-cell_selected {
            background: $primary;
            color: #ffffff;
        }
    }

    .sale-count {
        line-height: 1rem;
    }

    tr:hover td:first-child, .th-highlight {
        background: #ededed;
    }
}

.parameter_disabled {
    opacity: 0.2;
    pointer-events: none;
}

.left-side-params {
    position: relative;

    .left-side-params__added-to-cart {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.85);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .text-crossed {
        font-size: 24px;
        display: inline-block;
        color: #616161;
    }
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .15s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}
</style>
