<template>
    <div class="row">
        <div class="col-12"
             v-if="parameter.type==='tabs'">
            <div class="h5 mb-3">
                <span class="h1 mr-2">{{index+1}}.</span>
                Выберите <span class="text-lowercase">{{parameter.name}}</span>
            </div>
            <div class="btn-group btn-group_sm btn-group_light" role="group">
                <button type="button" class="btn"
                        v-for="paramValue in parameter.values"
                        :class="{active: value.some(item => item.id === paramValue.id)}"
                        @click="toggleValue(paramValue)">
                    {{paramValue.name}}
                </button>
            </div>
        </div>
        <div class="col-12"
             v-else-if="parameter.type==='list'">
            <div class="h5 mb-3">
                <span class="h1 mr-2">{{index+1}}.</span>
                Выберите <span class="text-lowercase">{{parameter.name}}</span>
            </div>
            <div class="list-parameter">
                <div class="list-parameter-item"
                     @click="toggleValue(paramValue)"
                     v-for="paramValue in parameter.values">
                    <attachment class="mr-3"
                                v-if="paramValue.image"
                                :attachment="paramValue.image"
                    />
                    <div>
                        <div class="font-weight-bold">
                            {{paramValue.name}}
                            <i class="icofont-tick-mark icofont-2x text-primary"
                               v-if="value.some(item => item.id === paramValue.id)"></i>
                        </div>
                        <div class="small"
                             v-html="paramValue.description"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6"
             v-else-if="parameter.type==='text'">
            <div class="h5 mb-3">
                <span class="h1 mr-2">{{index+1}}.</span>
                <span>{{parameter.name}}</span>
            </div>
            <v-input v-model="parameter.values[0].data.input"
                     @input="emitInput([parameter.values[0]])"></v-input>
        </div>
        <div class="col-12 col-md-6"
             v-else-if="parameter.type==='number'">
            <div class="h5 mb-3">
                <span class="h1 mr-2">{{index+1}}.</span>
                <span>{{parameter.name}}</span>
            </div>
            <v-input v-model.number="parameter.values[0].data.input"
                     type="number"
                     @input="emitInput([parameter.values[0]])"></v-input>
        </div>
    </div>
</template>

<script>
    import VInput from "../../utils/VInput";
    import Attachment from "@/js/components/utils/Attachment";

    export default {
        name: "BaseCalculatorParameter",
        components: {Attachment, VInput},
        props: ['index', 'parameter', 'value'],
        created() {
            if (['text', 'number'].includes(this.parameter.type)) {
                this.parameter.values[0].data = {input: null};
            }
        },
        methods: {
            toggleValue(paramValue) {
                let res = this.value;

                if (!this.parameter.multiple) {
                    res = [];
                }

                if (res.some(item => item.id === paramValue.id)) {
                    res = res.filter(item => item.id !== paramValue.id);
                    this.emitInput(res);
                } else {
                    this.emitInput(res.concat([paramValue]));
                }
            },
            emitInput(value) {
                // switch (this.parameter.type) {
                //     case 'tabs':
                //     case 'list':
                //         value.forEach(item => item.friendlyName = item.name);
                //         break;
                //     case 'number':
                //     case 'text':
                //         value.forEach(item => item.friendlyName = item.data.input);
                //         break;
                // }

                value.forEach(item => item.type = this.parameter.type);
                this.$emit('input', value);
            }
        },
    }
</script>

<style scoped lang="scss">
    .list-parameter-item {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        padding: 15px;
        cursor: pointer;

        &:last-of-type {
            margin-bottom: 0;
        }

        .icofont-tick-mark {
            height: 0;
            display: inline-block;
            line-height: 0;
        }

        &:hover {
            background: #efefef;
        }
    }
</style>
