@import "../variables";

footer {
  background: $dark;
  width: 100%;
  padding: 60px 0;
  overflow: hidden;
  //position: absolute;
  bottom: 0;
  font-size: 14px;
  line-height: 1;

  .h4{
    font-weight: bold;
    color: white;
  }

  a{
    color: #a9a9a9;
    margin-bottom: 15px;

    &:hover{
      color: white;
    }

    &.h4:hover{
      color: $primary;
    }
  }

  @include respond-to (sm) {
    height: auto;
    text-align: center;
  }
}