@import "../variables";

nav.navbar {
    border-bottom: 1px solid $muted;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #000000;

    .nav-item:last-of-type {
        .nav-link {
            padding-right: 0;
        }
    }

    i {
        font-size: 24px;
        vertical-align: middle;
    }

    .navbar-brand {
        margin: 0;

        img {
            height: 75px;
            width: 260px;
        }
    }

    .navbar__top, .navbar__bottom {
        display: flex;
        justify-content: space-between;

        @include respond-to(md) {
            flex-direction: column;
            align-items: center;
        }
    }

    .navbar__links {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;

        @include respond-to(md) {
            flex-direction: column;
            align-items: center;
        }
    }

    .navbar__item + .navbar__item {
        margin-left: 15px;

        @include respond-to(md) {
            margin-left: 0;
        }
    }

    .navbar__link {
        color: #000000;
        font-size: 14px;
        font-weight: 600;
        text-decoration: none;
        transition: color 0.2s ease-in;

        &:hover {
            color: $primary;
        }
    }

    .navbar__link_contact {
        img {
            width: 20px;
            margin-right: 7px;
        }
    }

    .btn {
        i {
            line-height: 0;
        }
    }

    .navbar__search {
        @include respond-to(md) {
            width: 100%;
            order: 2;
        }
    }
}

.breadcrumb {
    font-size: 14px;
    display: flex;
    list-style: none;
    padding-left: 0;
    overflow-x: auto;
    white-space: nowrap;

    > li {
        text-transform: uppercase;
        font-family: $headings-font-family;
        font-weight: 600;
        color: #e0e0e0;
        text-decoration: none;
        padding: 0 15px;
        border-right: 1px solid #e2e2e2;

        a {
            color: inherit;

            &:hover {
                color: $base-color;
            }
        }

        &:first-of-type {
            padding-left: 0;
        }

        &:last-of-type {
            border-right: none;
        }
    }
}
