<template>
    <div class="review-form-item">
        <img :src="value.product.image.thumbnail"
             v-if="c_productThumbnail"
        >
        <i class="review-form-item__no-img icofont-image" v-else></i>
        <div>
            <a class="review-form-item__title"
               :href="value.product.link"
            >{{ value.product.name }}</a>

            <div class="review-form-item__parameters">
                <div class="review-form-item__parameter"
                     v-for="(values,param) in mapOrderProductParams(value.parameterValues)"
                     v-if="values.length > 0"
                >
                    <span class="font-weight-bold">{{ param }}:</span>
                    <parameter-values-representation
                        :type="values[0].parameter.type"
                        :values="values"
                    />
                </div>
            </div>
            <v-stars v-model="value.rating"
                     @input="onRatingInput"
            />
        </div>
    </div>
</template>

<script>
import ParameterValuesRepresentation from "@/js/components/utils/ParameterValuesRepresentation";
import VStars from "@/js/components/User/Review/VStars";

export default {
    name: "ReviewFormItem",
    components: {VStars, ParameterValuesRepresentation},
    props: {
        value: {
            required: true,
        }
    },
    computed: {
        c_productThumbnail() {
            try {
                return this.value.product.image.thumbnail;
            } catch (e) {
                return null;
            }
        }
    },
    methods: {
        mapOrderProductParams(val) {
            return val.reduce((acc, el) => {
                acc[el.parameter.name] = acc[el.parameter.name] || [];
                acc[el.parameter.name].push(el);
                return acc;
            }, {});
        },
        onRatingInput(val) {
            this.$emit("input", {
                ...this.value, rating: val,
            });
        }
    }
}
</script>

<style scoped lang="scss">
.review-form-item {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 75px auto;
}

.review-form-item__title {
    font-weight: 700;
}

.review-form-item__parameters {
    font-size: 12px;
    line-height: 18px;
}

.review-form-item__no-img {
    width: 75px;
    display: block;
    text-align: center;
    height: 75px;
    line-height: 75px;
    font-size: 40px;
    color: #c3c3c3;
}
</style>
