<template>
    <div class="review-card"
         :class="{'review-card_expanded': d_expand}"
         :style="{maxHeight: d_expand ? d_prefHeight + 'px' : d_minimizedHeight + 'px'}"
         itemprop="review" itemscope itemtype="http://schema.org/Review"
    >
        <meta itemprop="datePublished" :content="review.date">
        <div class="review-card__body">
            <div class="review-card__client-name"
                 itemprop="author"
                 itemscope
                 itemtype="https://schema.org/Person">
                <span itemprop="name">{{ review.client_name }}</span>
                <span class="review-card__date">(Заказ от {{ review.date }})</span>
            </div>
            <div class="review-card__average"
                 itemprop="reviewRating"
                 itemscope
                 itemtype="http://schema.org/Rating">
                <meta itemprop="worstRating" content="1">
                <meta itemprop="bestRating" content="5">
                Заказ выполнен на
                <span itemprop="ratingValue">{{ review.average_rating }} <i class="icofont-star"></i></span>
            </div>
            <div itemprop="reviewBody">
                <p v-if="review.body">
                    {{ review.body }}
                </p>
            </div>
        </div>
        <div>
            <div class="font-weight-bold mb-2">Состав заказа:</div>
            <div class="review-card__items">
                <div v-for="(item, idx) in review.items"
                     class="review-card__item"
                >
                    <img v-if="item.product_image"
                         class="review-card__item-img"
                         :src="item.product_image"
                         :alt="item.product_name">
                    <i v-else
                       class="review-card__item-img icofont-image"></i>
                    <a class="review-card__item-name"
                       :href="item.product_link"
                       :itemprop="idx === 0 ? 'itemReviewed' : ''"
                    >
                        {{ item.product_name }}
                    </a>
                    <div class="review-card__rating rating">
                        <i v-for="i in 5"
                           :class="`icofont-star ${item.rating >= i ? 'active' : '' }`"></i>
                        <span>{{ item.rating }}</span>
                    </div>
                </div>
            </div>
        </div>
        <span class="review-card__expand" role="button"
              @click="toggle"
        >{{ d_expand ? "Свернуть" : "Читать полностью" }} <i class="icofont-simple-down"></i></span>
    </div>
</template>

<script>
export default {
    name: "ReviewCard",
    props: {
        review: {
            type: Object,
            required: true
        }
    },
    data() {
        return {
            d_expand: false,
            d_prefHeight: null,
            d_minimizedHeight: 180,
        }
    },
    methods: {
        toggle() {
            this.d_prefHeight = this.$el.scrollHeight;
            this.d_expand = !this.d_expand;
        }
    }
}
</script>
