<template>
    <div class="page-block review-form">
        <transition-collapse>
            <div class="review-form__ask" v-if="!d_showForm">
                <img src="/images/order/review-ask.svg">
                <div>
                    <h2>Минуточку внимания</h2>
                    <p>Ваш заказ уже готов. Возможно, вы уже даже его получили. Можно вас кое о чём попросить?</p>
                    <p><span class="text-danger font-weight-bold">Мы работаем для вас</span> и каждый день стараемся
                                                                                             улучшить
                                                                                             предоставляемый сервис и
                                                                                             качество обслуживания.</p>
                    <p>Пожалуйста, оставьте отзыв о вашем заказе. Это займёт не более 3 минут.</p>
                    <button class="btn btn-primary mt-3"
                            @click="d_showForm = true"
                    >Оставить отзыв
                    </button>
                </div>
            </div>
        </transition-collapse>
        <transition-collapse>
            <form class="review-form__form"
                  v-if="d_showForm"
                  @submit.prevent="submit"
            >
                <div class="review-form__form-left">
                    <h4 class="mb-3">Впечатление о заказе:</h4>
                    <v-textarea class="mb-3"
                                label="Минимум 100 символов"
                                rows="5"
                                v-model="d_order.review"
                    />
                    <request-errors class="mb-3"
                                    v-if="d_errors"
                                    :errors="d_errors"
                    />
                    <transition-collapse>
                        <div v-if="d_success">
                            <h4 class="text-danger">Спасибо!</h4>
                            <p class="mb-3">
                                Ваш отзыв успешно сохранён. Если вы передумаете, вы всегда можете вернуться
                                сюда и изменить свой отзыв.
                            </p>
                        </div>
                    </transition-collapse>
                    <button class="btn btn-primary" type="submit"
                            :class="{'btn_is-loading': d_loading}"
                    >Сохранить
                    </button>
                </div>
                <div>
                    <h4 class="mb-3">Вы заказывали:</h4>
                    <review-form-item v-for="(item, idx) in d_order.orderProducts"
                                      v-model="d_order.orderProducts[idx]"
                                      :key="idx"
                    />
                </div>
            </form>
        </transition-collapse>
    </div>
</template>

<script>
import TransitionCollapse from "@/js/components/utils/TransitionCollapse";
import VTextarea from "@/js/components/utils/VTextarea";
import ReviewFormItem from "@/js/components/User/Review/ReviewFormItem";
import UserAPI from "@/js/api/UserAPI";
import RequestErrors from "@/js/components/utils/RequestErrors";

export default {
    name: "ReviewForm",
    components: {RequestErrors, ReviewFormItem, VTextarea, TransitionCollapse},
    props: {
        order: {
            required: true,
        }
    },
    data() {
        return {
            d_order: JSON.parse(JSON.stringify(this.order)),
            d_showForm: false,
            d_loading: false,
            d_success: false,
            d_errors: null,
        }
    },
    mounted() {
        if (this.order.review || this.order.orderProducts.some(item => item.rating)) {
            this.d_showForm = true;
        }
    },
    methods: {
        prepareData() {
            return {
                review: this.d_order.review,
                orderProducts: this.d_order.orderProducts.map(item => {
                    return {
                        id: item.id,
                        rating: item.rating,
                    }
                }),
            }
        },
        async submit() {
            this.d_loading = true;
            try {
                await UserAPI.orders.storeReview(this.order.id, this.prepareData());
                this.d_success = true;
            } catch (e) {
                this.d_errors = e.data;
            }
            this.d_loading = false;
        },
    }
}
</script>

<style scoped lang="scss">
@import "~@/sass/_variables.scss";

.review-form {
    padding: 25px;

    @include media-breakpoint-down(md) {
        padding: 15px;
    }
}

.review-form__ask {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 30% auto;
    align-items: center;

    @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
    }
}

.review-form__form {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: auto 40%;

    @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
    }
}

.review-form__form-left {
    @include media-breakpoint-down(md) {
        order: 2;
    }
}

.review-form-item + .review-form-item {
    margin-top: 15px;
    border-top: 1px solid #e2e2e2;
    padding-top: 15px;
}
</style>
