<template>
    <ul class="stars">
        <li :class="`stars__star ${index <= value ? 'stars__star_filled' : ''}`"
            v-for="index in 5"
            @click="$emit('input', index)"
        ><i class="icofont-star"></i></li>
    </ul>
</template>

<script>
export default {
    name: "VStars",
    props: {
        value: {
            default: 1,
        }
    }
}
</script>

<style scoped lang="scss">
@import "~@/sass/_variables.scss";

.stars {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    color: #d9d9d9;
    font-size: 35px;
}

.stars__star {
    cursor: pointer;
    transition: all 0.05s ease-in;

    &:before {
        content: none;
    }

    &:hover {
        color: #cacaca;
    }

    &:active {
        transform: scale(1.3);
    }
}


.stars__star + .stars__star {
    margin-left: 5px;
}

.stars__star_filled {
    color: $primary;
}
</style>
