<template>
    <form @submit.prevent="submitReview">
        <div class="layout-previews"
             :class="{'layout-previews__with-review': c_showReviews || c_showReviewFields}">
            <div class="layout-preview"
                 v-for="(layout,index) in orderProduct.layouts"
                 :key="layout.id">
                <div class="layout-preview__thumnail-wrap">
                    <attachment :attachment="layout.mediaFile"
                                :gallery="d_galleryId"
                    />
                    <div class="layout-preview__status" :class="layout.status">
                        {{layout.status|f_layoutStatus}}
                    </div>
                </div>
                <div class="layout-preview__review" v-if="c_showReviews">
                    <div>{{layout.comment}}</div>
                </div>
                <div class="layout-preview__review" v-else-if="c_showReviewFields">
                    <v-radio v-model="layout.status"
                             required
                             :name="`layout_${index}`"
                             attrValue="accepted"
                             label="Всё верно"></v-radio>
                    <v-radio v-model="layout.status"
                             required
                             :name="`layout_${index}`"
                             attrValue="rejected"
                             label="Есть замечания"></v-radio>
                    <v-textarea v-if="layout.status==='rejected'"
                                required
                                label="Комментарий"
                                v-model="layout.comment"></v-textarea>
                </div>
            </div>
            <div v-if="c_allowAdding">
                <attach-area-component v-model="d_newLayouts"
                                       label="Выберите или перенесите в это поле файлы макета"
                                       :multiple="true"
                />
                <button class="btn btn-primary" type="button"
                        :class="{'btn_is-loading':d_loading.layoutAgreement}"
                        @click="sendLayoutsForAgreement">Отправить макет на согласование
                </button>
            </div>
        </div>
        <div v-if="c_isReviewsEditable">
            <button class="btn btn-primary" type="submit"
                    :class="{'btn_is-loading':d_loading.submit}"
                    @click="d_reviewStatus='payment'">
                <i class="icofont icofont-check-alt"></i>
                Принять макет
            </button>
            <button class="btn btn-primary ml-3" type="submit"
                    :class="{'btn_is-loading':d_loading.submit}"
                    @click="d_reviewStatus='layout_rejected'">
                <i class="icofont icofont-ban"></i>
                Отклонить макет
            </button>
        </div>
    </form>
</template>

<script>
    import AttachAreaComponent from "../utils/AttachAreaComponent";
    import AdminAPI from "../../api/AdminAPI";
    import VCheckbox from "../utils/VCheckbox";
    import VRadio from "../utils/VRadio";
    import VTextarea from "../utils/VTextarea";
    import Attachment from "../utils/Attachment";

    export default {
        name: "LayoutPreviews",
        components: {Attachment, VTextarea, VRadio, VCheckbox, AttachAreaComponent},
        props: {
            'orderProduct': null,
            'layoutsOnly': false,
        },
        data() {
            return {
                d_newLayouts: [],
                d_loading: {submit: false, layoutAgreement: false},
                d_reviewStatus: null,
                d_galleryId: Math.random().toString(16).substring(2),
            }
        },
        computed: {
            c_showReviews() {
                return ['layout'].indexOf(this.orderProduct.status) > -1 && !this.layoutsOnly && this.orderProduct.needLayout;
            },
            c_showReviewFields() {
                return this.orderProduct.status === 'check' && !this.layoutsOnly && !this.orderProduct.needLayout;
            },
            c_isReviewsEditable() {
                return this.orderProduct.status === 'check' && !this.layoutsOnly && !this.orderProduct.needLayout;
            },
            c_allowAdding() {
                return this.orderProduct.needLayout && this.orderProduct.status === 'layout' && !this.layoutsOnly;
            }
        },
        methods: {
            submitReview() {
                this.d_loading.submit = true;
                AdminAPI.orderProducts.review(this.orderProduct.id, this.packRequest())
                    .then(response => {
                        this.orderProduct.status = response.status;
                        this.d_loading.submit = false;
                    })
                    .catch(error => {
                        this.d_loading.submit = false;
                    });
                this.$emit('review', this.orderProduct);
            },
            packRequest() {
                return {
                    status: this.d_reviewStatus,
                    reviews: this.orderProduct.layouts.reduce((acc, item) => {
                        acc[item.id] = {
                            status: item.status,
                            comment: item.comment,
                        };
                        return acc;
                    }, {})
                };
            },
            sendLayoutsForAgreement() {
                this.d_loading.layoutAgreement = true;
                AdminAPI.orderProducts.storeLayouts(this.orderProduct.id, {
                    status: 'layout_agreement',
                    media_file_ids: this.d_newLayouts.map(item => item.id)
                }).then(response => {
                    this.d_loading.layoutAgreement = false;
                    this.orderProduct.status = response.status;
                    this.orderProduct.layouts.push(...response.layouts);
                });
            }
        }
    }
</script>

<style scoped lang="scss">
    .layout-preview__review {
        white-space: pre-wrap;
    }
</style>
