<template>
    <div class="container">
        <h1>Статьи</h1>
        <div class="mb-5">
            <router-link class="btn btn-primary mr-3"
                         :to="{name:'articles.create'}">
                <i class="icofont-plus"></i> Создать новую статью
            </router-link>
        </div>
        <div class="row"
             v-if="d_articles.length > 0">
            <div class="col-12 mb-3"
                 v-for="article in d_articles">
                <div class="card-article">
                    <div class="card-article__bg"
                         :style="{'background-image':`url(${article.image.original})`}"></div>
                    <h2>{{article.name}}</h2>
                    <div class="card-article__body mb-3"
                         v-html="article.text"></div>
                    <div>
                        <router-link class="btn btn-primary"
                                     :to="{name:'articles.edit', params:{seoName: article.seoName, article: article}}">
                            <i class="icofont-edit-alt"></i>
                            Изменить
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
        <div class="h4 text-muted"
             v-else-if="!d_loading.articles">
            Не создано ни одной статьи
            <i class="icofont-sad mr-2"></i>
        </div>
        <loading-component v-if="d_loading.articles"></loading-component>
        <intersection-observer-component
            @observe="fetch"></intersection-observer-component>
    </div>
</template>

<script>
    import AdminAPI from "../../api/AdminAPI";
    import LoadingComponent from "../utils/LoadingComponent";
    import IntersectionObserverComponent from "../utils/IntersectionObserverComponent";

    export default {
        name: "TheArticles",
        components: {IntersectionObserverComponent, LoadingComponent},
        data() {
            return {
                d_loading: {
                    articles: false
                },
                d_articles: [],
                d_rowsPerPage: 10,
                d_canLoadMore: true,
            }
        },
        methods: {
            fetch() {
                if (this.d_canLoadMore) {

                    this.d_loading.articles = true;
                    AdminAPI.articles.get({
                        with: ['mediaFiles', 'image'],
                        offset: this.d_articles.length,
                        limit: this.d_rowsPerPage,
                    }).then(articles => {
                        this.d_articles = this.d_articles.concat(articles);
                        this.d_canLoadMore = !(articles.length < this.d_rowsPerPage);
                        this.d_loading.articles = false;
                    });
                }
            },
        }
    }
</script>

<style scoped lang="scss">
    .card-article {
        position: relative;
        color: #ffffff;
        padding: 15px;
        border-radius: 4px;
        overflow: hidden;
        min-height: 300px;
        display: flex;
        flex-direction: column;

        .card-article__bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-size: cover;
            background-position: center;

            &:before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                background: linear-gradient(to top, black, #00000066);
            }
        }

        .card-article__body {
            max-height: 200px;
            overflow-y: hidden;
        }
    }
</style>
