<template>
    <div class="container">
        <loading-component v-if="d_loading.article"></loading-component>
        <template v-else>
            <div class="d-flex align-items-center">
                <router-link :to="{name:'articles'}"  class="btn btn-link btn-sm mb-2">
                    <i class="icofont-arrow-left mr-2"></i>Назад к списку статей
                </router-link>
                <div class="ml-auto" v-if="$route.params.seoName">
                    <button class="btn btn-danger btn-sm text-right"
                            :class="{'btn_is-loading': d_loading.destroy}"
                            type="button"
                            @click="destroy">
                        <i class="icofont-close"></i> Удалить
                    </button>
                </div>
            </div>
            <form @submit.prevent="submit">
                <div class="mb-5">
                    <template v-if="$route.params.seoName">
                        <h2 class="font-weight-bold">{{d_article.name}}</h2>
                        <h5>Редактирование статьи</h5>
                    </template>
                    <template v-else>
                        <h2 class="font-weight-bold">Новая статья</h2>
                    </template>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <v-input class="mb-4" label="Название"
                                      v-model="d_article.name"></v-input>
                    </div>
                    <div class="col-12 col-md-6">
                        <v-input class="mb-4" label="SEO имя"
                                      v-model="d_article.seoName"></v-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-4">
                        <attach-area-component label="Обложка статьи"
                                               v-model="d_article.image"
                                               :accept="['.jpg', '.png', '.gif', '.cdr', '.pdf']">
                        </attach-area-component>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-4">
                        <v-wysiwyg
                                v-model="d_article.text"></v-wysiwyg>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-4">
                        <attach-area-component label="Медиафайлы статьи"
                                               :multiple="true"
                                               :allow-vk-video="true"
                                               v-model="d_article.mediaFiles">
                        </attach-area-component>
                    </div>
                </div>
                <div class="mb-5">
                    <h3 class="mb-4 text-center">Связанные услуги</h3>
                    <loading-component v-if="d_loading.products"></loading-component>
                    <div class="row" v-else>
                        <div class="col-12 col-md-6">
                            <div class="d-flex align-items-center mb-4"
                                 v-for="(product,i) in d_article.products"
                                 :key="i">
                                <product-finder class="w-100"
                                                v-model="d_article.products[i]"></product-finder>
                                <i class="icofont-close-circled icofont-2x text-danger"
                                   @click="d_article.products.splice(i, 1)"></i>
                            </div>
                            <button class="btn btn-info btn-sm" type="button"
                                    @click="d_article.products.push({})">Добавить услугу
                            </button>
                        </div>
                    </div>
                </div>
                <request-errors class="mb-4"
                                v-if="d_errors"
                                :errors="d_errors"></request-errors>
                <button type="submit" class="btn btn-primary"
                        v-if="$route.params.seoName"
                        :class="{'btn_is-loading': d_loading.submit}">
                    <i class="icofont-check-alt"></i>Применить
                </button>
                <button type="submit" class="btn btn-primary"
                        v-else
                        :class="{'btn_is-loading': d_loading.submit}">
                    <i class="icofont-plus"></i> Создать
                </button>
            </form>
        </template>
    </div>
</template>

<script>
    import AdminAPI from "../../api/AdminAPI";
    import RequestErrors from "../utils/RequestErrors";
    import LoadingComponent from "../utils/LoadingComponent";
    import AttachAreaComponent from "../utils/AttachAreaComponent";
    import ProductFinder from "../utils/ProductFinder";
    import VInput from "../utils/VInput";
    import VTextarea from "../utils/VTextarea";
    import VWysiwyg from "../utils/v-wysiwyg";

    export default {
        name: "TheArticleEditor",
        components: {VWysiwyg, VTextarea, VInput, ProductFinder, AttachAreaComponent, LoadingComponent, RequestErrors},
        props: ['article'],
        data() {
            return {
                d_loading: {
                    submit: false,
                    destroy: false,
                    article: false,
                    products: false
                },
                d_article: this.article || {
                    image: null, name: null, text: null, seoName: null, products: []
                },
                d_errors: null
            }
        },
        created() {
            if (this.$route.params.seoName) {
                if (!this.d_article.id) {
                    this.d_loading.article = true;
                    AdminAPI.articles
                        .getOne(this.$route.params.seoName, {
                            with: ['mediaFiles', 'products', 'image'],
                        })
                        .then(article => {
                            this.$set(this, 'd_article', article);
                            this.d_loading.article = false;
                        })
                } else if (!this.d_article.products) {
                    this.d_loading.products = true;
                    AdminAPI.articles
                        .getOne(this.$route.params.seoName, {
                            with: ['mediaFiles', 'products', 'image'],
                        })
                        .then(article => {
                            this.$set(this.d_article, 'products', article.products);
                            this.d_loading.products = false;
                        })
                }
            }
        },
        methods: {
            submit() {
                this.d_loading.submit = true;
                if (this.$route.params.seoName) {
                    AdminAPI.articles.update(this.$route.params.seoName, this.packRequest())
                        .then(response => {
                            this.d_loading.submit = false;
                            this.$router.push({name: 'articles'});
                        })
                        .catch(errors => {
                            this.d_loading.submit = false;
                            this.d_errors = errors.data;
                        });
                } else {
                    AdminAPI.articles.store(this.packRequest())
                        .then(response => {
                            this.d_loading.submit = false;
                            this.$router.push({name: 'articles'});
                        })
                        .catch(errors => {
                            this.d_loading.submit = false;
                            this.d_errors = errors.data;
                        });
                }
            },
            destroy() {
                this.d_loading.destroy = true;
                AdminAPI.articles.destroy(this.$route.params.seoName)
                    .then(response => {
                        this.d_loading.destroy = false;
                        this.$router.push({name: 'articles'});
                    })
                    .catch(errors => {
                        this.d_loading.destroy = false;
                        this.d_errors = errors.data;
                    });
            },
            packRequest() {
                return {
                    name: this.d_article.name,
                    seo_name: this.d_article.seoName,
                    text: this.d_article.text,
                    image_id: this.d_article.image ? this.d_article.image.id : null,
                    product_ids: this.d_article.products.map(item => item.id),
                    media_file_ids: this.d_article.mediaFiles ?
                        this.d_article.mediaFiles.map(item => item.id) : null,
                };
            }
        }
    }
</script>

<style scoped>

</style>
