<template>
    <div class="container">
        <h1>Организации</h1>
        <div class="row mb-5 align-items-end">
            <div class="col-12 col-lg-4">
                <router-link class="btn btn-primary mr-3"
                             :to="{name:'companies.create'}">
                    <i class="icofont-plus"></i> Новая организация
                </router-link>
            </div>
            <div class="col-12 col-lg-5 offset-lg-3">
                <v-input
                        class="ml-auto"
                        label="Поиск: ИНН, Название"
                        @input="handleSearchInput"
                        v-model="d_searchField">
                    <template #icon>
                        <i class="icofont-search"></i>
                    </template>
                </v-input>
            </div>
        </div>
        <table class="table table_simple"
               v-if="d_companies.length > 0">
            <thead>
            <tr>
                <td style="width: 50px">#</td>
                <td>Название</td>
                <td>Дата добавления</td>
                <td>Статус партнёра</td>
                <td>Индивидуальная скидка</td>
                <td>Количество заказов</td>
                <td style="width: 50px"></td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(company,index) in d_companies">
                <td>{{index+1}}</td>
                <td>
                    <dropdown-component width="450px">
                        <template #toggler>
                            <a class="text-primary cursor-pointer">{{company.name}}</a>
                        </template>
                        <template #body>
                            <div class="mb-3">
                                <strong>Создана:</strong> {{company.createdAt|f_datetime}}
                            </div>
                            <div class="mb-3">
                                <strong>Директор:</strong> {{company.director}}
                            </div>
                            <div class="mb-3">
                                <strong>Юр. адрес:</strong> {{company.legalAddress}}
                            </div>
                            <div class="mb-3">
                                <strong>Почт. адрес:</strong> {{company.mailAddress}}
                            </div>
                            <div class="mb-3">
                                <strong>ИНН / КПП:</strong>
                                {{company.inn}} / {{company.kpp}}
                            </div>
                            <div class="mb-3">
                                <strong>ОКПО:</strong>
                                {{company.okpo}}
                            </div>
                            <div class="mb-3">
                                <strong>Банк:</strong> {{company.bank}}
                            </div>
                            <div class="mb-3">
                                <strong>Р/с:</strong> {{company.rs}}
                            </div>
                            <div class="mb-3">
                                <strong>К/с:</strong> {{company.ks}}
                            </div>
                            <div class="mb-3">
                                <strong>БИК:</strong> {{company.bik}}
                            </div>
                            <div>
                                <strong>Индивидуальная скидка:</strong>
                                {{(company.partnerSale * 100).toFixed(0)}}%
                            </div>
                        </template>
                    </dropdown-component>
                </td>
                <td>{{company.createdAt|f_date}}</td>
                <td>{{company.partnerStatus|f_partnerStatus}}</td>
                <td>{{company.partnerSale|f_percent}}%</td>
                <td>{{company.ordersCount}}</td>
                <td>
                    <router-link
                            :to="{name:'companies.edit', params:{companyId: company.id}}">
                        <i class="icofont icofont-edit"></i>
                    </router-link>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="h4 text-muted"
             v-else-if="!d_loading.companies">
            Не создано ни одной организации
            <i class="icofont-sad mr-2"></i>
        </div>
        <loading-component v-if="d_loading.companies"></loading-component>
        <intersection-observer-component
                @observe="fetch"></intersection-observer-component>
    </div>
</template>

<script>
    import debounce from 'lodash/debounce';
    import AdminAPI from "../../api/AdminAPI";
    import LoadingComponent from "../utils/LoadingComponent";
    import DropdownComponent from "../utils/DropdownComponent";
    import IntersectionObserverComponent from "../utils/IntersectionObserverComponent";
    import VInput from "../utils/VInput";

    export default {
        name: "TheCompanies",
        components: {VInput, IntersectionObserverComponent, DropdownComponent, LoadingComponent},
        data() {
            return {
                d_loading: {
                    companies: false
                },
                d_companies: [],
                d_rowsPerPage: 15,
                d_canLoadMore: true,
                d_searchField: null
            }
        },
        methods: {
            fetch() {
                if (this.d_canLoadMore) {
                    this.d_loading.companies = true;
                    AdminAPI.companies.get({
                        ...(this.d_searchField && {
                            filters: [
                                ['name', 'like', `%${this.d_searchField}%`, 'or'],
                                ['inn', 'like', `%${this.d_searchField}%`, 'or'],
                            ]
                        }),
                        with_count: ['orders'],
                        offset: this.d_companies.length,
                        limit: this.d_rowsPerPage,
                    }).then(companies => {
                        this.d_companies = this.d_companies.concat(companies);
                        this.d_canLoadMore = !(companies.length < this.d_rowsPerPage);
                        this.d_loading.companies = false;
                    });
                }
            },
            handleSearchInput: debounce(function () {
                this.d_companies = [];
                this.d_canLoadMore = true;
                this.fetch();
            }, 500),
        }
    }
</script>

<style scoped lang="scss">
</style>