<template>
    <div class="container">
        <template v-if="!d_loading.category">
            <div class="d-flex align-items-center">
                <router-link :to="{name:'catalog'}" class="btn btn-link btn-sm mb-2">
                    <i class="icofont-arrow-left mr-2"></i>Назад в каталог
                </router-link>
                <div class="ml-auto" v-if="$route.params.seoName">
                    <button class="btn btn-danger btn-sm text-right"
                            :class="{'btn_is-loading': d_loading.destroy}"
                            type="button"
                            @click="destroy">
                        <i class="icofont-close"></i> Удалить
                    </button>
                </div>
            </div>
            <form @submit.prevent="submit">
                <div class="mb-5">
                    <template v-if="$route.params.seoName">
                        <h2 class="font-weight-bold">{{ d_category.name }}</h2>
                        <h5>Редактирование категории</h5>
                    </template>
                    <template v-else>
                        <h2 class="font-weight-bold">Новая категория</h2>
                    </template>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <v-checkbox class="mb-4"
                                    type="checkbox"
                                    label="Не показывать в каталоге"
                                    v-model="d_category.disabled"
                        />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <v-input class="mb-4"
                                 label="Название"
                                 v-model="d_category.name"
                        />
                    </div>
                    <div class="col-12 col-md-6">
                        <v-input class="mb-4"
                                 label="URL имя"
                                 v-model="d_category.seoName"
                        />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <v-input class="mb-4"
                                 label="H1"
                                 v-model="d_category.h1"
                        />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <v-input class="mb-4"
                                 label="Meta description"
                                 v-model="d_category.metaWords"
                        />
                    </div>
                    <div class="col-12 col-md-6">
                        <category-finder label="Вложить в"
                                         v-model="d_category.parent"
                        />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-4">
                        <v-wysiwyg v-model="d_category.description"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-4">
                        <attach-area-component label="Изображение категории"
                                               :multiple="false"
                                               v-model="d_category.image"
                        />
                    </div>
                </div>
                <request-errors class="mb-4"
                                v-if="d_errors"
                                :errors="d_errors"
                />

                <button type="submit" class="btn btn-primary"
                        v-if="$route.params.seoName"
                        :class="{'btn_is-loading': d_loading.submit}"
                >
                    <i class="icofont-check-alt"/>Применить
                </button>
                <button type="submit" class="btn btn-primary"
                        v-else
                        :class="{'btn_is-loading': d_loading.submit}"
                >
                    <i class="icofont-plus"/> Создать
                </button>
            </form>
        </template>
        <loading-component v-else/>
    </div>
</template>

<script>
import CategoryTree from "../utils/CategoryTree";
import CategoryFinder from "../utils/CategoryFinder";
import AdminAPI from "../../api/AdminAPI";
import RequestErrors from "../utils/RequestErrors";
import LoadingComponent from "../utils/LoadingComponent";
import AttachAreaComponent from "../utils/AttachAreaComponent";
import VInput from "../utils/VInput";
import VTextarea from "../utils/VTextarea";
import VWysiwyg from "../utils/v-wysiwyg";
import VCheckbox from "../utils/VCheckbox";

export default {
    name: "TheCategoryEditor",
    components: {
        VCheckbox,
        VWysiwyg,
        VTextarea,
        VInput,
        AttachAreaComponent, LoadingComponent, RequestErrors, CategoryFinder, CategoryTree,
    },
    props: ["category"],
    data() {
        return {
            d_loading: {
                submit: false,
                destroy: false,
                category: false
            },
            d_category: this.category || {
                name: null, seoName: null, metaWords: null,
                description: null, image: null, parent: {},
            },
            d_errors: null
        }
    },
    created() {
        if (this.$route.params.seoName && !this.d_category.id) {
            this.d_loading.category = true;
            AdminAPI.categories
                .getOne(this.$route.params.seoName, {
                    with: ["products", "children", "children.products", "parent", "image"],
                })
                .then(category => {
                    this.$set(this, "d_category", category);
                    this.d_loading.category = false;
                })
        }
    },
    methods: {
        submit() {
            this.d_loading.submit = true;
            if (this.$route.params.seoName) {
                AdminAPI.categories.update(this.$route.params.seoName, this.packRequest())
                    .then(response => {
                        this.d_loading.submit = false;
                        this.$router.push({name: "catalog"});
                    })
                    .catch(errors => {
                        this.d_loading.submit = false;
                        this.d_errors = errors.data;
                    });
            } else {
                AdminAPI.categories.store(this.packRequest())
                    .then(response => {
                        this.d_loading.submit = false;
                        this.$router.push({name: "catalog"});
                    })
                    .catch(errors => {
                        this.d_loading.submit = false;
                        this.d_errors = errors.data;
                    });
            }
        },
        destroy() {
            this.d_loading.destroy = true;
            AdminAPI.categories.destroy(this.$route.params.seoName)
                .then(response => {
                    this.d_loading.destroy = false;
                    this.$router.push({name: "catalog"});
                })
                .catch(errors => {
                    this.d_loading.destroy = false;
                    this.d_errors = errors.data;
                });
        },
        packRequest() {
            return {
                disabled: this.d_category.disabled,
                name: this.d_category.name,
                h1: this.d_category.h1,
                seo_name: this.d_category.seoName,
                meta_words: this.d_category.metaWords,
                description: this.d_category.description,
                parent_id: this.d_category.parent ? this.d_category.parent.id : null,
                image_id: this.d_category.image ? this.d_category.image.id : null,
            };
        }
    }
}
</script>

<style scoped>

</style>
