<template>
    <div class="container">
        <h1>Каталог товаров</h1>
        <div class="d-flex flex-column flex-md-row mb-3">
            <router-link class="btn btn-primary mb-3 mb-md-0 mr-md-3"
                         :to="{name:'categories.create'}">
                <i class="icofont-plus"></i> Создать новую категорию
            </router-link>
            <router-link class="btn btn-primary"
                         :to="{name:'products.create'}">
                <i class="icofont-plus"></i> Создать новую услугу
            </router-link>
        </div>
        <category-tree :editMode="true"></category-tree>
    </div>
</template>

<script>
    import CategoryTree from "../utils/CategoryTree";

    export default {
        name: "TheCatalog",
        components: {CategoryTree},
        data() {
            return {
                d_categories: [],
                d_loading: {categories: false}
            }
        },
        created() {
            this.d_loading.categories = true;
        }
    }
</script>

<style scoped>

</style>
