<template>
    <div class="container">
        <div class="d-flex align-items-center">
            <router-link :to="{name:'companies'}" class="btn btn-link btn-sm mb-2">
                <i class="icofont-arrow-left mr-2"></i>Назад к списку организаций
            </router-link>
            <!--<div class="ml-auto" v-if="$route.params.companyId">-->
                <!--<button class="btn btn-danger btn-sm text-right"-->
                        <!--:class="{'btn_is-loading': d_loading.destroy}"-->
                        <!--type="button"-->
                        <!--@click="destroy">-->
                    <!--<i class="icofont-close"></i> Удалить-->
                <!--</button>-->
            <!--</div>-->
        </div>
        <div class="mb-5">
            <template v-if="$route.params.companyId">
                <h2 class="font-weight-bold">{{d_company.name}}</h2>
                <h5>Редактирование организации</h5>
            </template>
            <template v-else>
                <h2 class="font-weight-bold">Новая организация</h2>
            </template>
        </div>
        <loading-component v-if="d_loading.company"></loading-component>
        <template v-else>
            <form @submit.prevent="submit">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <v-input class="mb-4" label="Название"
                                 required
                                 v-model="d_company.name"></v-input>
                    </div>
                    <div class="col-12 col-md-6">
                        <v-input class="mb-4" label="ФИО директора"
                                 required
                                 v-model="d_company.director"></v-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <v-input class="mb-4" label="Юридический адрес"
                                 required
                                 v-model="d_company.legalAddress"></v-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <v-input class="mb-4" label="Почтовый адрес"
                                 required
                                 v-model="d_company.mailAddress"></v-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <v-input class="mb-4" label="ИНН"
                                 required
                                 v-model="d_company.inn"></v-input>
                    </div>
                    <div class="col-12 col-md-4">
                        <v-input class="mb-4" label="КПП"
                                 required
                                 v-model="d_company.kpp"></v-input>
                    </div>
                    <div class="col-12 col-md-4">
                        <v-input class="mb-4" label="ОКПО"
                                 v-model="d_company.okpo"></v-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <v-input class="mb-4" label="Наименование банка"
                                 required
                                 v-model="d_company.bank"></v-input>
                    </div>
                    <div class="col-12 col-md-6">
                        <v-input class="mb-4" label="БИК"
                                 required
                                 v-model="d_company.bik"></v-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <v-input class="mb-4" label="Р/с"
                                 required
                                 v-model="d_company.rs"></v-input>
                    </div>
                    <div class="col-12 col-md-6">
                        <v-input class="mb-4" label="К/с"
                                 required
                                 v-model="d_company.ks"></v-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <v-select class="mb-4" label="Статус партнёра"
                                  v-model="d_company.partnerStatus">
                            <option :value="null">Не является партнёром</option>
                            <option :value="'requested'">Оформлена заявка</option>
                            <option :value="'rejected'">Отклонено</option>
                            <option :value="'accepted'">Принято</option>
                        </v-select>
                    </div>
                    <div class="col-12 col-md-6">
                        <v-input class="mb-4" label="Индивидуальная скидка"
                                 v-model="d_company.partnerSale"
                                 :format-percent="true"></v-input>
                    </div>
                </div>
                <request-errors class="mb-4"
                                v-if="d_errors"
                                :errors="d_errors"></request-errors>
                <button type="submit" class="btn btn-primary"
                        v-if="$route.params.companyId"
                        :class="{'btn_is-loading': d_loading.submit}">
                    <i class="icofont-check-alt"></i>Применить
                </button>
                <button type="submit" class="btn btn-primary"
                        v-else
                        :class="{'btn_is-loading': d_loading.submit}">
                    <i class="icofont-plus"></i> Создать
                </button>
            </form>
        </template>
    </div>
</template>

<script>
    import AdminAPI from "../../api/AdminAPI";
    import RequestErrors from "../utils/RequestErrors";
    import LoadingComponent from "../utils/LoadingComponent";
    import AttachAreaComponent from "../utils/AttachAreaComponent";
    import ProductFinder from "../utils/ProductFinder";
    import VInput from "../utils/VInput";
    import VTextarea from "../utils/VTextarea";
    import VSelect from "../utils/VSelect";

    export default {
        name: "TheCompanyEditor",
        components: {VSelect, VTextarea, VInput, ProductFinder, AttachAreaComponent, LoadingComponent, RequestErrors},
        props: ['company'],
        data() {
            return {
                d_loading: {
                    submit: false,
                    destroy: false,
                    article: false,
                    products: false
                },
                d_company: this.company ? JSON.parse(JSON.stringify(this.company)) : {
                    name: null,
                    director: null,
                    legalAddress: null,
                    bank: null,
                    bik: null,
                    rs: null,
                    ks: null,
                    inn: null,
                    kpp: null,
                    partnerStatus: null,
                    partnerSale: null,
                },
                d_errors: null
            }
        },
        created() {
            if (this.$route.params.companyId) {
                if (!this.d_company.id) {
                    this.d_loading.company = true;
                    AdminAPI.companies
                        .getOne(this.$route.params.companyId, {})
                        .then(company => {
                            this.$set(this, 'd_company', company);
                            this.d_loading.company = false;
                        })
                }
            }
        },
        methods: {
            submit() {
                this.d_loading.submit = true;
                if (this.$route.params.companyId) {
                    AdminAPI.companies.update(this.$route.params.companyId, this.packRequest())
                        .then(response => {
                            this.d_loading.submit = false;
                            this.$router.push({name: 'companies'});
                        })
                        .catch(errors => {
                            this.d_loading.submit = false;
                            this.d_errors = errors.data;
                        });
                } else {
                    AdminAPI.companies.store(this.packRequest())
                        .then(response => {
                            this.d_loading.submit = false;
                            this.$router.push({name: 'companies'});
                        })
                        .catch(errors => {
                            this.d_loading.submit = false;
                            this.d_errors = errors.data;
                        });
                }
            },
            destroy() {
                this.d_loading.destroy = true;
                AdminAPI.companies.destroy(this.$route.params.companyId)
                    .then(response => {
                        this.d_loading.destroy = false;
                        this.$router.push({name: 'companies'});
                    })
                    .catch(errors => {
                        this.d_loading.destroy = false;
                        this.d_errors = errors.data;
                    });
            },
            packRequest() {
                return {
                    name: this.d_company.name,
                    director: this.d_company.director,
                    legal_address: this.d_company.legalAddress,
                    mail_address: this.d_company.mailAddress,
                    okpo: this.d_company.okpo,
                    inn: this.d_company.inn,
                    kpp: this.d_company.kpp,
                    bank: this.d_company.bank,
                    rs: this.d_company.rs,
                    ks: this.d_company.ks,
                    bik: this.d_company.bik,
                    partner_sale: this.d_company.partnerSale,
                    ...(this.d_company.partnerStatus && {partner_status: this.d_company.partnerStatus}),
                };
            }
        }
    }
</script>

<style scoped>

</style>