<template>
    <div class="container">
        <router-link :to="{name:'mailings'}" class="btn btn-link btn-sm mb-2">
            <i class="icofont-arrow-left mr-2"></i>Назад к списку созданных рассылок
        </router-link>
        <h1 class="mb-5">Создание рассылки</h1>
        <loading-component v-if="d_loading.mailings"></loading-component>
        <form v-else
              @submit.prevent="submit">
            <h3>Содержание</h3>
            <div class="row">
                <div class="col-12 mb-4">
                    <v-input label="Тема письма"
                             v-model="d_mailing.subject"></v-input>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-4">
                    <v-wysiwyg
                            v-model="d_mailing.mailBody"></v-wysiwyg>
                </div>
            </div>
            <div class="mb-3">
                <h3>Таргет</h3>
                <user-targetor
                        v-model="d_mailing.targets"></user-targetor>
            </div>
            <request-errors v-if="d_errors"
                            :errors="d_errors"></request-errors>
            <button type="submit" class="btn btn-primary"
                    :class="{'btn_is-loading': d_loading.submit}">
                <i class="icofont-check-alt"></i>Применить
            </button>
        </form>
    </div>
</template>

<script>
    import LoadingComponent from "../utils/LoadingComponent";
    import AdminAPI, {mailings} from "../../api/AdminAPI";
    import RequestErrors from "../utils/RequestErrors";
    import VInput from "../utils/VInput";
    import VTextarea from "../utils/VTextarea";
    import DropdownComponent from "../utils/DropdownComponent";
    import UserTargetor from "../utils/UserTargetor";
    import VWysiwyg from "../utils/v-wysiwyg";

    export default {
        name: "TheMailingEditor",
        components: {VWysiwyg, UserTargetor, DropdownComponent, VTextarea, VInput, RequestErrors, LoadingComponent},
        data() {
            return {
                d_loading: {mailings: false, submit: false},
                d_mailing: {subject: null, mailBody: null, targets: []},
                d_errors: false,
            }
        },
        methods: {
            submit() {
                this.d_loading.submit = true;
                mailings.store(this.packRequest())
                    .then((response) => {
                        this.$router.push({name: 'mailings'});
                        this.d_loading.submit = false;
                    })
                    .catch(error => {
                        this.d_errors = error.data;
                        this.d_loading.submit = false;
                    });
            },
            packRequest() {
                return {
                    subject: this.d_mailing.subject,
                    mail_body: this.d_mailing.mailBody,
                    targets: this.d_mailing.targets,
                }
            }
        }
    }
</script>

<style scoped>

</style>