<template>
    <div class="container">
        <h1>Рассылки сообщений</h1>
        <div class="mb-5">
            <router-link class="btn btn-primary mr-3"
                         :to="{name:'mailings.create'}">
                <i class="icofont-plus"></i> Создать новую рассылку
            </router-link>
        </div>
        <table class="table table_simple"
               v-if="d_mailings.length > 0">
            <thead>
            <tr>
                <td>Дата создания</td>
                <td>Тема</td>
                <td>Таргет</td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="mailing in d_mailings">
                <td>{{mailing.createdAt|f_datetime}}</td>
                <td>{{mailing.subject}}</td>
                <td>
                    <ol class="mb-0">
                        <li v-for="(target,index) in mailing.targets">
                            <div>
                                <template v-if="target.type === 'all_users'">Все пользователи</template>
                            </div>
                        </li>
                    </ol>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="h4 text-muted"
             v-else-if="!d_loading.mailings">
            Не создано ни одной рассылки
            <i class="icofont-sad mr-2"></i>
        </div>
        <loading-component v-if="d_loading.mailings"></loading-component>
        <intersection-observer-component
                @observe="fetch"></intersection-observer-component>
    </div>
</template>

<script>
    import LoadingComponent from "../utils/LoadingComponent";
    import AdminAPI, {mailings} from "../../api/AdminAPI";
    import RequestErrors from "../utils/RequestErrors";
    import VInput from "../utils/VInput";
    import UserTargetor from "../utils/UserTargetor";
    import IntersectionObserverComponent from "../utils/IntersectionObserverComponent";

    export default {
        name: "TheMailings",
        components: {IntersectionObserverComponent, UserTargetor, VInput, RequestErrors, LoadingComponent},
        data() {
            return {
                d_loading: {mailings: false},
                d_mailings: [],
                d_errors: false,
                d_rowsPerPage: 15,
                d_canLoadMore: true,
            }
        },
        methods: {
            fetch() {
                if (this.d_canLoadMore) {
                    this.d_loading.mailings = true;
                    mailings.get({
                        offset: this.d_mailings.length,
                        limit: this.d_rowsPerPage,
                    }).then(mailings => {
                        this.d_mailings = this.d_mailings.concat(mailings);
                        this.d_canLoadMore = !(mailings.length < this.d_rowsPerPage);
                        this.d_loading.mailings = false;
                    });
                }
            },
        }
    }
</script>

<style scoped>

</style>