<template>
    <div>
        <loading-component v-if="d_loading.order"></loading-component>
        <template v-else>
            <div class="container">
                <div class="d-flex align-items-center">
                    <router-link :to="{name:'orders'}" class="btn btn-link btn-sm mb-2">
                        <i class="icofont-arrow-left mr-2"></i>Назад к списку заказов
                    </router-link>
                    <div class="ml-auto" v-if="$route.params.orderId">
                        <button class="btn btn-danger btn-sm text-right"
                                :class="{'btn_is-loading': d_loading.destroy}"
                                type="button"
                                @click="destroy">
                            <i class="icofont-close"></i> Удалить
                        </button>
                    </div>
                </div>
                <div class="mb-5">
                    <template v-if="$route.params.orderId">
                        <h2 class="font-weight-bold">Редактирование заказа {{ $route.params.orderId }}</h2>
                    </template>
                    <template v-else>
                        <h2 class="font-weight-bold">Новый заказ</h2>
                    </template>
                </div>
            </div>
            <form @submit.prevent="submit">
                <div class="container">
                    <div class="mb-5">
                        <div class="row">
                            <div class="col-12 col-md mb-4">
                                <v-input label="Имя"
                                         v-model="d_order.name"
                                />
                            </div>
                            <div class="col-12 col-md mb-4">
                                <v-input type="email"
                                         label="Email"
                                         v-model="d_order.email"
                                />
                            </div>
                            <div class="col-12 col-md mb-4">
                                <v-input type="tel"
                                         label="Телефон"
                                         v-model="d_order.phone"
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 mb-4">
                                <v-checkbox label="Есть промокод"
                                            v-model="d_order.usePromocode"
                                />
                            </div>
                            <div class="col-12 col-md-6 mb-4">
                                <v-input type="text"
                                         v-if="d_order.usePromocode"
                                         label="Промокод"
                                         v-model="d_order.promocode"
                                />
                            </div>
                        </div>
                        <div class="row align-items-start">
                            <div class="col-12 col-md mb-4">
                                <v-checkbox label="Нужна доставка"
                                            v-model="d_order.needDelivery"
                                />
                            </div>
                            <div class="col-12 col-md-8 mb-4"
                                 v-if="d_order.needDelivery">
                                <checkout-delivery class="mb-4"
                                                   v-if="!d_order.deliveryInfo.coordinates"
                                                   v-model="d_order.deliveryInfo"
                                />
                                <div class="delivery-info"
                                     v-else>
                                    <div>
                                        <span class="font-weight-bold">Адрес</span>: {{ d_order.deliveryInfo.address }}
                                    </div>
                                    <div>
                                        <span class="font-weight-bold">Стоимость доставки:</span>
                                        {{ d_order.deliveryInfo.price }} ₽
                                    </div>
                                    <button type="button" class="btn btn-sm btn-link"
                                            @click="d_order.deliveryInfo = {}">Выбрать другой адрес
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md mb-4">
                                <v-checkbox label="Создать КП"
                                            v-model="d_order.offer"
                                />
                            </div>
                        </div>
                        <div class="row align-items-center mb-4">
                            <div class="col-12 col-md-6">
                                <company-finder v-model="d_order.company"/>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-12">
                                <v-textarea
                                    label="Комментарий"
                                    v-model="d_order.comment"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs-wrap" :class="{'tab-adding':d_tab=='adding'}">
                    <div class="container">
                        <table class="w-100 mb-3 table_simple table_v-top">
                            <thead>
                            <tr>
                                <td style="width: 50px;">#</td>
                                <td>Услуга</td>
                                <td>Кол-во</td>
                                <td class="text-right">Стоимость</td>
                                <td style="width: 75px;"></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(orderProduct, index) in d_order.orderProducts">
                                <td>{{ index + 1 }}</td>
                                <td>
                                    <a class="font-weight-bold" target="_blank"
                                       :href="`/products/${orderProduct.product.seoName}`">
                                        {{ orderProduct.product.name }}
                                        {{ orderProduct.needLayout ? "+ макет" : "" }}</a>
                                    <div class="small">
                                        <div v-for="(values,param) in orderProduct.parameterValues"
                                             v-if="values.length>0">
                                            <span class="font-weight-bold">{{ param }}:</span>
                                            <parameter-values-representation
                                                :type="values[0].type || values[0].parameter.type"
                                                :values="values"
                                            ></parameter-values-representation>
                                        </div>
                                    </div>
                                    <div class="layout-previews mt-3" v-if="orderProduct.layouts.length > 0">
                                        <div class="layout-preview"
                                             v-for="(layout,index) in orderProduct.layouts"
                                             :key="index">
                                            <attachment :attachment="layout"/>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <span class="font-weight-bold">{{ orderProduct.count }} {{ orderProduct.product.countType }}</span>
                                    <div class="small text-muted" v-if="orderProduct.salePercentage > 0">
                                        Скидка {{ orderProduct.salePercentage|f_percent }}%
                                    </div>
                                </td>
                                <td class="text-right">
                                    <span class="font-weight-bold">{{ orderProduct.total|f_round }} ₽</span>
                                    <div class="small text-muted">
                                        <div>{{ orderProduct.amountProduct|f_round }} ₽ за изделие</div>
                                        <div v-if="orderProduct.needLayout">+ {{ orderProduct.amountLayout|f_round }} ₽
                                                                            за
                                                                            макет
                                        </div>
                                    </div>
                                </td>
                                <td class="text-right">
                                    <i class="icofont-close-line btn-delete"
                                       @click="d_order.orderProducts.splice(index,1)"></i>
                                </td>
                            </tr>
                            <tr>
                                <td/>
                                <td/>
                                <td/>
                                <td class="text-right">
                                    <span class="font-weight-bold mr-3">ИТОГО:</span> <span
                                    class="h2">{{ c_total|f_round }} ₽</span>
                                </td>
                                <td/>
                            </tr>
                            </tbody>
                        </table>
                        <div class="d-flex justify-content-end mb-3">
                            <button class="btn btn-info btn-sm" type="button"
                                    @click="d_tab='adding'"
                            >Добавить услугу
                            </button>
                        </div>
                        <request-errors class="mb-4"
                                        v-if="d_errors"
                                        :errors="d_errors"></request-errors>
                        <button type="submit" class="btn btn-primary"
                                v-if="$route.params.orderId"
                                :class="{'btn_is-loading': d_loading.submit}">
                            <i class="icofont-check-alt"></i>Применить
                        </button>
                        <button type="submit" class="btn btn-primary"
                                v-else
                                :class="{'btn_is-loading': d_loading.submit}">
                            <i class="icofont-plus"></i> Создать
                        </button>
                    </div>
                    <div class="container">
                        <div class="d-flex mb-4">
                            <button class="btn btn-link btn-sm" type="button"
                                    @click="d_tab='overview'">
                                <i class="icofont-arrow-left mr-2"></i>Вернуться к просмотру заказа
                            </button>
                        </div>
                        <product-finder class="mb-3"
                                        :with="['parameters.values', 'image', 'projects']"
                                        v-model="d_addingProduct"
                        />
                        <base-calculator v-if="d_addingProduct"
                                         :show-description="false"
                                         @buy="handleCalculatorBuy"
                                         :product="d_addingProduct"
                        />
                    </div>
                </div>
            </form>
        </template>
    </div>
</template>

<script>
import LoadingComponent from "../utils/LoadingComponent";
import RequestErrors from "../utils/RequestErrors";
import ModalComponent from "../utils/ModalComponent";
import ProductFinder from "../utils/ProductFinder";
import BaseCalculator from "../User/Calculator/BaseCalculator";
import AdminApi from "../../api/AdminAPI";
import LayoutPreviews from "../User/LayoutPreviews";
import VCheckbox from "../utils/VCheckbox";
import VInput from "../utils/VInput";
import CompanyFinder from "../utils/CompanyFinder";
import VTextarea from "../utils/VTextarea";
import ParameterValuesRepresentation from "../utils/ParameterValuesRepresentation";
import CheckoutDelivery from "../User/Checkout/CheckoutDelivery";
import Attachment from "@/js/components/utils/Attachment";

export default {
    name: "TheOrderEditor",
    components: {
        CheckoutDelivery,
        ParameterValuesRepresentation,
        VTextarea,
        Attachment,
        CompanyFinder,
        VInput,
        VCheckbox,
        LayoutPreviews, BaseCalculator, ProductFinder, ModalComponent, RequestErrors, LoadingComponent
    },
    props: ["order"],
    data() {
        return {
            d_tab: "overview", //overview, adding
            d_loading: {order: false, submit: false, destroy: false},
            d_order: this.order ? JSON.parse(JSON.stringify(this.order)) : {
                name: "",
                phone: "",
                email: "",
                needDelivery: false,
                deliveryInfo: {},
                usePromocode: false,
                promocode: "",
                orderProducts: []
            },
            d_errors: null,
            d_addingProduct: null,
        }
    },
    computed: {
        c_total() {
            return this.d_order.orderProducts.reduce((acc, item) => acc += item.total, 0);
        }
    },
    created() {
        if (this.$route.params.orderId) {
            this.d_loading.order = true;
            AdminApi.orders.getOne(this.$route.params.orderId, {
                with: ["orderProducts", "orderProducts.product", "company",
                    "orderProducts.parameterValues", "orderProducts.parameterValues.parameter", "orderProducts.layouts"]
            }).then(response => {
                response.orderProducts.forEach((item, index, arr) => {
                    item.parameterValues = item.parameterValues.reduce((acc, item) => {
                        acc[item.parameter.name] = acc[item.parameter.name] || [];
                        acc[item.parameter.name].push(item);
                        return acc;
                    }, {});
                    item.layouts = item.layouts.reduce((acc, item) => {
                        acc.push(item.mediaFile);
                        return acc;
                    }, []);
                });

                response.needDelivery = response.deliveryAddress;
                response.usePromocode = response.promocodeId;

                this.$set(this, "d_order", response);
                this.d_loading.order = false;
            });
        }
    },
    methods: {
        submit() {
            this.d_loading.submit = true;
            if (this.$route.params.orderId) {
                AdminApi.orders.update(this.$route.params.orderId, this.packRequest())
                    .then(order => {
                        this.$router.push({name: "orders"});
                    })
                    .catch(error => {
                        this.d_errors = error.data;
                        this.d_loading.submit = false;
                    });
            } else {
                AdminApi.orders.store(this.packRequest())
                    .then(order => {
                        this.$router.push({name: "orders"});
                    })
                    .catch(error => {
                        this.d_errors = error.data;
                        this.d_loading.submit = false;
                    });
            }
        },
        destroy() {
            this.d_loading.destroy = true;
            AdminApi.orders.destroy(this.$route.params.orderId)
                .then(order => {
                    this.$router.push({name: "orders"});
                })
                .catch(error => {
                    this.d_errors = error.data;
                    this.d_loading.destroy = false;
                });
        },
        packRequest() {
            return {
                name: this.d_order.name,
                email: this.d_order.email,
                phone: this.d_order.phone,
                comment: this.d_order.comment,
                offer: this.d_order.offer,
                ...(this.d_order.needDelivery && {
                    delivery_address: this.d_order.deliveryInfo.address,
                    delivery_price: this.d_order.deliveryInfo.price,
                    delivery_coordinates: this.d_order.deliveryInfo.coordinates,
                }),
                promocode_id: this.d_order.usePromocode ? this.d_order.promocode : null,
                order_products: this.d_order.orderProducts.map(item => {
                    return {
                        product_id: item.product.id,
                        count: item.count,
                        need_layout: item.needLayout,
                        layout_ids: item.layouts.map(value => value.id),
                        parameter_values: Object.values(item.parameterValues)
                            .reduce((acc, parameterValue) => {
                                return parameterValue.reduce((acc2, value) => {
                                    return acc2.concat({
                                        id: value.id,
                                        data: value.data,
                                    });
                                }, acc);
                            }, []),
                    }
                }),
                ...(this.d_order.company && {company_id: this.d_order.company.id})
            };
        },
        handleCalculatorBuy(product) {
            this.d_order.orderProducts.push(product);
            this.d_tab = "overview";
            this.d_addingProduct = null;
        },
        mapOrderProductParams(val) {
            return val.reduce((acc, el) => {
                acc[el.parameter.name] = acc[el.parameter.name] || [];
                acc[el.parameter.name].push(el);
                return acc;
            }, {});
        }
    },
}
</script>

<style scoped lang="scss">
@import "~@/sass/_variables.scss";

.icofont-close-circled {
    color: $danger;
    opacity: 0.4;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}

.tabs-wrap {
    display: flex;
    width: 200%;
    transition: transform 0.2s ease-in;

    &.tab-adding {
        transform: translateX(-50%);
    }
}

/* .slide-fade-left-enter-active {
     transition: all .3s ease;
 }

 .slide-fade-left-leave-active {
     transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
 }

 .slide-fade-left-enter, .slide-fade-left-leave-to {
     transform: translateX(-100px);
     opacity: 0;
 }*/
</style>
