<template>
    <div class="container">
        <h1>Заказы</h1>
        <div class="mb-5 row">
            <div class="col-12 col-md-6 col-lg-4 mb-3 mb-lg-0">
                <router-link class="btn btn-primary"
                             :to="{name:'orders.create'}">
                    <i class="icofont-plus"></i> Создать новый заказ
                </router-link>
            </div>
            <div class="col-12 col-lg-5 offset-lg-3">
                <v-input
                    class="ml-auto"
                    label="Поиск: Телефон, E-Mail, ИНН, Организация"
                    @input="handleSearchInput"
                    v-model="d_searchField">
                    <template #icon>
                        <i class="icofont-search"></i>
                    </template>
                </v-input>
            </div>
        </div>
        <table class="order-table table_simple table_v-top"
               v-if="d_orders.length > 0">
            <thead>
            <tr>
                <td style="width: 50px;">#</td>
                <td style="width: 300px;">Общая информация</td>
                <td>Услуга</td>
                <td style="width: 140px;">Кол-во</td>
                <td class="text-right" style="width: 140px;">Стоимость</td>
            </tr>
            </thead>
            <tbody>
            <template v-for="(order, orderIndex) in d_orders">
                <tr>
                    <td>{{order.id}}</td>
                    <td>
                        <div>от {{order.createdAt|f_datetime}}</div>
                        <div class="mb-3">на сумму <span class="h3">{{order.total}}&nbsp;₽</span></div>
                        <div class="mb-3">
                            <div v-if="order.bonusesSpent > 0">
                                Применены бонусные рубли: <strong>{{order.bonusesSpent}}&nbsp;₽</strong>
                            </div>
                            <div v-if="order.partnerSale > 0">
                                Применена индивидуальная скидка организации:
                                <strong>{{order.partnerSale|f_percent}}%</strong>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="d-flex align-items-center"
                                 v-if="order.user">
                                Пользователь:
                                <dropdown-component class="ml-1 d-inline-block small"
                                                    width="300px">
                                    <template #toggler>
                                        <span class="btn btn-link font-weight-bold">ID #{{order.user.id}} </span>
                                    </template>
                                    <template #body>
                                        <div>
                                            <strong>Зарегистрирован:</strong> {{order.user.createdAt|f_datetime}}
                                        </div>
                                        <div>
                                            <strong>ФИО:</strong> {{order.user|f_user}}
                                        </div>
                                    </template>
                                </dropdown-component>
                            </div>
                            <div>
                                Email:
                                <span class="font-weight-bold"><a :href="`mailto:${order.email}`">
                                        {{order.email}}</a> </span>
                            </div>
                            <div>
                                Телефон:
                                <span class="font-weight-bold">
                                        <a :href="`tel:${order.phone}`">{{order.phone}}</a></span>
                            </div>
                        </div>
                        <div class="order-actions">
                            <router-link class="btn-circle"
                                         title="Работа с заказом"
                                         :to="{name: 'orders.show', params:{order:order, orderId: order.id}}">
                                <i class="icofont-look"></i>
                            </router-link>
                        </div>
                    </td>
                    <td colspan="3">
                        <table class="order-product-table">
                            <tr v-for="(orderProduct, index) in order.orderProducts">
                                <td class="product-cell">
                                    <div class="font-weight-bold">
                                        <a target="_blank" :href="`/products/${orderProduct.product.seoName}`">
                                            {{orderProduct.product.name}} {{orderProduct.needLayout?'+ макет':''}}</a>
                                    </div>
                                    <order-product-status-bar class="mb-3"
                                                              v-model="orderProduct.status"
                                                              :editable="true"
                                                              :orderProductId="orderProduct.id"
                                                              :needLayout="orderProduct.needLayout"></order-product-status-bar>
                                    <div class="small">
                                        <div
                                            v-for="(values,param) in mapOrderProductParams(orderProduct.parameterValues)"
                                            v-if="values.length>0">
                                            <span class="font-weight-bold">{{param}}:</span>
                                            <parameter-values-representation
                                                :type="values[0].parameter.type"
                                                :values="values"
                                            ></parameter-values-representation>
                                        </div>
                                    </div>
                                    <layout-previews class="mt-3"
                                                     :layoutsOnly="true"
                                                     :orderProduct="orderProduct"></layout-previews>
                                </td>
                                <td class="product-cell" style="width: 140px">
                                    <div class="font-weight-bold">
                                        {{orderProduct.count|f_fixed}} {{orderProduct.product.countType}}
                                    </div>
                                    <div class="small text-muted" v-if="orderProduct.salePercentage > 0">
                                        Скидка {{orderProduct.salePercentage|f_percent}}%
                                    </div>
                                </td>
                                <td class="product-cell text-right" style="width: 110px">
                                    <span class="font-weight-bold">{{orderProduct.total|f_round}}&nbsp;₽</span>
                                    <div class="small text-muted">
                                        <div>{{orderProduct.amountProduct|f_round}}&nbsp;₽&nbsp;за&nbsp;изделие</div>
                                        <div v-if="orderProduct.needLayout">
                                            + {{orderProduct.amountLayout|f_round}}&nbsp;₽&nbsp;за&nbsp;макет
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </template>
            </tbody>
        </table>
        <div class="h4 text-muted"
             v-else-if="!d_loading.orders">
            Не создано ни одного заказа
            <i class="icofont-sad mr-2"></i>
        </div>
        <loading-component v-if="d_loading.orders"></loading-component>
        <intersection-observer-component
            v-if="d_canLoadMore"
            @observe="fetch"></intersection-observer-component>
    </div>
</template>

<script>
    import debounce from 'lodash/debounce';
    import AdminApi from "../../api/AdminAPI";
    import LoadingComponent from "../utils/LoadingComponent";
    import OrderProductStatusBar from "../utils/OrderProductStatusBar";
    import LayoutPreviews from "./LayoutPreviews";
    import IntersectionObserverComponent from "../utils/IntersectionObserverComponent";
    import DropdownComponent from "../utils/DropdownComponent";
    import ParameterValuesRepresentation from "../utils/ParameterValuesRepresentation";
    import VInput from "../utils/VInput";

    export default {
        name: "TheOrders",
        components: {
            VInput,
            ParameterValuesRepresentation,
            DropdownComponent,
            IntersectionObserverComponent, LayoutPreviews, OrderProductStatusBar, LoadingComponent
        },
        data() {
            return {
                d_loading: {orders: false},
                d_orders: [],
                d_rowsPerPage: 10,
                d_canLoadMore: true,
                d_searchField: null
            }
        },
        methods: {
            fetch() {
                if (this.d_canLoadMore) {
                    this.d_loading.orders = true;
                    AdminApi.orders.get({
                        ...(this.d_searchField && {
                            filters: [
                                ['phone', 'like', `%${this.d_searchField}%`, 'or'],
                                ['email', 'like', `%${this.d_searchField}%`, 'or'],
                                ['companyName', 'like', `%${this.d_searchField}%`, 'or'],
                                ['companyInn', 'like', `%${this.d_searchField}%`, 'or'],
                            ]
                        }),
                        order_by: 'created_at:desc',
                        with: ['orderProducts', 'orderProducts.product', 'user',
                            'orderProducts.parameterValues', 'orderProducts.parameterValues.parameter', 'orderProducts.layouts'],
                        offset: this.d_orders.length,
                        limit: this.d_rowsPerPage,
                    }).then(orders => {
                        this.d_loading.orders = false;
                        this.d_orders = this.d_orders.concat(orders);
                        this.d_canLoadMore = !(orders.length < this.d_rowsPerPage);
                    });
                }
            },
            mapOrderProductParams(val) {
                return val.reduce((acc, el) => {
                    acc[el.parameter.name] = acc[el.parameter.name] || [];
                    acc[el.parameter.name].push(el);
                    return acc;
                }, {});
            },
            handleSearchInput: debounce(function () {
                this.d_orders = [];
                this.d_canLoadMore = true;
            }, 500),
        }
    }
</script>

<style scoped lang="scss">
    @import "~@/sass/_variables.scss";

    /*&.icofont-edit-alt {*/
    /*font-size: 18px;*/
    /*}*/

    /*.order-product:first-of-type {*/
    /*td {*/
    /*padding-top: 50px;*/
    /*}*/
    /*}*/

    .order-product-table tr {

        &:first-of-type td {
            padding-top: 0;
        }

        &:not(:last-of-type) td {
            border-bottom: 1px solid #efefef;
        }

        /*&.order-product_last {*/
        /*td {*/
        /*border-bottom: 2px solid #ffe3e3 !important;*/
        /*padding-bottom: 50px;*/
        /*}*/

        /*& + tr {*/
        /*td {*/
        /*padding-top: 50px;*/
        /*}*/
        /*}*/
        /*}*/
    }

</style>
