<template>
    <div class="container">
        <div class="d-flex align-items-center">
            <router-link :to="{name:'orders'}" class="btn btn-link btn-sm mb-2">
                <i class="icofont-arrow-left mr-2"></i>Назад к списку заказов
            </router-link>
        </div>
        <div class="mb-5">
            <h2 class="font-weight-bold">Работа с заказом №{{ d_order.id }}</h2>
            <div class="text-muted d-flex"
                 v-if="d_order">от {{ d_order.createdAt | f_datetime }}
                <button type="button" class="btn btn-link ml-auto btn-sm"
                        @click="handleOrderDeleteBtn"
                        v-if="$store.getters['auth/can'](Abilities.Orders.Update)">
                    Удалить
                </button>
            </div>
        </div>
        <loading-component v-if="d_loading.order"/>
        <div v-else>
            <div class="position-relative">
                <div class="mb-5">
                    <div class="order-info" v-if="!d_editing.enabled">
                        <div class="row">
                            <div class="col-12 col-md mb-3">
                                <span class="mr-3">Общая сумма заказа:</span>
                                <span class="h4 font-weight-bold align-middle">{{ d_order.total }} ₽</span>
                                <span class="badge badge_primary badge_sm"
                                      v-if="d_order.isPayedOnline"
                                >Оплачено онлайн</span>
                            </div>
                            <div class="col-12 col-md mb-3">
                                <span class="mr-3">Позиций:</span>
                                <span class="h4 font-weight-bold">{{ d_order.orderProducts.length }} шт.</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md mb-3"
                                 v-if="d_order.promocodeId">
                                <span class="mr-3">Использован промокод:</span>
                                <span class="h4 font-weight-bold">{{ d_order.promocodeId }}</span>
                            </div>
                            <div class="col-12 col-md mb-3"
                                 v-if="d_order.bonusesSpent > 0">
                                <span class="mr-3">Использованы бонусные рубли:</span>
                                <span class="h4 font-weight-bold">{{ d_order.bonusesSpent }} ₽</span>
                            </div>
                            <div class="col-12 col-md mb-3"
                                 v-if="d_order.partnerSale > 0">
                                <span class="mr-3">Индивидуальная скидка:</span>
                                <span class="h4 font-weight-bold">{{ d_order.partnerSale | f_percent }}%</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 mb-3">
                                <span class="mr-3">Имя клиента:</span>
                                <span class="h4 font-weight-bold">
                                    <template v-if="d_order.name">{{ d_order.name }}</template>
                                    <template v-else>{{ d_order.user | f_user }}</template>
                                </span>
                            </div>
                            <div v-if="d_order.company"
                                 class="col-12 col-md-6 mb-3"
                            >
                                <span class="mr-3">Организация:</span>
                                <dropdown-component class="d-inline-block" width="450px">
                                    <template #toggler>
                                        <a class="h4 font-weight-bold text-primary cursor-pointer">
                                            {{ d_order.company.name }}</a>
                                    </template>
                                    <template #body>
                                        <div>
                                            <strong>Создана:</strong> {{ d_order.company.createdAt|f_datetime }}
                                        </div>
                                        <div>
                                            <strong>Директор:</strong> {{ d_order.company.director }}
                                        </div>
                                        <div>
                                            <strong>Юр. адрес:</strong> {{ d_order.company.legalAddress }}
                                        </div>
                                        <div>
                                            <strong>Почт. адрес:</strong> {{ d_order.company.mailAddress }}
                                        </div>
                                        <div>
                                            <strong>ИНН / КПП:</strong>
                                            {{ d_order.company.inn }} / {{ d_order.company.kpp }}
                                        </div>
                                        <div>
                                            <strong>ОКПО:</strong>
                                            {{ d_order.company.okpo }}
                                        </div>
                                        <div>
                                            <strong>Банк:</strong> {{ d_order.company.bank }}
                                        </div>
                                        <div>
                                            <strong>Р/с:</strong> {{ d_order.company.rs }}
                                        </div>
                                        <div>
                                            <strong>К/с:</strong> {{ d_order.company.ks }}
                                        </div>
                                        <div>
                                            <strong>БИК:</strong> {{ d_order.company.bik }}
                                        </div>
                                        <div>
                                            <strong>Индивидуальная скидка:</strong>
                                            {{ (d_order.company.partnerSale * 100).toFixed(0) }}%
                                        </div>
                                    </template>
                                </dropdown-component>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md mb-3">
                                <div>
                                    <span class="mr-3">Телефон:</span>

                                    <div class="d-inline-flex align-items-center">
                                        <template v-if="canNotify && d_order.phone">
                                            <loading-component class="mr-2"
                                                               v-if="d_loading.smsNotify"
                                                               size="24px"
                                            />
                                            <button class="btn btn-link notify-btn"
                                                    title="Отправить СМС о выполнении заказа" type="button"
                                                    v-else
                                                    @click="notifyUserViaPhone"
                                            ><i class="material-icons">notifications_active</i>
                                            </button>
                                        </template>
                                        <a class="h4 font-weight-bold mb-0"
                                           :href="`tel:${d_order.phone}`"
                                        >{{ d_order.phone || "не указан" }}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md mb-3">
                                <span class="mr-3">Email:</span>
                                <span class="d-inline-flex align-items-center"
                                      v-if="d_order.email">
                                    <template v-if="canNotify">
                                        <loading-component class="mr-2"
                                                           size="24px"
                                                           v-if="d_loading.emailNotify"
                                        />
                                        <button class="btn btn-link notify-btn"
                                                title="Отправить на Email уведомление о выполнении заказа" type="button"
                                                v-else
                                                @click="notifyUserViaEmail"
                                        ><i class="material-icons">notifications_active</i>
                                        </button>
                                    </template>
                                    <a class="h4 mb-0 font-weight-bold"
                                       :href="`mailto:${d_order.email}`">
                                        {{ d_order.email }}</a>
                                </span>
                                <template v-else>Не указан</template>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 mb-3">
                                <span class="mr-3">Доставка:</span>
                                <span class="h4 font-weight-bold"
                                      v-if="d_order.deliveryAddress">
                                {{ d_order.deliveryAddress }}
                                </span>
                                <span class="h4 font-weight-bold" v-else>Без доставки</span>
                            </div>
                            <div class="col-12 col-md-6 mb-3"
                                 v-if="d_order.completedAt"
                            >
                                <span class="mr-3">Заказ выполнен: </span>
                                <span class="h4 font-weight-bold">{{ d_order.completedAt | f_datetime }}</span>
                            </div>
                        </div>
                        <div class="mb-3" id="map" v-if="d_order.deliveryAddress"></div>
                        <div class="row mb-3" v-if="d_order.comment">
                            <div class="col-12 col-md">
                                <span class="mr-3">Комментарий:</span>
                                <span class="h4 font-weight-bold">{{ d_order.comment }}</span>
                            </div>
                        </div>
                        <div class="page-block mb-3 d-flex" v-if="d_order.review">
                            <i class="text-muted mt-2 mr-3 icofont-ui-messaging icofont-2x d-none d-md-block"></i>
                            <div>
                                <div class="h4 font-weight-bold">Отзыв клиента:</div>
                                <p>{{ d_order.review }}</p>
                            </div>
                        </div>
                    </div>
                    <div v-else>
                        <div class="row">
                            <div class="col-12 col-md mb-4">
                                <v-input label="Имя клиента"
                                         v-model="d_editing.model.name"
                                />
                            </div>
                            <div class="col-12 col-md mb-4">
                                <v-input type="email"
                                         label="Email"
                                         v-model="d_editing.model.email"
                                />
                            </div>
                            <div class="col-12 col-md mb-4">
                                <v-input type="tel"
                                         label="Телефон"
                                         v-model="d_editing.model.phone"
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-6 mb-4">
                                <v-checkbox label="Есть промокод"
                                            v-model="d_editing.model.usePromocode"
                                />
                            </div>
                            <div class="col-12 col-md-6 mb-4">
                                <v-input type="text"
                                         v-if="d_editing.model.usePromocode"
                                         label="Промокод"
                                         v-model="d_editing.model.promocode"
                                />
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-12 col-md mb-4">
                                <v-checkbox label="Нужна бесплатная доставка"
                                            v-model="d_editing.model.needDelivery"
                                />
                            </div>
                            <div class="col-12 col-md">
                                <v-input type="text"
                                         label="Адрес доставки"
                                         v-if="d_editing.model.needDelivery"
                                         required
                                         v-model="d_editing.model.deliveryAddress"
                                />
                            </div>
                        </div>
                        <div class="row align-items-center mb-4">
                            <div class="col-12 col-md-6">
                                <company-finder v-model="d_editing.model.company"/>
                            </div>
                        </div>
                        <div class="row align-items-center mb-4">
                            <div class="col-12 col-md-6">
                                <v-input label="Процент индивидуальной скидки"
                                         v-model="d_editing.model.partnerSale"
                                         :formatPercent="true"
                                />
                            </div>
                            <div class="col-12 col-md-6">
                                <v-input label="Использованные бонусные рубли"
                                         :disabled="!d_editing.model.userId"
                                         v-model="d_editing.model.bonusesSpent"
                                />
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-12">
                                <v-textarea
                                    label="Комментарий"
                                    v-model="d_editing.model.comment"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3 d-flex align-items-center">
                    <order-documents-sender
                        class="mr-3"
                        :order="d_order"
                        :secret="d_order.secret"
                    />
                    <a :href="`/orders/${d_order.id}?secret=${d_order.secret}`">Секретная ссылка</a>
                </div>
                <div class="order__actions">
                    <button title="Создать новый заказ с этим же клиентом"
                            @click="cloneToNewOrder"
                            class="icofont-plus" type="button"
                    />
                    <button title="Редактировать"
                            class="icofont-edit" type="button"
                            @click="toggleEditing(true)"
                            v-if="!d_editing.enabled"
                    />
                    <template v-else>
                        <loading-component
                            v-if="d_loading.updating"
                            size="18px"
                        />
                        <template v-else>
                            <button title="Применить"
                                    class="icofont-tick-mark" type="button"
                                    @click="submitInfoChange"
                            />
                            <button title="Отменить редактирование"
                                    class="icofont-close-line" type="button"
                                    @click="toggleEditing(false)"
                            />
                        </template>
                    </template>
                </div>
            </div>
            <div>
                <table class="mb-3 table_simple table_v-top">
                    <thead>
                    <tr>
                        <td style="width: 50px;">#</td>
                        <td>Услуга</td>
                        <td>Количество</td>
                        <td class="text-right">Стоимость</td>
                        <td style="width: 200px;"></td>
                    </tr>
                    </thead>
                    <tbody>
                    <template v-for="(orderProduct, index) in d_order.orderProducts">
                        <tr>
                            <td>
                                {{ index + 1 }}
                            </td>
                            <td>
                                <div class="font-weight-bold">
                                    <a target="_blank" :href="`/products/${orderProduct.product.seoName}`">
                                        {{ orderProduct.product.name }}
                                        {{ orderProduct.needLayout ? "+ макет" : "" }}</a>
                                    <button type="button" class="btn-delete"
                                            title="Удалить позицию"
                                            @click="deleteOrderProduct(orderProduct)"
                                    >&times;
                                    </button>
                                </div>
                                <div class="small">
                                    <div v-for="(values,param) in mapOrderProductParams(orderProduct.parameterValues)"
                                         v-if="values.length>0">
                                        <span class="font-weight-bold">{{ param }}:</span>
                                        <parameter-values-representation
                                            :type="values[0].parameter.type"
                                            :values="values"
                                        />
                                    </div>
                                </div>
                                <v-stars class="mt-3"
                                         v-if="orderProduct.rating"
                                         :value="orderProduct.rating"
                                />
                            </td>
                            <td>
                                <span class="font-weight-bold">
                                    {{ orderProduct.count | f_fixed }} {{ orderProduct.product.countType }}</span>
                                <div class="small text-muted" v-if="orderProduct.salePercentage > 0">
                                    Скидка {{ orderProduct.salePercentage|f_percent }}%
                                </div>
                            </td>
                            <td class="text-right">
                                <dropdown-component width="250px"
                                                    @open="focusDropDown"
                                >
                                    <template #toggler>
                                        <button type="button" class="order-product__price btn btn-link"
                                                @click="editOrderProduct(orderProduct)"
                                        >
                                            {{ orderProduct.total|f_round }} ₽
                                        </button>
                                    </template>
                                    <template #body="{toggle}">
                                        <v-input class="mb-3" type="number" label="Цена изделия"
                                                 v-model="d_editingOrderProduct.amountProduct"
                                                 @keyup.enter.native="updateOrderProduct(toggle)"
                                        />
                                        <v-input v-if="orderProduct.needLayout"
                                                 v-model="d_editingOrderProduct.amountLayout"
                                                 @keyup.enter.native="updateOrderProduct(toggle)"
                                                 class="mb-3" type="number" label="Цена макета"></v-input>
                                        <div>
                                            <button type="button"
                                                    class="btn btn-primary btn-sm"
                                                    :class="{'btn_is-loading':d_editingOrderProduct.loading}"
                                                    @click="updateOrderProduct(toggle)"
                                            >Применить
                                            </button>
                                        </div>
                                    </template>
                                </dropdown-component>
                                <div class="small text-muted">
                                    <div>{{ orderProduct.amountProduct | f_round }} ₽ за изделие</div>
                                    <div v-if="orderProduct.needLayout">
                                        + {{ orderProduct.amountLayout | f_round }} ₽ за макет
                                    </div>
                                </div>
                            </td>
                            <td class="text-right">
                                <order-product-status-bar class="mb-3"
                                                          v-model="orderProduct.status"
                                                          :editable="true"
                                                          :orderProductId="orderProduct.id"
                                                          :needLayout="orderProduct.needLayout"
                                />
                            </td>
                        </tr>
                        <tr>
                            <td/>
                            <td colspan="4">
                                <layout-previews :orderProduct="orderProduct"/>
                            </td>
                        </tr>
                    </template>
                    <tr class="font-weight-bold"
                        v-if="d_order.deliveryCoordinates">
                        <td class="font-weight-normal">
                            {{ d_order.orderProducts.length + 1 }}
                        </td>
                        <td>Доставка</td>
                        <td>1 шт.</td>
                        <td class="text-right">{{ d_order.deliveryPrice }} ₽</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button class="btn btn-primary btn-sm" type="button"
                                    @click="addOrderProduct"
                            >Добавить позицию
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <request-errors class="mb-4"
                                v-if="d_errors"
                                :errors="d_errors"
                />
            </div>
        </div>
        <modal-component content-class="container"
                         height="80%"
                         @close="d_addingForm.show=false"
                         v-if="d_addingForm.show">
            <template #body>
                <product-finder class="mb-3"
                                :with="['parameters.values', 'image', 'projects']"
                                v-model="d_addingForm.product"
                />
                <base-calculator v-if="d_addingForm.product"
                                 :show-description="false"
                                 @buy="storeNewOrderProduct"
                                 :product="d_addingForm.product"
                />
            </template>
        </modal-component>
    </div>
</template>

<script>
import LoadingComponent from "../utils/LoadingComponent";
import RequestErrors from "../utils/RequestErrors";
import ModalComponent from "../utils/ModalComponent";
import ProductFinder from "../utils/ProductFinder";
import AdminApi, {orderProducts, orders} from "../../api/AdminAPI";
import OrderProductStatusBar from "../utils/OrderProductStatusBar";
import LayoutPreviews from "./LayoutPreviews";
import DropdownComponent from "../utils/DropdownComponent";
import OrderDocumentsSender from "../Admin/OrderDocumentsSender";
import VInput from "../utils/VInput";
import VCheckbox from "../utils/VCheckbox";
import CompanyFinder from "../utils/CompanyFinder";
import VTextarea from "../utils/VTextarea";
import ParameterValuesRepresentation from "../utils/ParameterValuesRepresentation";
import BaseCalculator from "../User/Calculator/BaseCalculator";
import {Abilities} from "@/js/store/modules/auth";
import VStars from "@/js/components/User/Review/VStars";

export default {
    name: "TheOrder",
    components: {
        VStars,
        BaseCalculator,
        ParameterValuesRepresentation,
        VTextarea,
        CompanyFinder,
        VCheckbox,
        VInput,
        OrderDocumentsSender,
        DropdownComponent,
        LayoutPreviews,
        OrderProductStatusBar, ProductFinder, ModalComponent, RequestErrors, LoadingComponent
    },
    props: ["order"],
    data() {
        return {
            Abilities: Abilities,
            d_loading: {
                order: false,
                submit: false,
                destroy: false,
                updating: false,
                emailNotify: false,
                smsNotify: false,
            },
            d_map: null,
            d_order: this.order ? Object.assign({}, this.order) : {
                orderProducts: []
            },
            d_errors: null,
            d_editing: {
                enabled: false,
                model: {}
            },
            d_editingOrderProduct: null,
            d_addingForm: {
                show: false,
                product: false
            }
        }
    },
    computed: {
        canNotify() {
            return this.d_order.orderProducts.every(op => op.status === "ready");
        }
    },
    created() {
        if (this.$route.params.orderId) {
            this.d_loading.order = true;
            AdminApi.orders.getOne(this.$route.params.orderId, {
                with: ["orderProducts", "orderProducts.product", "user", "company",
                    "orderProducts.parameterValues", "orderProducts.parameterValues.parameter", "orderProducts.layouts"]
            }).then(response => {
                this.$set(this, "d_order", response);
                this.d_loading.order = false;
                if (this.d_order.deliveryCoordinates) {
                    ymaps.ready(this.initMap);
                }
            });
        }
    },
    methods: {
        submitInfoChange() {
            this.d_loading.updating = true;
            let data = this.d_editing.model;
            orders.update(this.d_order.id,
                {
                    name: data.name,
                    comment: data.comment,
                    email: data.email,
                    phone: data.phone,
                    partner_sale: data.partnerSale,
                    bonuses_spent: data.bonusesSpent,
                    delivery_address: data.needDelivery ? data.deliveryAddress : null,
                    promocode_id: data.usePromocode ? data.promocode : null,
                    company_id: data.company ? data.company.id : null,
                })
                .then(order => {
                    this.d_loading.updating = false;
                    this.$set(this, "d_order", order);
                    this.d_editing.enabled = false;
                })
                .catch(error => {
                    this.d_loading.updating = false;
                    this.d_errors = error.data;
                });
        },
        toggleEditing(value) {
            if (value) {
                this.d_editing.model = JSON.parse(JSON.stringify(this.d_order));
                if (this.d_order.promocodeId) {
                    this.d_editing.model.usePromocode = true;
                    this.d_editing.model.promocode = this.d_order.promocodeId;
                }
                if (this.d_order.deliveryAddress) {
                    this.d_editing.model.needDelivery = true;
                    this.d_editing.model.deliveryAddress = this.d_order.deliveryAddress;
                }
            }
            this.d_editing.enabled = value;
        },
        cloneToNewOrder() {
            this.$router.push({
                name: "orders.create", params: {
                    order: {
                        name: this.d_order.name,
                        phone: this.d_order.phone,
                        email: this.d_order.email,
                        needDelivery: this.d_order.deliveryAddress,
                        deliveryInfo: {
                            address: this.d_order.deliveryAddress,
                            price: this.d_order.deliveryPrice,
                            coordinates: this.d_order.deliveryCoordinates,
                        },
                        usePromocode: this.d_order.promocodeId,
                        promocode: this.d_order.promocodeId,
                        comment: this.d_order.comment,
                        companyId: this.d_order.companyId,
                        company: this.d_order.company,
                        userId: this.d_order.userId,
                        user: this.d_order.user,
                        orderProducts: []
                    }
                }
            });
        },
        mapOrderProductParams(val) {
            if (!val) {
                return;
            }
            return val.reduce((acc, el) => {
                acc[el.parameter.name] = acc[el.parameter.name] || [];
                acc[el.parameter.name].push(el);
                return acc;
            }, {});
        },
        deleteOrderProduct(op) {
            orderProducts.destroy(op.id)
                .then(res => {
                    let index = this.d_order.orderProducts.indexOf(op);
                    if (index > -1) {
                        this.d_order.orderProducts.splice(index, 1);
                        this.d_order.total = res.orderTotal;
                    }
                });
        },
        editOrderProduct(op) {
            this.d_editingOrderProduct = JSON.parse(JSON.stringify(op));
            this.d_editingOrderProduct.original = op;
            this.$set(this.d_editingOrderProduct, "loading", false);
        },
        focusDropDown() {
            this.$nextTick(() => {
                document.querySelector(".dropdown.active input").focus();
            });
        },
        updateOrderProduct(toggleFnc) {
            let op = this.d_editingOrderProduct;
            op.loading = true;
            orderProducts.update(op.id, {
                amount_product: op.amountProduct,
                amount_layout: op.amountLayout,
            }).then(res => {
                op.loading = false;
                op.original.amountProduct = res.amountProduct;
                op.original.amountLayout = res.amountLayout;
                op.original.total = res.total;
                toggleFnc();
                this.updateOrderTotal();
            });
        },
        updateOrderTotal() {
            AdminApi.orders.getOne(this.$route.params.orderId).then(response => {
                this.d_order.total = response.total;
            });
        },
        addOrderProduct() {
            this.d_addingForm.show = true;
            this.d_addingForm.product = null;
        },
        storeNewOrderProduct(op) {
            this.d_addingForm.show = false;
            let data = {
                product_id: op.product.id,
                count: op.count,
                need_layout: op.needLayout,
                layout_ids: op.layouts.map(value => value.id),
                parameter_values: Object.values(op.parameterValues)
                    .reduce((acc, parameterValue) => {
                        return parameterValue.reduce((acc2, value) => {
                            return acc2.concat({
                                id: value.id,
                                data: value.data,
                            });
                        }, acc);
                    }, []),
            };
            data.order_id = this.$route.params.orderId;
            orderProducts.store(data).then(res => {
                console.log(res);
                this.d_order.orderProducts.push(res);
                this.updateOrderTotal();
            });
        },
        handleOrderDeleteBtn() {
            let confirm = window.confirm("Вы уверены? Это действие нельзя отменить...");
            if (confirm) {
                orders.destroy(this.d_order.id)
                    .then(res => {
                        this.$router.push({name: "orders"});
                    });
            }
        },
        notifyUserViaEmail() {
            this.d_loading.emailNotify = true;
            orders.notify(this.d_order.id, {
                channels: ["mail"],
            }).then(res => {
                this.$store.dispatch("messages/add", {
                    message: "Уведомление о завершении выполнения заказа успешно отправлено на почту"
                });
                this.d_loading.emailNotify = false;
            });
        },
        notifyUserViaPhone() {
            this.d_loading.smsNotify = true;
            orders.notify(this.d_order.id, {
                channels: ["sms"],
            }).then(res => {
                this.$store.dispatch("messages/add", {
                    message: "СМС о завершении выполнения заказа успешно отправлено"
                });
                this.d_loading.smsNotify = false;
            });
        },
        initMap() {
            this.d_map = new ymaps.Map("map", {
                center: this.d_order.deliveryCoordinates,
                zoom: 12,
                controls: ["trafficControl"]
            });

            let placemark = new ymaps.Placemark(this.d_order.deliveryCoordinates, {}, {
                preset: "twirl#redIcon",
                draggable: false,
                balloonContentBody: this.d_order.deliveryAddress,
            });

            this.d_map.geoObjects.add(placemark);

            ymaps.route([[61.255049, 73.430280], this.d_order.deliveryCoordinates], {avoidTrafficJams: true}).then(
                (route) => {
                    this.d_map.geoObjects.add(route);
                },
                (error) => {
                    console.log("Возникла ошибка при построении маршрута: " + error.message);
                }
            );
        }
    },
}
</script>

<style scoped lang="scss">
@import "~@/sass/_variables.scss";

.order-product__price {
    font-size: 16px;
}

.icofont-close-circled {
    color: $danger;
    opacity: 0.4;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}

.order__actions {
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    box-shadow: 0 0 7px 9px white;
    display: flex;

    button {
        background: none;
        border: none;
        color: #cccccc;
        outline: none !important;

        &:hover {
            color: $base-color;
        }
    }
}

.notify-btn {
    font-size: 24px;
}

#map {
    width: 100%;
    height: 300px;
}
</style>
