<template>
    <div class="container">
        <h1 class="mb-5">Профиль</h1>
        <loading-component v-if="d_loading.profile"></loading-component>
        <form v-else
              @submit.prevent="submit">
            <div class="mb-5">
                <div class="row">
                    <div class="col-12 col-md mb-4">
                        <v-input label="Фамилия"
                                 v-model="d_user.secondName"></v-input>
                    </div>
                    <div class="col-12 col-md mb-4">
                        <v-input label="Имя"
                                 v-model="d_user.firstName"></v-input>
                    </div>
                    <div class="col-12 col-md mb-4">
                        <v-input label="Отчество"
                                 v-model="d_user.middleName"></v-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md mb-4">
                        <v-input label="Email"
                                 type="email"
                                 disabled
                                 v-model="d_user.email"></v-input>
                    </div>
                    <div class="col-12 col-md mb-4">
                        <v-input label="Телефон"
                                 type="tel"
                                 v-model="d_user.phone"></v-input>
                    </div>
                    <div class="col-12 col-md mb-4">
                        <v-datetime label="Дата рождения"
                                    v-model="d_user.birthday"></v-datetime>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md mb-4">
                        <v-input label="Адрес"
                                 v-model="d_user.address"></v-input>
                    </div>
                </div>
                <v-checkbox v-model="d_wantToChangePassword"
                            label="Хочу сменить пароль"></v-checkbox>
                <div class="row mt-3" v-if="d_wantToChangePassword">
                    <div class="col-12 col-md mb-4">
                        <v-input label="Новый пароль"
                                 type="password"
                                 v-model="d_user.password"></v-input>
                    </div>
                    <div class="col-12 col-md mb-4">
                        <v-input label="Подтвердите пароль"
                                 type="password"
                                 v-model="d_user.passwordConfirmation"></v-input>
                    </div>
                </div>
            </div>
            <request-errors v-if="d_errors"
                            :errors="d_errors"></request-errors>
            <button class="btn btn-primary" type="submit"
                    :class="{'btn_is-loading': d_loading.submit}">Применить
            </button>
        </form>
    </div>
</template>

<script>
    import AdminAPI from "../../api/AdminAPI";
    import LoadingComponent from "../utils/LoadingComponent";
    import RequestErrors from "../utils/RequestErrors";
    import UserApi from "../../api/UserAPI";
    import VInput from "../utils/VInput";
    import VCheckbox from "../utils/VCheckbox";
    import VDatetime from "../utils/VDatetime";

    export default {
        name: "TheProfile",
        components: {VDatetime, VCheckbox, VInput, RequestErrors, LoadingComponent,},
        data() {
            return {
                d_loading: {profile: false, submit: false},
                d_user: null,
                d_errors: null,
                d_wantToChangePassword: false
            }
        },
        created() {
            this.d_loading.profile = true;
            UserApi.users.getSelf()
                .then(user => {
                    this.d_user = user;
                    this.d_loading.profile = false;
                })
                .catch(error => {
                    this.d_errors = error.data;
                    this.d_loading.profile = false;
                });
        },
        methods: {
            submit() {
                this.d_loading.submit = true;
                UserApi.users.updateSelf(this.packRequest())
                    .then(user => {
                        Object.assign(this.d_user, user);
                        this.d_loading.submit = false;
                    })
                    .catch(error => {
                        this.d_errors = error.data;
                        this.d_loading.submit = false;
                    });
            },
            packRequest() {
                return {
                    first_name: this.d_user.firstName,
                    second_name: this.d_user.secondName,
                    middle_name: this.d_user.middleName,
                    email: this.d_user.email,
                    phone: this.d_user.phone,
                    address: this.d_user.address,
                    birthday: this.d_user.birthday,
                    ...(this.d_wantToChangePassword && {password: this.d_user.password}),
                    ...(this.d_wantToChangePassword && {password_confirmation: this.d_user.passwordConfirmation}),
                }
            }
        }
    }
</script>

<style scoped>

</style>