<template>
    <div class="container">
        <h1>Проекты</h1>
        <div class="mb-5">
            <router-link class="btn btn-primary mr-3"
                         :to="{name:'projects.create'}">
                <i class="icofont-plus"></i> Создать новый проект
            </router-link>
        </div>
        <div class="row"
             v-if="d_projects.length > 0">
            <div class="col-12 col-md-6 mb-3"
                 v-for="project in d_projects">
                <div class="card-project">
                    <div class="card-project__bg"
                         :style="{'background-image':`url(${project.mediaFile.thumbnail})`}"
                         v-if="project.mediaFile"></div>
                    <div class="m-auto"
                         v-html="project.description"></div>
                    <div>
                        <router-link class="btn btn-outline-light"
                                     :to="{name:'projects.edit', params:{id: project.id, project: project}}">
                            <i class="icofont-edit-alt"></i>
                            Изменить
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
        <div class="h4 text-muted"
             v-else-if="!d_loading.projects">
            Не создано ни одного проекта
            <i class="icofont-sad mr-2"></i>
        </div>
        <loading-component v-if="d_loading.projects"></loading-component>
        <intersection-observer-component
                @observe="fetch"></intersection-observer-component>
    </div>
</template>

<script>
    import AdminAPI from "../../api/AdminAPI";
    import LoadingComponent from "../utils/LoadingComponent";
    import IntersectionObserverComponent from "../utils/IntersectionObserverComponent";

    export default {
        name: "TheProjects",
        components: {IntersectionObserverComponent, LoadingComponent},
        data() {
            return {
                d_loading: {
                    projects: false
                },
                d_projects: [],
                d_rowsPerPage: 15,
                d_canLoadMore: true,
            }
        },
        methods: {
            fetch() {
                if (this.d_canLoadMore) {
                    this.d_loading.projects = true;
                    AdminAPI.projects.get({
                        with: ['mediaFile'],
                        offset: this.d_projects.length,
                        limit: this.d_rowsPerPage,
                        order_by: 'created_at:desc'
                    }).then(projects => {
                        this.d_projects = this.d_projects.concat(projects);
                        this.d_canLoadMore = !(projects.length < this.d_rowsPerPage);
                        this.d_loading.projects = false;
                    });
                }
            },
        }
    }
</script>

<style scoped lang="scss">
    .card-project {
        position: relative;
        color: #ffffff;
        padding: 15px;
        border-radius: 4px;
        overflow: hidden;
        min-height: 300px;
        display: flex;
        flex-direction: column;

        .card-project__bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-size: cover;
            background-position: center;
            &:before {
                content: "";
                background: #000000a3;
                width: 100%;
                height: 100%;
                position: absolute;
            }
        }
    }
</style>