<template>
    <div class="container">
        <h1>Промокоды</h1>
        <div class="mb-5">
            <router-link class="btn btn-primary mr-3"
                         :to="{name:'promocodes.create'}">
                <i class="icofont-plus"></i> Создать новый промокод
            </router-link>
        </div>
        <table class="table table_simple table_v-middle"
               v-if="d_promocodes.length > 0">
            <thead>
            <tr>
                <td>Промокод</td>
                <td>Название</td>
                <td>Мин. сумма</td>
                <td>Скидка</td>
                <td>Кол-во использований</td>
                <td>Дата сгорания</td>
                <td>Создан</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="promocode in d_promocodes">
                <td>{{promocode.id}}</td>
                <td>{{promocode.name}}</td>
                <td>{{promocode.minAmount}} ₽</td>
                <td>{{promocode.sale}} ₽</td>
                <td>{{promocode.usedCount}}/{{promocode.maxUsedCount}}</td>
                <td>{{promocode.expiresAt|f_datetime}}</td>
                <td>{{promocode.createdAt|f_datetime}}</td>
                <td>
                    <router-link
                            :to="{name:'promocodes.edit',
                                params:{promocodeId:promocode.id,promocode:promocode}}">
                        <i class="icofont icofont-edit"></i>
                    </router-link>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="h4 text-muted"
             v-else-if="!d_loading.promocodes">
            Не создано ни одного промокода
            <i class="icofont-sad mr-2"></i>
        </div>
        <loading-component v-if="d_loading.promocodes"></loading-component>
        <intersection-observer-component
                @observe="fetch"></intersection-observer-component>
    </div>
</template>

<script>
    import LoadingComponent from "../utils/LoadingComponent";
    import {promocodes} from "../../api/AdminAPI";
    import IntersectionObserverComponent from "../utils/IntersectionObserverComponent";

    export default {
        name: "ThePromocodes",
        components: {IntersectionObserverComponent, LoadingComponent},
        data() {
            return {
                d_loading: {promocodes: false},
                d_promocodes: [],
                d_rowsPerPage: 15,
                d_canLoadMore: true,
            }
        },
        methods: {
            fetch() {
                if (this.d_canLoadMore) {
                    this.d_loading.promocodes = true;
                    promocodes.get({
                        order_by: 'created_at:desc',
                        offset: this.d_promocodes.length,
                        limit: this.d_rowsPerPage,
                    }).then(response => {
                        this.d_promocodes = this.d_promocodes.concat(response);
                        this.d_canLoadMore = !(response.length < this.d_rowsPerPage);
                        this.d_loading.promocodes = false;
                    })
                }
            },
        }
    }
</script>

<style scoped>

</style>