<template>
    <div class="container">
        <template v-if="!d_loading.project">
            <div class="d-flex align-items-center">
                <router-link :to="{name:'projects'}" class="btn btn-link btn-sm mb-2">
                    <i class="icofont-arrow-left mr-2"></i>Назад к списку проектов
                </router-link>
                <div class="ml-auto" v-if="$route.params.id">
                    <button class="btn btn-danger btn-sm text-right"
                            :class="{'btn_is-loading': d_loading.destroy}"
                            type="button"
                            @click="destroy">
                        <i class="icofont-close"></i> Удалить
                    </button>
                </div>
            </div>
            <form @submit.prevent="submit">
                <div class="mb-5">
                    <template v-if="$route.params.id">
                        <h2 class="font-weight-bold">{{d_project.description}}</h2>
                        <h5>Редактирование проекта</h5>
                    </template>
                    <template v-else>
                        <h2 class="font-weight-bold">Новый проект</h2>
                    </template>
                </div>
                <div class="row">
                    <div class="col-12 mb-4">
                        <v-textarea
                                required
                                label="Описание"
                                textAlign="left"
                                v-model="d_project.description"></v-textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-4">
                        <attach-area-component
                                label="Изображение"
                                :multiple="false"
                                :allow-vk-video="true"
                                v-model="d_project.mediaFile"></attach-area-component>
                    </div>
                </div>
                <div class="mb-5">
                    <h3 class="mb-4 text-center">Связанные услуги</h3>
                    <loading-component v-if="d_loading.products"></loading-component>
                    <div class="row" v-else>
                        <div class="col-12 col-md-6">
                            <div class="d-flex align-items-center mb-4"
                                 v-for="(product,i) in d_project.products"
                                 :key="i">
                                <product-finder class="w-100"
                                                v-model="d_project.products[i]"></product-finder>
                                <i class="icofont-close-circled icofont-2x text-danger"
                                   @click="d_project.products.splice(i, 1)"></i>
                            </div>
                            <button class="btn btn-info btn-sm" type="button"
                                    @click="d_project.products.push({})">Добавить услугу
                            </button>
                        </div>
                    </div>
                </div>
                <request-errors class="mb-4"
                                v-if="d_errors"
                                :errors="d_errors"></request-errors>
                <button type="submit" class="btn btn-primary"
                        v-if="$route.params.id"
                        :class="{'btn_is-loading': d_loading.submit}">
                    <i class="icofont-check-alt"></i>Применить
                </button>
                <button type="submit" class="btn btn-primary"
                        v-else
                        :class="{'btn_is-loading': d_loading.submit}">
                    <i class="icofont-plus"></i> Создать
                </button>
            </form>
        </template>
        <loading-component v-else></loading-component>
    </div>
</template>

<script>
    import AdminAPI from "../../api/AdminAPI";
    import RequestErrors from "../utils/RequestErrors";
    import LoadingComponent from "../utils/LoadingComponent";
    import AttachAreaComponent from "../utils/AttachAreaComponent";
    import ProductFinder from "../utils/ProductFinder";
    import VTextarea from "../utils/VTextarea";

    export default {
        name: "TheProjectEditor",
        components: {VTextarea, ProductFinder, AttachAreaComponent, LoadingComponent, RequestErrors},
        props: ['project'],
        data() {
            return {
                d_loading: {
                    submit: false,
                    destroy: false,
                    project: false,
                    products: false
                },
                d_project: this.project || {
                    description: null, mediaFile: null, products: []
                },
                d_errors: null
            }
        },
        created() {
            if (this.$route.params.id) {
                if (!this.d_project.id) {
                    this.d_loading.project = true;
                    AdminAPI.projects
                        .getOne(this.$route.params.id, {
                            with: ['mediaFile', 'products'],
                        })
                        .then(project => {
                            this.$set(this, 'd_project', project);
                            this.d_loading.project = false;
                        })
                } else if (!this.d_project.products) {
                    this.d_loading.products = true;
                    AdminAPI.projects
                        .getOne(this.$route.params.id, {
                            with: ['products'],
                        })
                        .then(project => {
                            this.$set(this.d_project, 'products', project.products);
                            this.d_loading.products = false;
                        })
                }
            }
        },
        methods: {
            submit() {
                this.d_loading.submit = true;
                if (this.$route.params.id) {
                    AdminAPI.projects.update(this.$route.params.id, this.packRequest())
                        .then(response => {
                            this.d_loading.submit = false;
                            this.$router.push({name: 'projects'});
                        })
                        .catch(errors => {
                            this.d_loading.submit = false;
                            this.d_errors = errors.data;
                        });
                } else {
                    AdminAPI.projects.store(this.packRequest())
                        .then(response => {
                            this.d_loading.submit = false;
                            this.$router.push({name: 'projects'});
                        })
                        .catch(errors => {
                            this.d_loading.submit = false;
                            this.d_errors = errors.data;
                        });
                }
            },
            destroy() {
                this.d_loading.destroy = true;
                AdminAPI.projects.destroy(this.$route.params.id)
                    .then(response => {
                        this.d_loading.destroy = false;
                        this.$router.push({name: 'projects'});
                    })
                    .catch(errors => {
                        this.d_loading.destroy = false;
                        this.d_errors = errors.data;
                    });
            },
            packRequest() {
                return {
                    description: this.d_project.description,
                    product_ids: this.d_project.products.map(item => item.id),
                    media_file_id: this.d_project.mediaFile ?
                        this.d_project.mediaFile.id : null,
                };
            }
        }
    }
</script>

<style scoped>

</style>