<template>
    <div class="container">
        <div class="d-flex align-items-center">
            <router-link :to="{name:'promocodes'}" class="btn btn-link btn-sm mb-2">
                <i class="icofont-arrow-left mr-2"></i>Назад к списку промокодов
            </router-link>
        </div>
        <div class="mb-5">
            <template v-if="$route.params.promocodeId">
                <h2 class="font-weight-bold">Редактирование промокода {{$route.params.promocodeId}}</h2>
            </template>
            <template v-else>
                <h2 class="font-weight-bold">Новый промокод</h2>
            </template>
        </div>
        <loading-component v-if="d_loading.promocode"></loading-component>
        <form @submit.prevent="submit"
              v-else>
            <div class="row">
                <div class="col-12 col-md mb-3">
                    <v-input label="Название промокода"
                             v-model="d_promocode.name"></v-input>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md mb-3">
                    <v-input type="number"
                             required
                             label="Минимальная сумма заказа"
                             v-model="d_promocode.minAmount"></v-input>
                </div>
                <div class="col-12 col-md mb-3">
                    <v-input type="number"
                             required
                             label="Сумма скидки"
                             v-model="d_promocode.sale"></v-input>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md mb-3">
                    <v-input type="number"
                             required
                             label="Максимальное количество использований"
                             v-model="d_promocode.maxUsedCount"></v-input>
                </div>
                <div class="col-12 col-md mb-3">
                    <v-datetime type="date"
                                required
                                label="Дата сгорания"
                                v-model="d_promocode.expiresAt"></v-datetime>
                </div>
            </div>
            <request-errors v-if="d_error"
                            :errors="d_error"></request-errors>
            <button type="submit" class="btn btn-primary"
                    v-if="$route.params.promocodeId"
                    :class="{'btn_is-loading':d_loading.submit}">Применить изменения
            </button>
            <button type="submit" class="btn btn-primary"
                    v-else
                    :class="{'btn_is-loading':d_loading.submit}">Создать промокод
            </button>
        </form>
    </div>
</template>

<script>
    import {promocodes} from "../../api/AdminAPI";
    import RequestErrors from "../utils/RequestErrors";
    import LoadingComponent from "../utils/LoadingComponent";
    import VInput from "../utils/VInput";
    import VDatetime from "../utils/VDatetime";

    export default {
        name: "ThePromocodeEditor",
        components: {VDatetime, VInput, LoadingComponent, RequestErrors},
        props: ['promocode'],
        data() {
            return {
                d_loading: {submit: false, promocode: false},
                d_promocode: this.promocode ? JSON.parse(JSON.stringify(this.promocode)) : {},
                d_error: null
            }
        },
        created() {
            if (this.$route.params.promocodeId) {
                if (!this.d_promocode.id) {
                    this.d_loading.promocode = true;
                    promocodes.getOne(this.$route.params.promocodeId)
                        .then(response => {
                            this.$set(this, 'd_promocode', response);
                            this.d_loading.promocode = false;
                        })
                }
            }
        },
        methods: {
            submit() {
                this.d_loading.submit = true;
                if (this.$route.params.promocodeId) {
                    promocodes.update(this.$route.params.promocodeId, this.packRequest())
                        .then(promocode => {
                            this.d_loading.submit = false;
                            this.$router.push({name: 'promocodes'});
                        })
                        .catch(error => {
                            this.d_loading.submit = false;
                            this.d_error = error.data;
                        });
                } else {
                    promocodes.store(this.packRequest())
                        .then(promocode => {
                            this.d_loading.submit = false;
                            this.$router.push({name: 'promocodes'});
                        })
                        .catch(error => {
                            this.d_loading.submit = false;
                            this.d_error = error.data;
                        });
                }
            },
            packRequest() {
                return {
                    name: this.d_promocode.name,
                    min_amount: this.d_promocode.minAmount,
                    sale: this.d_promocode.sale,
                    max_used_count: this.d_promocode.maxUsedCount,
                    expires_at: this.d_promocode.expiresAt,
                }
            }
        }
    }
</script>

<style scoped>

</style>