<template>
    <div class="container">
        <h1>Акции</h1>
        <div class="mb-5">
            <router-link class="btn btn-primary mr-3"
                         :to="{name:'sales.create'}">
                <i class="icofont-plus"></i> Создать новую акцию
            </router-link>
        </div>
        <div class="row"
             v-if="d_sales.length > 0">
            <div class="col-12 col-md-6 mb-3"
                 v-for="sale in d_sales">
                <div class="sale"
                     :style="{'background-image':`url(${sale.mediaFile.url})`}">
                    <div class="position-relative">
                        <div class="sale__content">
                            <h2>{{sale.name}}</h2>
                            <div>
                                <small>{{sale.startsAt|f_datetime}} - {{sale.finishesAt|f_datetime}}</small>
                            </div>
                            <div v-html="sale.description"></div>
                        </div>
                        <div class="mt-auto">
                            <router-link class="btn btn-outline-light"
                                         :to="{name:'sales.edit', params:{id: sale.id, sale: sale}}">
                                <i class="icofont-edit-alt"></i>
                                Изменить
                            </router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="h4 text-muted"
             v-else-if="!d_loading.sales">
            Не создано ни одной акции
            <i class="icofont-sad mr-2"></i>
        </div>
        <loading-component v-if="d_loading.sales"></loading-component>
        <intersection-observer-component
            @observe="fetch"></intersection-observer-component>
    </div>
</template>

<script>
import AdminAPI from "../../api/AdminAPI";
import LoadingComponent from "../utils/LoadingComponent";
import IntersectionObserverComponent from "../utils/IntersectionObserverComponent";

export default {
    name: "TheSales",
    components: {IntersectionObserverComponent, LoadingComponent},
    data() {
        return {
            d_loading: {
                sales: false
            },
            d_sales: [],
            d_rowsPerPage: 12,
            d_canLoadMore: true,
        }
    },
    methods: {
        fetch() {
            if (this.d_canLoadMore) {
                this.d_loading.sales = true;
                AdminAPI.sales.get({
                    with: ["mediaFile"],
                    offset: this.d_sales.length,
                    limit: this.d_rowsPerPage,
                }).then(sales => {
                    this.d_sales = this.d_sales.concat(sales);
                    this.d_canLoadMore = !(sales.length < this.d_rowsPerPage);
                    this.d_loading.sales = false;
                });
            }
        },
    }
}
</script>

<style scoped lang="scss">
.sale {
    border-radius: 4px;
    flex-direction: column;
    min-height: 0;
    padding: 15px;
    overflow: hidden;

    .sale__content {
        max-height: 200px;
        margin-bottom: 15px;
        overflow: hidden;
    }
}
</style>
