<template>
    <div class="container">
        <h1 class="mb-4">Статистика</h1>
        <div class="mb-5">
            <div class="row">
                <div class="col-12 col-md-4 mb-3 mb-md-0">
                    <v-datetime v-model="d_period.from"
                                label="Период с"></v-datetime>
                </div>
                <div class="col-12 col-md-4 mb-3 mb-md-0">
                    <v-datetime v-model="d_period.to"
                                label="Период по"></v-datetime>
                </div>
                <div class="col-12 col-md-4 d-flex align-items-center">
                    <button type="button" class="btn btn-info"
                            @click="fetch">Обновить
                    </button>
                    <button type="button" class="btn btn-info ml-3"
                            @click="d_showUpdExport = true"
                    >Скачать УПД
                    </button>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-12 col-md-6 mb-5">
                    <chart-orders :orders="d_orders"></chart-orders>
                </div>
                <div class="col-12 col-md-6 mb-5">
                    <chart-order-product-statuses :orderProducts="d_orderProducts"></chart-order-product-statuses>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 mb-5">
                    <chart-amount-by-products :orderProducts="d_orderProducts"></chart-amount-by-products>
                </div>
            </div>
        </div>
        <upd-exporter v-if="d_showUpdExport"
                      :from="d_period.from"
                      :to="d_period.to"
                      @close="d_showUpdExport = false"
        />
    </div>
</template>

<script>
import VDatetime from "../utils/VDatetime";
import ChartOrders from "./Charts/ChartOrders";
import {orderProducts, orders} from "../../api/AdminAPI";
import ChartOrderProductStatuses from "./Charts/ChartOrderProductStatuses";
import ChartAmountByProducts from "./Charts/ChartAmountByProducts";
import moment from "moment";
import UpdExporter from "@/js/components/Admin/UpdExporter";


export default {
    name: "TheStatistic",
    components: {UpdExporter, ChartAmountByProducts, ChartOrderProductStatuses, ChartOrders, VDatetime},
    data() {
        let today = new Date();
        today.setHours(23, 59, 59);
        let firstDayOfMonth = new Date(today.getFullYear(), today.getMonth(), 1);
        return {
            d_period: {
                from: firstDayOfMonth,
                to: today
            },
            d_orders: null,
            d_orderProducts: null,
            d_showUpdExport: false,
        }
    },
    computed: {
    },
    created() {
        this.fetch();
    },
    methods: {
        fetch() {
            this.d_orders = null;
            this.d_orderProducts = null;
            orders.get({
                filters: [
                    ['created_at', '>=', this.d_period.from],
                    ['created_at', '<', this.d_period.to],
                ]
            }).then(response => this.d_orders = response);

            orderProducts.get({
                filters: [
                    ['created_at', '>=', this.d_period.from],
                    ['created_at', '<', this.d_period.to],
                ],
                with: ['product']
            }).then(response => this.d_orderProducts = response);
        }
    }
}
</script>

<style scoped>

</style>
