<template>
    <div class="container">
        <template v-if="!d_loading.sale">
            <div class="d-flex align-items-center">
                <router-link :to="{name:'sales'}" class="btn btn-link btn-sm mb-2">
                    <i class="icofont-arrow-left mr-2"></i>Назад к списку акций
                </router-link>
                <div class="ml-auto" v-if="$route.params.id">
                    <button class="btn btn-danger btn-sm text-right"
                            :class="{'btn_is-loading': d_loading.destroy}"
                            type="button"
                            @click="destroy">
                        <i class="icofont-close"></i> Удалить
                    </button>
                </div>
            </div>
            <form @submit.prevent="submit">
                <div class="mb-5">
                    <template v-if="$route.params.id">
                        <h2 class="font-weight-bold">{{d_sale.name}}</h2>
                        <h5>Редактирование акции</h5>
                    </template>
                    <template v-else>
                        <h2 class="font-weight-bold">Новая акция</h2>
                    </template>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <v-input class="mb-4" label="Название"
                                 v-model="d_sale.name"></v-input>
                    </div>
                    <div class="col-12 col-md-6">
                        <v-checkbox class="mb-4"
                                    type="checkbox"
                                    label="Заблокирована"
                                    v-model="d_sale.disabled"></v-checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <v-datetime class="mb-4" label="Дата старта"
                                    v-model="d_sale.startsAt"></v-datetime>
                    </div>
                    <div class="col-12 col-md-6">
                        <v-datetime class="mb-4" label="Дата окончания"
                                    v-model="d_sale.finishesAt"></v-datetime>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-4">
                        <v-wysiwyg
                                v-model="d_sale.description"></v-wysiwyg>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-4">
                        <attach-area-component
                                label="Изображение акции"
                                :multiple="false"
                                :allow-vk-video="true"
                                v-model="d_sale.mediaFile"></attach-area-component>
                    </div>
                </div>
                <request-errors class="mb-4"
                                v-if="d_errors"
                                :errors="d_errors"></request-errors>

                <button type="submit" class="btn btn-primary"
                        v-if="$route.params.id"
                        :class="{'btn_is-loading': d_loading.submit}">
                    <i class="icofont-check-alt"></i>Применить
                </button>
                <button type="submit" class="btn btn-primary"
                        v-else
                        :class="{'btn_is-loading': d_loading.submit}">
                    <i class="icofont-plus"></i> Создать
                </button>
            </form>
        </template>
        <loading-component v-else></loading-component>
    </div>
</template>

<script>
    import AdminAPI from "../../api/AdminAPI";
    import RequestErrors from "../utils/RequestErrors";
    import LoadingComponent from "../utils/LoadingComponent";
    import AttachAreaComponent from "../utils/AttachAreaComponent";
    import VInput from "../utils/VInput";
    import VTextarea from "../utils/VTextarea";
    import VCheckbox from "../utils/VCheckbox";
    import VDatetime from "../utils/VDatetime";
    import VWysiwyg from "../utils/v-wysiwyg";

    export default {
        name: "TheSaleEditor",
        components: {
            VWysiwyg,
            VDatetime,
            VCheckbox,
            VTextarea,
            VInput,
            AttachAreaComponent,
            LoadingComponent,
            RequestErrors
        },
        props: ['sale'],
        data() {
            return {
                d_loading: {
                    submit: false,
                    destroy: false,
                    sale: false
                },
                d_sale: this.sale || {
                    name: null, description: null, mediaFile: null,
                },
                d_errors: null
            }
        },
        created() {
            if (this.$route.params.id && !this.d_sale.id) {
                this.d_loading.sale = true;
                AdminAPI.sales
                    .getOne(this.$route.params.id, {
                        with: ['mediaFile'],
                    })
                    .then(sale => {
                        this.$set(this, 'd_sale', sale);
                        this.d_loading.sale = false;
                    })
            }
        },
        methods: {
            submit() {
                this.d_loading.submit = true;
                if (this.$route.params.id) {
                    AdminAPI.sales.update(this.$route.params.id, this.packRequest())
                        .then(response => {
                            this.d_loading.submit = false;
                            this.$router.push({name: 'sales'});
                        })
                        .catch(errors => {
                            this.d_loading.submit = false;
                            this.d_errors = errors.data;
                        });
                } else {
                    AdminAPI.sales.store(this.packRequest())
                        .then(response => {
                            this.d_loading.submit = false;
                            this.$router.push({name: 'sales'});
                        })
                        .catch(errors => {
                            this.d_loading.submit = false;
                            this.d_errors = errors.data;
                        });
                }
            },
            destroy() {
                this.d_loading.destroy = true;
                AdminAPI.sales.destroy(this.$route.params.id)
                    .then(response => {
                        this.d_loading.destroy = false;
                        this.$router.push({name: 'sales'});
                    })
                    .catch(errors => {
                        this.d_loading.destroy = false;
                        this.d_errors = errors.data;
                    });
            },
            packRequest() {
                return {
                    name: this.d_sale.name,
                    description: this.d_sale.description,
                    disabled: this.d_sale.disabled,
                    starts_at: this.d_sale.startsAt,
                    finishes_at: this.d_sale.finishesAt,
                    media_file_id: this.d_sale.mediaFile ?
                        this.d_sale.mediaFile.id : null,
                };
            }
        }
    }
</script>

<style scoped>

</style>