<template>
    <div class="container">
        <template v-if="!d_loading.user">
            <div class="d-flex align-items-center">
                <router-link :to="{name:'users'}" class="btn btn-link btn-sm mb-2">
                    <i class="icofont-arrow-left mr-2"></i>Назад к списку пользователей
                </router-link>
            </div>
            <form @submit.prevent="submit">
                <div class="mb-5">
                    <h2 class="font-weight-bold">{{d_user|f_user}}</h2>
                    <h5>Редактирование пользователя</h5>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4 mb-4">
                        <v-input label="Фамилия"
                                 v-model="d_user.secondName"></v-input>
                    </div>
                    <div class="col-12 col-md-4 mb-4">
                        <v-input label="Имя"
                                 v-model="d_user.firstName"></v-input>
                    </div>
                    <div class="col-12 col-md-4 mb-4">
                        <v-input label="Отчество"
                                 v-model="d_user.middleName"></v-input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4 mb-4">
                        <v-input label="Телефон"
                                 v-model="d_user.phone"></v-input>
                    </div>
                    <div class="col-12 col-md-4 mb-4">
                        <v-input label="Email"
                                 type="email"
                                 v-model="d_user.email"></v-input>
                    </div>
                    <div class="col-12 col-md mb-4">
                        <v-datetime label="Дата рождения"
                                    v-model="d_user.birthday"></v-datetime>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4 mb-4">
                        <v-input label="Адрес"
                                 v-model="d_user.address"></v-input>
                    </div>
                </div>
                <div class="mb-4">
                    <v-checkbox class="mb-4"
                                label="Является сотрудником"
                                v-model="d_isStaff"></v-checkbox>
                    <div v-if="d_isStaff">
                        <loading-component v-if="d_loading.permissions"></loading-component>
                        <template v-else>
                            <div class="row">
                                <div class="col-12 col-md-6 mb-4">
                                    <v-input label="Должность"
                                             v-model="d_staff.position"></v-input>
                                </div>
                            </div>
                            <div v-for="(permissionGroup,key) in c_permissions">
                                <h3 class="mb-2">{{key}}</h3>
                                <div class="row">
                                    <div class="col-12 col-md-6 mb-4"
                                         v-for="permission in permissionGroup">
                                        <v-checkbox
                                                :label="permission.name"
                                                :attr-value="permission.id"
                                                v-model="d_staff.permissions"></v-checkbox>
                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>
                </div>
                <request-errors class="mb-4"
                                v-if="d_errors"
                                :errors="d_errors"></request-errors>
                <button type="submit" class="btn btn-primary"
                        :class="{'btn_is-loading': d_loading.submit}">
                    <i class="icofont-check-alt"></i>Применить
                </button>
            </form>
        </template>
        <loading-component v-else></loading-component>
    </div>
</template>

<script>
    import AdminAPI, {permissions} from "../../api/AdminAPI";
    import RequestErrors from "../utils/RequestErrors";
    import LoadingComponent from "../utils/LoadingComponent";
    import VInput from "../utils/VInput";
    import VCheckbox from "../utils/VCheckbox";
    import VDatetime from "../utils/VDatetime";

    export default {
        name: "TheUserEditor",
        components: {
            VDatetime,
            VCheckbox,
            VInput,
            LoadingComponent,
            RequestErrors
        },
        props: ['user'],
        data() {
            return {
                d_loading: {
                    submit: false,
                    destroy: false,
                    user: false,
                    permissions: false,
                },
                d_isStaff: this.user && this.user.staff,
                d_user: this.d_user ? JSON.parse(JSON.stringify(this.user)) : {},
                d_staff: this.prepareStaffObject(this.user),
                d_permissions: null,
                d_errors: null
            }
        },
        computed: {
            c_permissions() {
                if (!this.d_permissions) return null;

                return this.d_permissions.reduce((acc, item) => {
                    let [category, permission] = item.name.split('.');

                    acc[category] = acc[category] || [];
                    acc[category].push({id: item.id, name: permission});

                    return acc;
                }, {});
            }
        },
        watch: {
            d_isStaff(val) {
                if (val && !this.d_permissions && !this.d_loading.permissions) {
                    this.fetchAllPermissions();
                }
            }
        },
        created() {
            if (this.$route.params.userId && !this.d_user.id) {
                this.d_loading.user = true;
                AdminAPI.users
                    .getOne(this.$route.params.userId, {with: ['staff', 'staff.permissions']})
                    .then(user => {
                        this.$set(this, 'd_user', user);
                        if (user.staff) {
                            this.$set(this, 'd_staff', this.prepareStaffObject(user));
                            this.d_isStaff = true;
                        }
                        this.d_loading.user = false;
                    })
            }
        },
        methods: {
            submit() {
                this.d_loading.submit = true;
                AdminAPI.users.update(this.$route.params.userId, this.packRequest())
                    .then(response => {
                        this.d_loading.submit = false;
                        this.$router.push({name: 'users'});
                    })
                    .catch(errors => {
                        this.d_loading.submit = false;
                        this.d_errors = errors.data;
                    });

            },
            destroy() {
                this.d_loading.destroy = true;
            },
            packRequest() {
                return {
                    first_name: this.d_user.firstName,
                    second_name: this.d_user.secondName,
                    middle_name: this.d_user.middleName,
                    phone: this.d_user.phone,
                    email: this.d_user.email,
                    address: this.d_user.address,
                    birthday: this.d_user.birthday,
                    staff: this.d_isStaff ? this.d_staff : false,
                };
            },
            fetchAllPermissions() {
                this.d_loading.permissions = true;
                permissions.get().then(permissions => {
                    this.$set(this, 'd_permissions', permissions);
                    this.d_loading.permissions = false;
                });
            },
            prepareStaffObject(user) {
                let obj = {
                    position: "",
                    permissions: [],
                };

                if (user && user.staff) {
                    obj = {
                        position: user.staff.position,
                        permissions: user.staff.permissions.map(item => item.id),
                    }
                }

                return obj;
            }
        }
    }
</script>

<style scoped>

</style>