<template>
    <div class="container">
        <h1 class="mb-5">Пользователи</h1>
        <table class="table table_simple">
            <thead>
            <tr>
                <td style="width: 50px;">#</td>
                <td>ФИО</td>
                <td>Телефон</td>
                <td>Email</td>
                <td style="width: 50px;"></td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(user,index) in d_users">
                <td>{{index+1}}</td>
                <td>{{user|f_user}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.email}}</td>
                <td>
                    <router-link :to="{name:'users.edit', params:{userId:user.id, user:user}}">
                        <i class="icofont-edit"></i>
                    </router-link>
                </td>
            </tr>
            </tbody>
        </table>
        <loading-component v-if="d_loading.users"></loading-component>
        <intersection-observer-component
                @observe="fetch"></intersection-observer-component>
    </div>
</template>

<script>
    import LoadingComponent from "../utils/LoadingComponent";
    import {users} from "../../api/AdminAPI";
    import RequestErrors from "../utils/RequestErrors";
    import VInput from "../utils/VInput";
    import IntersectionObserverComponent from "../utils/IntersectionObserverComponent";

    export default {
        name: "TheUsers",
        components: {IntersectionObserverComponent, VInput, RequestErrors, LoadingComponent},
        data() {
            return {
                d_loading: {
                    users: false
                },
                d_settings: {},
                d_users: [],
                d_rowsPerPage: 15,
                d_canLoadMore: true,
            }
        },
        methods: {
            fetch() {
                if (this.d_canLoadMore) {
                    this.d_loading.users = true;
                    users.get({
                        with: ['staff', 'staff.permissions'],
                        offset: this.d_users.length,
                        limit: this.d_rowsPerPage,
                    }).then(users => {
                        this.d_users = this.d_users.concat(users);
                        this.d_canLoadMore = !(users.length < this.d_rowsPerPage);
                        this.d_loading.users = false;
                    })
                }
            },
        }
    }
</script>

<style scoped>

</style>