<template>
    <modal-component @close="$emit('close')">
        <template #body>
            <p class="mb-3">Скачивание актов за период с <b>{{ from | f_date }}</b> по <b>{{ to | f_date }}</b></p>
            <loading-component v-if="d_loading"/>
            <template v-else>
                <p v-if="!d_orders.length">За указанный период не найдено загруженных актов.</p>
                <a class="btn btn-primary" v-else
                   :href="c_docsLink">Скачать {{ d_orders.length }}
                    {{ d_orders.length | f_choice('документ', 'документа', 'документов') }} </a>
            </template>
        </template>
    </modal-component>
</template>

<script>
import ModalComponent from "@/js/components/utils/ModalComponent";
import moment from "moment";
import LoadingComponent from "@/js/components/utils/LoadingComponent";
import {orders} from "@/js/api/AdminAPI";

export default {
    name: "UpdExporter",
    components: {LoadingComponent, ModalComponent},
    props: [
        'from', 'to'
    ],
    data() {
        return {
            d_loading: true,
            d_orders: null,
        }
    },
    async mounted() {
        this.d_loading = true;
        this.d_orders = await orders.get({
            filters: [
                ['completed_at', '>=', this.from],
                ['completed_at', '<=', this.to],
                ['client_upd', '!=', null],
            ],
        });
        this.d_loading = false;
    },
    computed: {
        c_docsLink() {
            return `/exportUPDArchive?from=${moment(this.from).format()}&to=${moment(this.to).format()}`;
        },
    }
}
</script>

<style scoped>

</style>
