<template>
    <div>
        <h2 class="mb-3">Доставка</h2>
        <div class="row">
            <div class="col-12 col-md-6 mb-4">
                <v-input type="number"
                         label="Бесплатная доставка от"
                         v-model="d_freeDeliveryFrom"
                ></v-input>
            </div>
        </div>
        <div id="map" class="mb-3"></div>
        <div>
            <button type="button" class="btn btn-primary mr-3"
                    :class="{'btn_is-loading': !d_loading.submit}"
                    @click="submit">Применить
            </button>
            <button type="button" class="btn btn-light"
                    @click="handleAddClick"
            >Добавить зону
            </button>
        </div>
    </div>
</template>

<script>
    import VInput from "../../utils/VInput";
    import {settings} from "../../../api/AdminAPI";
    import LoadingStatus from "../../../utils/LoadingStatus";


    export default {
        name: "DeliveryZonesSettings",
        components: {VInput},
        props: {
            deliveryZones: {
                default: []
            },
            freeDeliveryFrom: null
        },
        data() {
            return {
                LoadingStatus: LoadingStatus,
                d_map: null,
                d_freeDeliveryFrom: this.freeDeliveryFrom,
                d_loading: {
                    submit: LoadingStatus.Initial
                },
                d_editingPolygon: false,
                d_zones: null
            }
        },
        mounted() {
            ymaps.ready(this.initMap);
        },
        methods: {
            initMap() {
                this.d_map = new ymaps.Map("map", {
                    center: [61.264070, 73.393212],
                    zoom: 12,
                    controls: []
                });
                this.d_zones = new ymaps.GeoObjectCollection();
                ymaps.geoQuery(this.deliveryZones).addTo(this.d_zones);
                this.d_map.geoObjects.add(this.d_zones);
                this.d_zones.each(item => this.setupZone(item));
            },
            handleAddClick(e) {
                let zone = this.createZone();
                this.d_zones.add(zone);
                zone.events.fire('click');
            },
            handlePolygonClick(e) {
                if (e.get('target') === this.d_editingPolygon) {
                    this.d_editingPolygon.balloon.open();
                } else {
                    if (this.d_editingPolygon) {
                        this.d_editingPolygon.balloon.close();
                        this.d_editingPolygon.editor.stopDrawing();
                        this.d_editingPolygon.editor.stopEditing();
                    }
                    if (e.get('target').geometry.getCoordinates().length === 0) {
                        e.get('target').editor.startDrawing();
                    } else {
                        e.get('target').editor.startEditing();
                    }
                    this.d_editingPolygon = e.get('target');
                }
            },
            setupZone(zone) {
                let $vm = this;
                let BalloonContentLayout = ymaps.templateLayoutFactory.createClass(
                    `
                    <form>
                        <div class="input-wrap">
                            <label>Название
                                <input type="text" name="name" value="{{properties.name}}"/>
                            </label>
                        </div>
                        <div class="input-wrap">
                            <label>Стоимость доставки
                                <input type="number" min="0" name="price" value="{{properties.price}}"/>
                            </label>
                        </div>
                        <div class="input-wrap">
                            <label>Цвет заливки
                                <input type="color" name="fillColor" value="{{properties.fillColor}}"/>
                            </label>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-sm btn-primary mr-3">Применить</button>
                            <button type="button" id="btn_balloonCancel" class="btn btn-sm btn-link">Удалить</button>
                        </div>
                    </form>
                    `,
                    {
                        build: function () {
                            BalloonContentLayout.superclass.build.call(this);
                            let form = this.getElement().querySelector('form');
                            form.onsubmit = this.applyChanges.bind(form, this);
                            this.getElement().querySelector('#btn_balloonCancel').onclick = this.deletePolygon.bind(this);
                        },
                        applyChanges(balloon, event) {
                            let polygon = balloon._data.geoObject;
                            event.stopPropagation();
                            event.preventDefault();
                            let inputs = [...this.querySelectorAll('input')].reduce((acc, item) => {
                                acc[item.name] = item.value;
                                return acc;
                            }, {});
                            inputs.hintContent = inputs.name + ': ' + inputs.price + '₽';
                            polygon.properties.set(inputs);
                            polygon.options.set({
                                fillColor: inputs.fillColor + '55',
                            });
                            balloon.events.fire('userclose');
                        },
                        deletePolygon(e) {
                            e.stopPropagation();
                            e.preventDefault();
                            // this._data.geoObject.setParent(null);
                            $vm.d_zones.remove(this._data.geoObject);
                        },
                    });

                zone.options.set({
                    balloonContentLayout: BalloonContentLayout,
                    editorDrawingCursor: "crosshair",
                    editorMaxPoints: 15,
                    fillColor: zone.properties.get('fillColor') + '44',
                    strokeColor: '#00000055',
                    strokeWidth: 1,
                    openBalloonOnClick: false
                });
                let stateMonitor = new ymaps.Monitor(zone.editor.state);
                stateMonitor.add("drawing", function (newValue) {
                    zone.options.set("strokeColor", newValue ? '#FF0000' : '#00000055');
                });

                zone.events.add('click', this.handlePolygonClick, this);
            },
            createZone() {
                let zone = {
                    type: 'Polygon',
                    coordinates: [],
                    properties: {
                        name: 'Новая зона',
                        price: 300,
                        fillColor: '#00FF00',
                    }
                };
                let myPolygon = new ymaps.Polygon(zone.coordinates, zone.properties, {
                    editorDrawingCursor: "crosshair",
                    editorMaxPoints: 15,
                    fillColor: zone.properties.fillColor + '44',
                    strokeColor: '#00000055',
                    strokeWidth: 1,
                    openBalloonOnClick: false
                });

                this.setupZone(myPolygon);
                return myPolygon;
            },
            packRequest() {
                let zones = this.d_zones.toArray().map((item, index) => {
                    return {
                        type: 'Feature',
                        id: index,
                        geometry: {
                            type: item.geometry.getType(),
                            coordinates: item.geometry.getCoordinates(),
                        },
                        properties: item.properties.getAll()
                    };
                }).filter(item => item.geometry.coordinates[0].length > 2);

                return {
                    delivery_zones: {
                        type: 'FeatureCollection',
                        features: zones
                    },
                    free_delivery_from: this.d_freeDeliveryFrom
                };
            },
            submit() {
                this.d_loading.submit = LoadingStatus.Loading;
                settings.update(this.packRequest()).then(res => {
                    this.$store.dispatch('messages/add', {
                        message: `Изменения успешно применены`
                    });
                    this.d_loading.submit = LoadingStatus.LoadingSuccess;
                });
            }
        }
    }
</script>

<style scoped lang="scss">
    #map {
        height: 500px;

        ::v-deep .input-wrap {
            label {
                font-weight: bold;
                width: 180px;
            }

            input {
                width: 100%;

                &:not([type=color]) {
                    padding: 3px 7px;
                }
            }
        }
    }
</style>