<template>
    <div class="container">
        <loading-component v-if="d_loading.settings"></loading-component>
        <template v-else>
            <div class="mb-5">
                <h2>Общие настройки</h2>
                <form @submit.prevent="submitSettings">
                    <div class="row mb-3">
                        <div class="col-12 col-md mb-3 mb-md-0">
                            <v-input
                                    label="Процент стоимости в бонусы"
                                    type="number"
                                    v-model.number="c_bonusPercent"></v-input>
                        </div>
                    </div>
                    <request-errors v-if="d_errors"
                                    :errors="d_errors"></request-errors>
                    <button type="submit" class="btn btn-primary"
                            :class="{'btn_is-loading': d_loading.submitSettings}">
                        <i class="icofont-check-alt"></i>Применить
                    </button>
                </form>
            </div>
            <div class="mb-5">
                <delivery-zones-settings
                        :freeDeliveryFrom="d_settings.freeDeliveryFrom"
                        :deliveryZones="d_settings.deliveryZones"></delivery-zones-settings>
            </div>
        </template>
    </div>
</template>

<script>
    import LoadingComponent from "../../utils/LoadingComponent";
    import AdminAPI from "../../../api/AdminAPI";
    import RequestErrors from "../../utils/RequestErrors";
    import VInput from "../../utils/VInput";
    import DeliveryZonesSettings from "./DeliveryZonesSettings";

    export default {
        name: "TheSettings",
        components: {DeliveryZonesSettings, VInput, RequestErrors, LoadingComponent},
        data() {
            return {
                d_loading: {
                    settings: false,
                    submitSettings: false,
                },
                d_settings: {},
                d_errors: false
            }
        },
        computed: {
            c_bonusPercent: {
                get() {
                    return (this.d_settings.bonusBet * 100).toFixed(0);
                },
                set(val) {
                    this.d_settings.bonusBet = val / 100;
                }
            },
        },
        created() {
            this.d_loading.settings = true;
            AdminAPI.settings.get().then(settings => {
                this.d_settings = settings;
                this.d_loading.settings = false;
            });
        },
        methods: {
            submitSettings() {
                this.d_loading.submitSettings = true;
                AdminAPI.settings.update({
                    'bonus_bet': this.d_settings.bonusBet,
                }).then(settings => {
                    this.d_settings = settings;
                    this.d_loading.submitSettings = false;
                });
            }
        }
    }
</script>

<style scoped>

</style>