.p-sales__sale {
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  //&::before {
  //  content: "";
  //  position: absolute;
  //  width: 100%;
  //  height: 100%;
  //  background: #000000bf;
  //}

  h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
    color: inherit;
  }
}
